# Wrangling and Analyzing WeRateDogs Twitter Account (DAND project)
Abdullah Almuzaini

## Introduction

##  Data Gathering

> Gathering the Pieces of datasets required for the project. In this case, three datasets will be fathered and dowlnloaded into the notebook
> The three datasets are:
>    - WeRateDogs twitter account archive, which is hosted on Udacity server on this link.

#### Importing the necessary libraries

In [1]:
import requests
import os
import pandas as pd
import tweepy
import json
from tqdm import tqdm
pd.set_option('display.max_rows', None, 'display.max_columns',None)
import numpy as np
import re

### Below cell contains two functions:
> - new_folder() to create new folder
> - get_files() to download files from the internet programmticly

In [2]:

def new_folder(folder_name): 
    """
    this funcation creates a new directory in the currnet running directory when it's called
    """
    if not os.path.exists(folder_name):
        os.makedirs(folder_name)


def get_files(file_name, url):
    """
    The following function download any file from the internet using requests library and save it in the 'dataset' directory. 
    note about the file_name: 
    the file_name var has to include the file format


    """ 
    response = requests.get(url)
    with open(os.path.join('dataset', url.split('/')[-1]), mode='wb') as file:
        file.write(response.content)

In [3]:
# Create a new folder if it does not exist 
new_folder('dataset')

In [4]:
URL = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/59a4e958_twitter-archive-enhanced/twitter-archive-enhanced.csv'

data = get_files(file_name = "twitter-archive-enhanced.csv", url= URL  )
df = pd.read_csv('dataset'+ '/'+'twitter-archive-enhanced.csv', parse_dates=True)
df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [5]:
# The URL to `image-predictions.tsv` dataset

URL = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

# Download the dataset 

data = get_files(file_name = "image-predictions.tsv", url= URL)

# Read the dataset in pandas DataFrame
img_pred = pd.read_csv('dataset/image-predictions.tsv', sep='\t')
img_pred.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [6]:
df.shape

(2356, 17)

### Setting up tweetpy

In [7]:
# Twitter Credentials

ACCESS_TOKEN = ""  
ACCESS_TOKEN_SECRET = ""  
CONSUMER_KEY = "" 
CONSUMER_SECRET = ""

auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)

api = tweepy.API(auth,wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [7]:
# Test the api
tweet = api.get_status(677187300187611136)
print(tweet.user.screen_name)

> #### The following block of code will collect three pieces of data about each tweet
> and these pieces of data are:
>    - tweet_id (will be brought from 'twitter-archive-enhanced.csv'
>    - retweet_count (will be collected using tweetpy.api)
>    - favorite_count (will be collected using tweetpy.api)

> #### These pieces of data will be added to a dict var in order to save them in json format

In [58]:
data = {}
data['tweet_info']=  []
for i in tqdm(df['tweet_id']):
    try:
        tweet = api.get_status(i)
        data['tweet_info'].append({
            'tweet_id' : i ,
            'retweet_count': tweet.retweet_count ,
            'likes_count' : tweet.favorite_count
        })
    except:
        print("The tweet associated to the tweet id", i," was not found")

  1%|          | 21/2356 [00:04<09:14,  4.21it/s]

The tweet associated to the tweet id 888202515573088257  was not found

  4%|▍         | 97/2356 [00:18<07:07,  5.28it/s]

The tweet associated to the tweet id 873697596434513921  was not found

  4%|▍         | 103/2356 [00:19<06:31,  5.75it/s]

The tweet associated to the tweet id 872668790621863937  was not found

  4%|▍         | 106/2356 [00:19<06:12,  6.05it/s]

The tweet associated to the tweet id 872261713294495745  was not found

  5%|▌         | 120/2356 [00:22<07:00,  5.32it/s]

The tweet associated to the tweet id 869988702071779329  was not found

  6%|▌         | 134/2356 [00:24<06:46,  5.47it/s]

The tweet associated to the tweet id 866816280283807744  was not found

  7%|▋         | 157/2356 [00:28<06:01,  6.08it/s]

The tweet associated to the tweet id 861769973181624320  was not found

  8%|▊         | 183/2356 [00:35<13:02,  2.78it/s]

The tweet associated to the tweet id 856602993587888130  was not found

  8%|▊         | 187/2356 [00:36<11:39,  3.10it/s]

The tweet associated to the tweet id 856330835276025856  was not found

  9%|▉         | 213/2356 [00:41<06:08,  5.82it/s]

The tweet associated to the tweet id 851953902622658560  was not found

 11%|█         | 249/2356 [00:47<06:38,  5.28it/s]

The tweet associated to the tweet id 845459076796616705  was not found

 11%|█         | 255/2356 [00:48<05:42,  6.14it/s]

The tweet associated to the tweet id 844704788403113984  was not found

 11%|█         | 262/2356 [00:49<05:55,  5.89it/s]

The tweet associated to the tweet id 842892208864923648  was not found

 13%|█▎        | 298/2356 [00:56<05:36,  6.11it/s]

The tweet associated to the tweet id 837366284874571778  was not found

 13%|█▎        | 300/2356 [00:56<05:45,  5.94it/s]

The tweet associated to the tweet id 837012587749474308  was not found

 15%|█▌        | 365/2356 [01:08<05:28,  6.06it/s]

The tweet associated to the tweet id 829374341691346946  was not found

 16%|█▋        | 384/2356 [01:12<06:34,  5.00it/s]

The tweet associated to the tweet id 827228250799742977  was not found

 22%|██▏       | 508/2356 [01:34<05:08,  5.98it/s]

The tweet associated to the tweet id 812747805718642688  was not found

 24%|██▍       | 568/2356 [01:46<04:54,  6.08it/s]

The tweet associated to the tweet id 802247111496568832  was not found

 32%|███▏      | 752/2356 [02:19<04:31,  5.90it/s]

The tweet associated to the tweet id 779123168116150273  was not found

 33%|███▎      | 786/2356 [02:26<05:02,  5.19it/s]

The tweet associated to the tweet id 775096608509886464  was not found

 35%|███▍      | 817/2356 [02:31<04:15,  6.02it/s]

The tweet associated to the tweet id 771004394259247104  was not found

 35%|███▍      | 820/2356 [02:32<05:09,  4.96it/s]

The tweet associated to the tweet id 770743923962707968  was not found

 36%|███▌      | 843/2356 [02:36<04:20,  5.80it/s]

The tweet associated to the tweet id 766864461642756096  was not found

 38%|███▊      | 889/2356 [02:44<04:10,  5.85it/s]

The tweet associated to the tweet id 759923798737051648  was not found

 38%|███▊      | 892/2356 [02:44<04:12,  5.80it/s]

The tweet associated to the tweet id 759566828574212096  was not found

 38%|███▊      | 900/2356 [02:46<04:40,  5.19it/s]Rate limit reached. Sleeping for: 734
 40%|███▉      | 934/2356 [15:11<04:07,  5.74it/s]

The tweet associated to the tweet id 754011816964026368  was not found

 73%|███████▎  | 1727/2356 [17:37<01:41,  6.20it/s]

The tweet associated to the tweet id 680055455951884288  was not found

 76%|███████▋  | 1800/2356 [17:50<01:44,  5.32it/s]Rate limit reached. Sleeping for: 735
100%|██████████| 2356/2356 [31:53<00:00,  1.23it/s]

In [59]:
# Create a text file in the current directory and save each tweet's retweet count and favorite ("like") count
# in text file as json format

with open('tweet_json1.txt', 'w') as outfile:
    json.dump(data, outfile)

> ### Below, I will load "tweet_json.txt" into the notebook and print it out to see how it looks

In [8]:
# Read 'tweet.txt' line by line
with open('tweet_json.txt') as json_file:
    data = json.load(json_file)
    for p in data['tweet_info']:
        print('Tweet id: ' , p['tweet_id'])
        print('Retweet count: ' , p['retweet_count'])
        print('Likes count: ' , p['likes_count'])
        print('')

Tweet id:  892420643555336193
Retweet count:  7189
Likes count:  34531

Tweet id:  892177421306343426
Retweet count:  5396
Likes count:  29940

Tweet id:  891815181378084864
Retweet count:  3562
Likes count:  22530

Tweet id:  891689557279858688
Retweet count:  7413
Likes count:  37769

Tweet id:  891327558926688256
Retweet count:  7947
Likes count:  36071

Tweet id:  891087950875897856
Retweet count:  2672
Likes count:  18197

Tweet id:  890971913173991426
Retweet count:  1715
Likes count:  10603

Tweet id:  890729181411237888
Retweet count:  16176
Likes count:  58118

Tweet id:  890609185150312448
Retweet count:  3712
Likes count:  25055

Tweet id:  890240255349198849
Retweet count:  6247
Likes count:  28574

Tweet id:  890006608113172480
Retweet count:  6296
Likes count:  27595

Tweet id:  889880896479866881
Retweet count:  4274
Likes count:  25085

Tweet id:  889665388333682689
Retweet count:  8560
Likes count:  42978

Tweet id:  889638837579907072
Retweet count:  3818
Likes count:  24189

Tweet id:  889531135344209921
Retweet count:  1926
Likes count:  13632

Tweet id:  889278841981685760
Retweet count:  4559
Likes count:  22592

Tweet id:  888917238123831296
Retweet count:  3838
Likes count:  26166

Tweet id:  888804989199671297
Retweet count:  3630
Likes count:  22941

Tweet id:  888554962724278272
Retweet count:  2951
Likes count:  17695

Tweet id:  888078434458587136
Retweet count:  2971
Likes count:  19551

Tweet id:  887705289381826560
Retweet count:  4643
Likes count:  27190

Tweet id:  887517139158093824
Retweet count:  10078
Likes count:  41632

Tweet id:  887473957103951883
Retweet count:  15397
Likes count:  61530

Tweet id:  887343217045368832
Retweet count:  9029
Likes count:  30217

Tweet id:  887101392804085760
Retweet count:  5106
Likes count:  27540

Tweet id:  886983233522544640
Retweet count:  6518
Likes count:  31055

Tweet id:  886736880519319552
Retweet count:  2713
Likes count:  10709

Tweet id:  886680336477933568
Retweet count:  3828
Likes count:  20175

Tweet id:  886366144734445568
Retweet count:  2698
Likes count:  18951

Tweet id:  886267009285017600
Retweet count:  3
Likes count:  104

Tweet id:  886258384151887873
Retweet count:  5412
Likes count:  25090

Tweet id:  886054160059072513
Retweet count:  95
Likes count:  0

Tweet id:  885984800019947520
Retweet count:  5753
Likes count:  29227

Tweet id:  885528943205470208
Retweet count:  5477
Likes count:  32267

Tweet id:  885518971528720385
Retweet count:  3190
Likes count:  18389

Tweet id:  885311592912609280
Retweet count:  15829
Likes count:  0

Tweet id:  885167619883638784
Retweet count:  3752
Likes count:  19639

Tweet id:  884925521741709313
Retweet count:  15425
Likes count:  68847

Tweet id:  884876753390489601
Retweet count:  4783
Likes count:  24930

Tweet id:  884562892145688576
Retweet count:  4009
Likes count:  21793

Tweet id:  884441805382717440
Retweet count:  4893
Likes count:  24380

Tweet id:  884247878851493888
Retweet count:  17343
Likes count:  64789

Tweet id:  884162670584377345
Retweet count:  2550
Likes count:  18332

Tweet id:  883838122936631299
Retweet count:  2932
Likes count:  19600

Tweet id:  883482846933004288
Retweet count:  8476
Likes count:  41091

Tweet id:  883360690899218434
Retweet count:  3156
Likes count:  20373

Tweet id:  883117836046086144
Retweet count:  5668
Likes count:  33249

Tweet id:  882992080364220416
Retweet count:  3312
Likes count:  21425

Tweet id:  882762694511734784
Retweet count:  4195
Likes count:  25324

Tweet id:  882627270321602560
Retweet count:  5195
Likes count:  25149

Tweet id:  882268110199369728
Retweet count:  9914
Likes count:  40094

Tweet id:  882045870035918850
Retweet count:  4173
Likes count:  26322

Tweet id:  881906580714921986
Retweet count:  2916
Likes count:  21895

Tweet id:  881666595344535552
Retweet count:  9178
Likes count:  45519

Tweet id:  881633300179243008
Retweet count:  8
Likes count:  113

Tweet id:  881536004380872706
Retweet count:  13735
Likes count:  44396

Tweet id:  881268444196462592
Retweet count:  4578
Likes count:  20936

Tweet id:  880935762899988482
Retweet count:  2392
Likes count:  15371

Tweet id:  880872448815771648
Retweet count:  3277
Likes count:  19137

Tweet id:  880465832366813184
Retweet count:  5331
Likes count:  25539

Tweet id:  880221127280381952
Retweet count:  3565
Likes count:  24207

Tweet id:  880095782870896641
Retweet count:  3737
Likes count:  24829

Tweet id:  879862464715927552
Retweet count:  2992
Likes count:  20136

Tweet id:  879674319642796034
Retweet count:  9
Likes count:  284

Tweet id:  879492040517615616
Retweet count:  2707
Likes count:  21141

Tweet id:  879415818425184262
Retweet count:  38376
Likes count:  94859

Tweet id:  879376492567855104
Retweet count:  2696
Likes count:  15158

Tweet id:  879130579576475649
Retweet count:  5868
Likes count:  0

Tweet id:  879050749262655488
Retweet count:  4037
Likes count:  20250

Tweet id:  879008229531029506
Retweet count:  2302
Likes count:  17126

Tweet id:  878776093423087618
Retweet count:  3520
Likes count:  17474

Tweet id:  878604707211726852
Retweet count:  6063
Likes count:  26987

Tweet id:  878404777348136964
Retweet count:  1096
Likes count:  0

Tweet id:  878316110768087041
Retweet count:  5676
Likes count:  0

Tweet id:  878281511006478336
Retweet count:  1096
Likes count:  6936

Tweet id:  878057613040115712
Retweet count:  5868
Likes count:  37895

Tweet id:  877736472329191424
Retweet count:  16231
Likes count:  70921

Tweet id:  877611172832227328
Retweet count:  70
Likes count:  0

Tweet id:  877556246731214848
Retweet count:  3253
Likes count:  20390

Tweet id:  877316821321428993
Retweet count:  4462
Likes count:  24690

Tweet id:  877201837425926144
Retweet count:  4761
Likes count:  24365

Tweet id:  876838120628539392
Retweet count:  2868
Likes count:  18615

Tweet id:  876537666061221889
Retweet count:  4070
Likes count:  21451

Tweet id:  876484053909872640
Retweet count:  2046
Likes count:  16916

Tweet id:  876120275196170240
Retweet count:  4008
Likes count:  25202

Tweet id:  875747767867523072
Retweet count:  3673
Likes count:  22643

Tweet id:  875144289856114688
Retweet count:  4233
Likes count:  19790

Tweet id:  875097192612077568
Retweet count:  5249
Likes count:  24760

Tweet id:  875021211251597312
Retweet count:  4075
Likes count:  23029

Tweet id:  874680097055178752
Retweet count:  4016
Likes count:  25115

Tweet id:  874434818259525634
Retweet count:  12538
Likes count:  0

Tweet id:  874296783580663808
Retweet count:  3570
Likes count:  23504

Tweet id:  874057562936811520
Retweet count:  3462
Likes count:  20556

Tweet id:  874012996292530176
Retweet count:  8786
Likes count:  30772

Tweet id:  873580283840344065
Retweet count:  3409
Likes count:  21883

Tweet id:  873337748698140672
Retweet count:  1358
Likes count:  0

Tweet id:  873213775632977920
Retweet count:  1358
Likes count:  6455

Tweet id:  872967104147763200
Retweet count:  4665
Likes count:  24588

Tweet id:  872820683541237760
Retweet count:  3235
Likes count:  13341

Tweet id:  872620804844003328
Retweet count:  3143
Likes count:  18751

Tweet id:  872486979161796608
Retweet count:  7899
Likes count:  36885

Tweet id:  872122724285648897
Retweet count:  7018
Likes count:  30911

Tweet id:  871879754684805121
Retweet count:  9465
Likes count:  33829

Tweet id:  871762521631449091
Retweet count:  3038
Likes count:  18286

Tweet id:  871515927908634625
Retweet count:  3017
Likes count:  18263

Tweet id:  871166179821445120
Retweet count:  5001
Likes count:  0

Tweet id:  871102520638267392
Retweet count:  4803
Likes count:  18945

Tweet id:  871032628920680449
Retweet count:  3304
Likes count:  20581

Tweet id:  870804317367881728
Retweet count:  5392
Likes count:  30460

Tweet id:  870726314365509632
Retweet count:  3
Likes count:  109

Tweet id:  870656317836468226
Retweet count:  2260
Likes count:  11109

Tweet id:  870374049280663552
Retweet count:  23321
Likes count:  75561

Tweet id:  870308999962521604
Retweet count:  3630
Likes count:  19885

Tweet id:  870063196459192321
Retweet count:  7247
Likes count:  33088

Tweet id:  869772420881756160
Retweet count:  8889
Likes count:  38743

Tweet id:  869702957897576449
Retweet count:  5506
Likes count:  25572

Tweet id:  869596645499047938
Retweet count:  2703
Likes count:  14506

Tweet id:  869227993411051520
Retweet count:  3280
Likes count:  18530

Tweet id:  868880397819494401
Retweet count:  12576
Likes count:  59242

Tweet id:  868639477480148993
Retweet count:  1794
Likes count:  0

Tweet id:  868622495443632128
Retweet count:  4602
Likes count:  24150

Tweet id:  868552278524837888
Retweet count:  1794
Likes count:  9165

Tweet id:  867900495410671616
Retweet count:  3660
Likes count:  22044

Tweet id:  867774946302451713
Retweet count:  6406
Likes count:  30878

Tweet id:  867421006826221569
Retweet count:  2169
Likes count:  14626

Tweet id:  867072653475098625
Retweet count:  106
Likes count:  0

Tweet id:  867051520902168576
Retweet count:  6939
Likes count:  29316

Tweet id:  866720684873056260
Retweet count:  4220
Likes count:  18212

Tweet id:  866686824827068416
Retweet count:  3032
Likes count:  17501

Tweet id:  866450705531457537
Retweet count:  31027
Likes count:  111219

Tweet id:  866334964761202691
Retweet count:  12538
Likes count:  47621

Tweet id:  866094527597207552
Retweet count:  7353
Likes count:  0

Tweet id:  865718153858494464
Retweet count:  4971
Likes count:  23448

Tweet id:  865359393868664832
Retweet count:  4402
Likes count:  24132

Tweet id:  865006731092295680
Retweet count:  6815
Likes count:  25591

Tweet id:  864873206498414592
Retweet count:  7668
Likes count:  29387

Tweet id:  864279568663928832
Retweet count:  2641
Likes count:  13337

Tweet id:  864197398364647424
Retweet count:  7772
Likes count:  27249

Tweet id:  863907417377173506
Retweet count:  3673
Likes count:  18852

Tweet id:  863553081350529029
Retweet count:  3719
Likes count:  13944

Tweet id:  863471782782697472
Retweet count:  2131
Likes count:  0

Tweet id:  863432100342583297
Retweet count:  4662
Likes count:  21784

Tweet id:  863427515083354112
Retweet count:  82
Likes count:  2001

Tweet id:  863079547188785154
Retweet count:  984
Likes count:  8045

Tweet id:  863062471531167744
Retweet count:  2131
Likes count:  7685

Tweet id:  862831371563274240
Retweet count:  4568
Likes count:  17558

Tweet id:  862722525377298433
Retweet count:  3163
Likes count:  15664

Tweet id:  862457590147678208
Retweet count:  4348
Likes count:  18650

Tweet id:  862096992088072192
Retweet count:  20503
Likes count:  67798

Tweet id:  861383897657036800
Retweet count:  9522
Likes count:  33020

Tweet id:  861288531465048066
Retweet count:  3678
Likes count:  15712

Tweet id:  861005113778896900
Retweet count:  3407
Likes count:  15336

Tweet id:  860981674716409858
Retweet count:  1898
Likes count:  0

Tweet id:  860924035999428608
Retweet count:  694
Likes count:  0

Tweet id:  860563773140209665
Retweet count:  1898
Likes count:  6869

Tweet id:  860524505164394496
Retweet count:  4725
Likes count:  21732

Tweet id:  860276583193509888
Retweet count:  3143
Likes count:  16956

Tweet id:  860184849394610176
Retweet count:  5228
Likes count:  15309

Tweet id:  860177593139703809
Retweet count:  27496
Likes count:  0

Tweet id:  859924526012018688
Retweet count:  3672
Likes count:  18045

Tweet id:  859851578198683649
Retweet count:  3153
Likes count:  14258

Tweet id:  859607811541651456
Retweet count:  1385
Likes count:  17189

Tweet id:  859196978902773760
Retweet count:  26963
Likes count:  82449

Tweet id:  859074603037188101
Retweet count:  12246
Likes count:  31098

Tweet id:  858860390427611136
Retweet count:  7276
Likes count:  0

Tweet id:  858843525470990336
Retweet count:  3099
Likes count:  14422

Tweet id:  858471635011153920
Retweet count:  4373
Likes count:  19930

Tweet id:  858107933456039936
Retweet count:  2596
Likes count:  14567

Tweet id:  857989990357356544
Retweet count:  2313
Likes count:  14838

Tweet id:  857746408056729600
Retweet count:  9575
Likes count:  31532

Tweet id:  857393404942143489
Retweet count:  1474
Likes count:  5430

Tweet id:  857263160327368704
Retweet count:  4076
Likes count:  18621

Tweet id:  857214891891077121
Retweet count:  16
Likes count:  207

Tweet id:  857062103051644929
Retweet count:  151
Likes count:  0

Tweet id:  857029823797047296
Retweet count:  3580
Likes count:  17437

Tweet id:  856543823941562368
Retweet count:  2610
Likes count:  15174

Tweet id:  856526610513747968
Retweet count:  1700
Likes count:  11063

Tweet id:  856288084350160898
Retweet count:  15
Likes count:  494

Tweet id:  856282028240666624
Retweet count:  5713
Likes count:  25781

Tweet id:  855862651834028034
Retweet count:  22
Likes count:  311

Tweet id:  855860136149123072
Retweet count:  876
Likes count:  4531

Tweet id:  855857698524602368
Retweet count:  1902
Likes count:  11080

Tweet id:  855851453814013952
Retweet count:  16510
Likes count:  42801

Tweet id:  855818117272018944
Retweet count:  4934
Likes count:  24782

Tweet id:  855459453768019968
Retweet count:  7465
Likes count:  27692

Tweet id:  855245323840757760
Retweet count:  5407
Likes count:  0

Tweet id:  855138241867124737
Retweet count:  39
Likes count:  0

Tweet id:  854732716440526848
Retweet count:  5519
Likes count:  21193

Tweet id:  854482394044301312
Retweet count:  6185
Likes count:  27202

Tweet id:  854365224396361728
Retweet count:  4266
Likes count:  17590

Tweet id:  854120357044912130
Retweet count:  6790
Likes count:  29839

Tweet id:  854010172552949760
Retweet count:  2872
Likes count:  15176

Tweet id:  853760880890318849
Retweet count:  5253
Likes count:  26680

Tweet id:  853639147608842240
Retweet count:  9111
Likes count:  32298

Tweet id:  853299958564483072
Retweet count:  3246
Likes count:  14482

Tweet id:  852936405516943360
Retweet count:  1828
Likes count:  0

Tweet id:  852912242202992640
Retweet count:  1649
Likes count:  8438

Tweet id:  852672615818899456
Retweet count:  1983
Likes count:  13971

Tweet id:  852553447878664193
Retweet count:  3195
Likes count:  15240

Tweet id:  852311364735569921
Retweet count:  9103
Likes count:  31042

Tweet id:  852226086759018497
Retweet count:  6249
Likes count:  18731

Tweet id:  852189679701164033
Retweet count:  1453
Likes count:  10784

Tweet id:  851861385021730816
Retweet count:  19
Likes count:  0

Tweet id:  851591660324737024
Retweet count:  3211
Likes count:  15301

Tweet id:  851464819735769094
Retweet count:  6485
Likes count:  22795

Tweet id:  851224888060895234
Retweet count:  5297
Likes count:  19470

Tweet id:  850753642995093505
Retweet count:  8322
Likes count:  28829

Tweet id:  850380195714523136
Retweet count:  2397
Likes count:  12349

Tweet id:  850333567704068097
Retweet count:  305
Likes count:  3266

Tweet id:  850145622816686080
Retweet count:  3485
Likes count:  15368

Tweet id:  850019790995546112
Retweet count:  4497
Likes count:  19220

Tweet id:  849776966551130114
Retweet count:  7003
Likes count:  28594

Tweet id:  849668094696017920
Retweet count:  4574
Likes count:  0

Tweet id:  849412302885593088
Retweet count:  2907
Likes count:  14998

Tweet id:  849336543269576704
Retweet count:  1733
Likes count:  10793

Tweet id:  849051919805034497
Retweet count:  7843
Likes count:  39940

Tweet id:  848690551926992896
Retweet count:  4013
Likes count:  23829

Tweet id:  848324959059550208
Retweet count:  4282
Likes count:  23373

Tweet id:  848213670039564288
Retweet count:  667
Likes count:  7718

Tweet id:  848212111729840128
Retweet count:  2797
Likes count:  15395

Tweet id:  847978865427394560
Retweet count:  3017
Likes count:  0

Tweet id:  847971574464610304
Retweet count:  410
Likes count:  0

Tweet id:  847962785489326080
Retweet count:  4709
Likes count:  22255

Tweet id:  847842811428974592
Retweet count:  1218
Likes count:  5126

Tweet id:  847617282490613760
Retweet count:  383
Likes count:  6628

Tweet id:  847606175596138505
Retweet count:  3171
Likes count:  17768

Tweet id:  847251039262605312
Retweet count:  4028
Likes count:  19430

Tweet id:  847157206088847362
Retweet count:  5386
Likes count:  18792

Tweet id:  847116187444137987
Retweet count:  2950
Likes count:  20330

Tweet id:  846874817362120707
Retweet count:  3642
Likes count:  19039

Tweet id:  846514051647705089
Retweet count:  10693
Likes count:  42139

Tweet id:  846505985330044928
Retweet count:  2843
Likes count:  13383

Tweet id:  846153765933735936
Retweet count:  8411
Likes count:  29834

Tweet id:  846139713627017216
Retweet count:  9390
Likes count:  29438

Tweet id:  846042936437604353
Retweet count:  2660
Likes count:  15158

Tweet id:  845812042753855489
Retweet count:  8071
Likes count:  27712

Tweet id:  845677943972139009
Retweet count:  4493
Likes count:  23959

Tweet id:  845397057150107648
Retweet count:  1656
Likes count:  7261

Tweet id:  845306882940190720
Retweet count:  5009
Likes count:  22126

Tweet id:  845098359547420673
Retweet count:  7121
Likes count:  0

Tweet id:  844979544864018432
Retweet count:  2371
Likes count:  12946

Tweet id:  844973813909606400
Retweet count:  2946
Likes count:  14269

Tweet id:  844580511645339650
Retweet count:  2892
Likes count:  15629

Tweet id:  844223788422217728
Retweet count:  2039
Likes count:  13006

Tweet id:  843981021012017153
Retweet count:  2766
Likes count:  14456

Tweet id:  843856843873095681
Retweet count:  4294
Likes count:  20420

Tweet id:  843604394117681152
Retweet count:  2550
Likes count:  16080

Tweet id:  843235543001513987
Retweet count:  5577
Likes count:  20447

Tweet id:  842846295480000512
Retweet count:  3402
Likes count:  14563

Tweet id:  842765311967449089
Retweet count:  1195
Likes count:  6428

Tweet id:  842535590457499648
Retweet count:  3272
Likes count:  17297

Tweet id:  842163532590374912
Retweet count:  5407
Likes count:  23281

Tweet id:  842115215311396866
Retweet count:  2833
Likes count:  13313

Tweet id:  841833993020538882
Retweet count:  13979
Likes count:  0

Tweet id:  841680585030541313
Retweet count:  7343
Likes count:  24585

Tweet id:  841439858740625411
Retweet count:  3410
Likes count:  12029

Tweet id:  841320156043304961
Retweet count:  5164
Likes count:  18880

Tweet id:  841314665196081154
Retweet count:  4349
Likes count:  15092

Tweet id:  841077006473256960
Retweet count:  5001
Likes count:  21826

Tweet id:  840761248237133825
Retweet count:  1649
Likes count:  0

Tweet id:  840728873075638272
Retweet count:  15012
Likes count:  0

Tweet id:  840698636975636481
Retweet count:  2
Likes count:  169

Tweet id:  840696689258311684
Retweet count:  906
Likes count:  11730

Tweet id:  840632337062862849
Retweet count:  1649
Likes count:  8609

Tweet id:  840370681858686976
Retweet count:  4280
Likes count:  15706

Tweet id:  840268004936019968
Retweet count:  5370
Likes count:  18345

Tweet id:  839990271299457024
Retweet count:  2121
Likes count:  12833

Tweet id:  839549326359670784
Retweet count:  7276
Likes count:  26170

Tweet id:  839290600511926273
Retweet count:  137
Likes count:  0

Tweet id:  839239871831150596
Retweet count:  6091
Likes count:  25843

Tweet id:  838952994649550848
Retweet count:  3757
Likes count:  18802

Tweet id:  838921590096166913
Retweet count:  1918
Likes count:  10656

Tweet id:  838916489579200512
Retweet count:  31
Likes count:  0

Tweet id:  838831947270979586
Retweet count:  10339
Likes count:  0

Tweet id:  838561493054533637
Retweet count:  1257
Likes count:  10494

Tweet id:  838476387338051585
Retweet count:  4463
Likes count:  21486

Tweet id:  838201503651401729
Retweet count:  9442
Likes count:  0

Tweet id:  838150277551247360
Retweet count:  313
Likes count:  1596

Tweet id:  838085839343206401
Retweet count:  1
Likes count:  134

Tweet id:  838083903487373313
Retweet count:  2920
Likes count:  16870

Tweet id:  837820167694528512

Likes count:  0

Tweet id:  834458053273591808
Retweet count:  1583
Likes count:  9232

Tweet id:  834209720923721728
Retweet count:  4461
Likes count:  19682

Tweet id:  834167344700198914
Retweet count:  3464
Likes count:  15191

Tweet id:  834089966724603904
Retweet count:  2016
Likes count:  9641

Tweet id:  834086379323871233
Retweet count:  2081
Likes count:  12521

Tweet id:  833863086058651648
Retweet count:  2266
Likes count:  12920

Tweet id:  833826103416520705
Retweet count:  3563
Likes count:  17440

Tweet id:  833732339549220864
Retweet count:  209
Likes count:  0

Tweet id:  833722901757046785
Retweet count:  3068
Likes count:  20099

Tweet id:  833479644947025920
Retweet count:  1932
Likes count:  14316

Tweet id:  833124694597443584
Retweet count:  4574
Likes count:  19438

Tweet id:  832998151111966721
Retweet count:  2072
Likes count:  12722

Tweet id:  832769181346996225
Retweet count:  38
Likes count:  0

Tweet id:  832757312314028032
Retweet count:  3418
Likes count:  16208

Tweet id:  832682457690300417
Retweet count:  2744
Likes count:  11402

Tweet id:  832645525019123713
Retweet count:  502
Likes count:  2811

Tweet id:  832636094638288896
Retweet count:  2630
Likes count:  15262

Tweet id:  832397543355072512
Retweet count:  2088
Likes count:  11500

Tweet id:  832369877331693569
Retweet count:  3017
Likes count:  16492

Tweet id:  832273440279240704
Retweet count:  2213
Likes count:  10905

Tweet id:  832215909146226688
Retweet count:  5886
Likes count:  0

Tweet id:  832215726631055365
Retweet count:  8810
Likes count:  0

Tweet id:  832088576586297345
Retweet count:  2
Likes count:  61

Tweet id:  832040443403784192
Retweet count:  9076
Likes count:  0

Tweet id:  832032802820481025
Retweet count:  4409
Likes count:  17152

Tweet id:  831939777352105988
Retweet count:  5811
Likes count:  23031

Tweet id:  831926988323639298
Retweet count:  34
Likes count:  324

Tweet id:  831911600680497154
Retweet count:  6142
Likes count:  26454

Tweet id:  831670449226514432
Retweet count:  1725
Likes count:  10019

Tweet id:  831650051525054464
Retweet count:  1828
Likes count:  6855

Tweet id:  831552930092285952
Retweet count:  2213
Likes count:  8648

Tweet id:  831322785565769729
Retweet count:  1481
Likes count:  8947

Tweet id:  831315979191906304
Retweet count:  1057
Likes count:  6292

Tweet id:  831309418084069378
Retweet count:  2331
Likes count:  11349

Tweet id:  831262627380748289
Retweet count:  1949
Likes count:  11440

Tweet id:  830956169170665475
Retweet count:  1416
Likes count:  7684

Tweet id:  830583320585068544
Retweet count:  15829
Likes count:  64024

Tweet id:  830173239259324417
Retweet count:  5378
Likes count:  0

Tweet id:  830097400375152640
Retweet count:  2775
Likes count:  9374

Tweet id:  829878982036299777
Retweet count:  4739
Likes count:  0

Tweet id:  829861396166877184
Retweet count:  1834
Likes count:  11802

Tweet id:  829501995190984704
Retweet count:  10038
Likes count:  30561

Tweet id:  829449946868879360
Retweet count:  1911
Likes count:  10095

Tweet id:  829141528400556032
Retweet count:  6955
Likes count:  23430

Tweet id:  829011960981237760
Retweet count:  15534
Likes count:  51399

Tweet id:  828801551087042563
Retweet count:  3245
Likes count:  0

Tweet id:  828770345708580865
Retweet count:  5554
Likes count:  24642

Tweet id:  828708714936930305
Retweet count:  10627
Likes count:  35100

Tweet id:  828650029636317184
Retweet count:  1274
Likes count:  9164

Tweet id:  828409743546925057
Retweet count:  1104
Likes count:  6143

Tweet id:  828408677031882754
Retweet count:  1223
Likes count:  7412

Tweet id:  828381636999917570
Retweet count:  2114
Likes count:  12146

Tweet id:  828376505180889089
Retweet count:  1014
Likes count:  7130

Tweet id:  828372645993398273
Retweet count:  2780
Likes count:  12143

Tweet id:  828361771580813312
Retweet count:  169
Likes count:  2104

Tweet id:  828046555563323392
Retweet count:  2726
Likes count:  11307

Tweet id:  828011680017821696
Retweet count:  2048
Likes count:  9990

Tweet id:  827933404142436356
Retweet count:  4969
Likes count:  19305

Tweet id:  827653905312006145
Retweet count:  2870
Likes count:  14937

Tweet id:  827600520311402496
Retweet count:  884
Likes count:  7219

Tweet id:  827324948884643840
Retweet count:  2872
Likes count:  15276

Tweet id:  827199976799354881
Retweet count:  2115
Likes count:  10217

Tweet id:  826958653328592898
Retweet count:  4739
Likes count:  20792

Tweet id:  826848821049180160
Retweet count:  9608
Likes count:  34818

Tweet id:  826615380357632002
Retweet count:  3780
Likes count:  0

Tweet id:  826598799820865537
Retweet count:  234
Likes count:  4954

Tweet id:  826598365270007810
Retweet count:  2228
Likes count:  9652

Tweet id:  826476773533745153
Retweet count:  3998
Likes count:  17728

Tweet id:  826240494070030336
Retweet count:  2472
Likes count:  12801

Tweet id:  826204788643753985
Retweet count:  874
Likes count:  4705

Tweet id:  826115272272650244
Retweet count:  2948
Likes count:  15076

Tweet id:  825876512159186944
Retweet count:  1773
Likes count:  10117

Tweet id:  825829644528148480
Retweet count:  2390
Likes count:  12301

Tweet id:  825535076884762624
Retweet count:  16772
Likes count:  55122

Tweet id:  825147591692263424
Retweet count:  4307
Likes count:  17652

Tweet id:  825120256414846976
Retweet count:  1186
Likes count:  0

Tweet id:  825026590719483904
Retweet count:  1186
Likes count:  6029

Tweet id:  824796380199809024
Retweet count:  5237
Likes count:  0

Tweet id:  824775126675836928
Retweet count:  3341
Likes count:  14400

Tweet id:  824663926340194305
Retweet count:  1684
Likes count:  10149

Tweet id:  824325613288833024
Retweet count:  10138
Likes count:  11416

Tweet id:  824297048279236611
Retweet count:  3667
Likes count:  14534

Tweet id:  824025158776213504
Retweet count:  573
Likes count:  4672

Tweet id:  823939628516474880
Retweet count:  2599
Likes count:  10282

Tweet id:  823719002937630720
Retweet count:  10626
Likes count:  0

Tweet id:  823699002998870016
Retweet count:  2398
Likes count:  13503

Tweet id:  823581115634085888
Retweet count:  2502
Likes count:  12551

Tweet id:  823333489516937216
Retweet count:  21
Likes count:  679

Tweet id:  823322678127919110
Retweet count:  3816
Likes count:  15158

Tweet id:  823269594223824897
Retweet count:  9434
Likes count:  0

Tweet id:  822975315408461824
Retweet count:  3285
Likes count:  16749

Tweet id:  822872901745569793
Retweet count:  41039
Likes count:  126851

Tweet id:  822859134160621569
Retweet count:  2168
Likes count:  12768

Tweet id:  822647212903690241
Retweet count:  6100
Likes count:  0

Tweet id:  822610361945911296
Retweet count:  2799
Likes count:  14301

Tweet id:  822489057087389700
Retweet count:  6100
Likes count:  17516

Tweet id:  822462944365645825
Retweet count:  13543
Likes count:  26902

Tweet id:  822244816520155136
Retweet count:  9434
Likes count:  33785

Tweet id:  822163064745328640
Retweet count:  4515
Likes count:  0

Tweet id:  821886076407029760
Retweet count:  2197
Likes count:  10923

Tweet id:  821813639212650496
Retweet count:  3199
Likes count:  0

Tweet id:  821765923262631936
Retweet count:  1593
Likes count:  8105

Tweet id:  821522889702862852
Retweet count:  1664
Likes count:  7745

Tweet id:  821421320206483457
Retweet count:  5293
Likes count:  0

Tweet id:  821407182352777218
Retweet count:  4107
Likes count:  11334

Tweet id:  821153421864615936
Retweet count:  9
Likes count:  241

Tweet id:  821149554670182400
Retweet count:  1867
Likes count:  8310

Tweet id:  821107785811234820
Retweet count:  2031
Likes count:  9271

Tweet id:  821044531881721856
Retweet count:  2176
Likes count:  12237

Tweet id:  820837357901512704
Retweet count:  6404
Likes count:  0

Tweet id:  820749716845686786
Retweet count:  9442
Likes count:  30511

Tweet id:  820690176645140481
Retweet count:  3074
Likes count:  11828

Tweet id:  820494788566847489
Retweet count:  537
Likes count:  0

Tweet id:  820446719150292993
Retweet count:  2450
Likes count:  0

Tweet id:  820314633777061888
Retweet count:  537
Likes count:  3242

Tweet id:  820078625395449857
Retweet count:  5971
Likes count:  19106

Tweet id:  820013781606658049
Retweet count:  1119
Likes count:  0

Tweet id:  819952236453363712
Retweet count:  1119
Likes count:  5137

Tweet id:  819924195358416896
Retweet count:  4656
Likes count:  12518

Tweet id:  819711362133872643
Retweet count:  2963
Likes count:  12927

Tweet id:  819588359383371776
Retweet count:  1912
Likes count:  9357

Tweet id:  819347104292290561
Retweet count:  1147
Likes count:  6994

Tweet id:  819238181065359361
Retweet count:  390
Likes count:  2185

Tweet id:  819227688460238848
Retweet count:  6404
Likes count:  22265

Tweet id:  819015337530290176
Retweet count:  35415
Likes count:  0

Tweet id:  819015331746349057
Retweet count:  18219
Likes count:  0

Tweet id:  819006400881917954
Retweet count:  18219
Likes count:  43929

Tweet id:  819004803107983360
Retweet count:  35415
Likes count:  84465

Tweet id:  818646164899774465
Retweet count:  19979
Likes count:  0

Tweet id:  818627210458333184
Retweet count:  7237
Likes count:  21685

Tweet id:  818614493328580609
Retweet count:  2415
Likes count:  9517

Tweet id:  818588835076603904
Retweet count:  5827
Likes count:  0

Tweet id:  818536468981415936
Retweet count:  2338
Likes count:  10499

Tweet id:  818307523543449600
Retweet count:  7683
Likes count:  0

Tweet id:  818259473185828864
Retweet count:  2145
Likes count:  10640

Tweet id:  818145370475810820
Retweet count:  2435
Likes count:  11864

Tweet id:  817908911860748288
Retweet count:  757
Likes count:  4695

Tweet id:  817827839487737858
Retweet count:  25817
Likes count:  49752

Tweet id:  817777686764523521
Retweet count:  2572
Likes count:  10443

Tweet id:  817536400337801217
Retweet count:  2802
Likes count:  11382

Tweet id:  817502432452313088
Retweet count:  3231
Likes count:  0

Tweet id:  817423860136083457
Retweet count:  13979
Likes count:  32599

Tweet id:  817415592588222464
Retweet count:  912
Likes count:  5416

Tweet id:  817181837579653120
Retweet count:  8080
Likes count:  0

Tweet id:  817171292965273600
Retweet count:  1929
Likes count:  8480

Tweet id:  817120970343411712
Retweet count:  2485
Likes count:  11800

Tweet id:  817056546584727552
Retweet count:  1569
Likes count:  8317

Tweet id:  816829038950027264
Retweet count:  4504
Likes count:  0

Tweet id:  816816676327063552
Retweet count:  1942
Likes count:  9692

Tweet id:  816697700272001025
Retweet count:  2098
Likes count:  9466

Tweet id:  816450570814898180
Retweet count:  7683
Likes count:  29359

Tweet id:  816336735214911488
Retweet count:  1854
Likes count:  8338

Tweet id:  816091915477250048
Retweet count:  2039
Likes count:  8667

Tweet id:  816062466425819140
Retweet count:  971
Likes count:  0

Tweet id:  816014286006976512
Retweet count:  5018
Likes count:  0

Tweet id:  815990720817401858
Retweet count:  971
Likes count:  4786

Tweet id:  815966073409433600
Retweet count:  8080
Likes count:  21655

Tweet id:  815745968457060357
Retweet count:  3958
Likes count:  0

Tweet id:  815736392542261248
Retweet count:  2172
Likes count:  9542

Tweet id:  815639385530101762
Retweet count:  1582
Likes count:  7978

Tweet id:  815390420867969024
Retweet count:  3656
Likes count:  10038

Tweet id:  814986499976527872
Retweet count:  1217
Likes count:  7416

Tweet id:  814638523311648768
Retweet count:  2584
Likes count:  10941

Tweet id:  814578408554463233
Retweet count:  5602
Likes count:  0

Tweet id:  814530161257443328
Retweet count:  1775
Likes count:  8368

Tweet id:  814153002265309185
Retweet count:  8298
Likes count:  27870

Tweet id:  813944609378369540
Retweet count:  3047
Likes count:  0

Tweet id:  813910438903693312
Retweet count:  1783
Likes count:  9040

Tweet id:  813812741911748608
Retweet count:  13385
Likes count:  35344

Tweet id:  813800681631023104
Retweet count:  1689
Likes count:  8067

Tweet id:  813217897535406080
Retweet count:  6999
Likes count:  18064

Tweet id:  813202720496779264
Retweet count:  1749
Likes count:  8970

Tweet id:  813187593374461952
Retweet count:  4170
Likes count:  19268

Tweet id:  813172488309972993
Retweet count:  1848
Likes count:  9004

Tweet id:  813157409116065792
Retweet count:  2106
Likes count:  7538

Tweet id:  813142292504645637
Retweet count:  2297
Likes count:  8262

Tweet id:  813130366689148928
Retweet count:  427
Likes count:  4362

Tweet id:  813127251579564032
Retweet count:  2984
Likes count:  11459

Tweet id:  813112105746448384
Retweet count:  2627
Likes count:  10000

Tweet id:  813096984823349248
Retweet count:  3475
Likes count:  10259

Tweet id:  813081950185472002
Retweet count:  2662
Likes count:  9624

Tweet id:  813066809284972545
Retweet count:  1877
Likes count:  7709

Tweet id:  813051746834595840
Retweet count:  7042
Likes count:  20356

Tweet id:  812781120811126785
Retweet count:  1826
Likes count:  7311

Tweet id:  812709060537683968
Retweet count:  1383
Likes count:  6440

Tweet id:  812503143955202048
Retweet count:  1178
Likes count:  5890

Tweet id:  812466873996607488
Retweet count:  1838
Likes count:  7744

Tweet id:  812372279581671427
Retweet count:  3516
Likes count:  13232

Tweet id:  811985624773361665
Retweet count:  1345
Likes count:  7069

Tweet id:  811744202451197953
Retweet count:  1528
Likes count:  7326

Tweet id:  811647686436880384
Retweet count:  707
Likes count:  5445

Tweet id:  811627233043480576
Retweet count:  2939
Likes count:  12353

Tweet id:  811386762094317568
Retweet count:  6126
Likes count:  20317

Tweet id:  810984652412424192
Retweet count:  1367
Likes count:  5163

Tweet id:  810896069567610880
Retweet count:  1686
Likes count:  8739

Tweet id:  810657578271330305
Retweet count:  2526
Likes count:  10650

Tweet id:  810284430598270976
Retweet count:  10780
Likes count:  34136

Tweet id:  810254108431155201
Retweet count:  3245
Likes count:  14279

Tweet id:  809920764300447744
Retweet count:  3780
Likes count:  15108

Tweet id:  809808892968534016
Retweet count:  4696
Likes count:  0

Tweet id:  809448704142938112
Retweet count:  1407
Likes count:  6749

Tweet id:  809220051211603969
Retweet count:  5378
Likes count:  19316

Tweet id:  809084759137812480
Retweet count:  3400
Likes count:  12833

Tweet id:  808838249661788160
Retweet count:  2928
Likes count:  9852

Tweet id:  808733504066486276
Retweet count:  2078
Likes count:  7679

Tweet id:  808501579447930884
Retweet count:  2499
Likes count:  11001

Tweet id:  808344865868283904
Retweet count:  19979
Likes count:  41146

Tweet id:  808134635716833280
Retweet count:  5662
Likes count:  0

Tweet id:  808106460588765185
Retweet count:  2122
Likes count:  8576

Tweet id:  808001312164028416
Retweet count:  3396
Likes count:  12160

Tweet id:  807621403335917568
Retweet count:  3474
Likes count:  14174

Tweet id:  807106840509214720
Retweet count:  53070
Likes count:  114430

Tweet id:  807059379405148160
Retweet count:  7060
Likes count:  0

Tweet id:  807010152071229440
Retweet count:  3721
Likes count:  12764

Tweet id:  806629075125202948
Retweet count:  33218
Likes count:  72307

Tweet id:  806620845233815552
Retweet count:  5297
Likes count:  0

Tweet id:  806576416489959424
Retweet count:  1881
Likes count:  4755

Tweet id:  806542213899489280
Retweet count:  2275
Likes count:  9931

Tweet id:  806242860592926720
Retweet count:  11162
Likes count:  0

Tweet id:  806219024703037440
Retweet count:  1157
Likes count:  6279

Tweet id:  805958939288408065
Retweet count:  5146
Likes count:  0

Tweet id:  805932879469572096
Retweet count:  1852
Likes count:  8080

Tweet id:  805826884734976000
Retweet count:  1753
Likes count:  6389

Tweet id:  805823200554876929
Retweet count:  7700
Likes count:  0

Tweet id:  805520635690676224
Retweet count:  1596
Likes count:  5599

Tweet id:  805487436403003392
Retweet count:  2434
Likes count:  8555

Tweet id:  805207613751304193
Retweet count:  1666
Likes count:  7637

Tweet id:  804738756058218496
Retweet count:  3687
Likes count:  13294

Tweet id:  804475857670639616
Retweet count:  1945
Likes count:  5975

Tweet id:  804413760345620481
Retweet count:  3097
Likes count:  0

Tweet id:  804026241225523202
Retweet count:  15468
Likes count:  43105

Tweet id:  803773340896923648
Retweet count:  2634
Likes count:  9773

Tweet id:  803692223237865472
Retweet count:  7140
Likes count:  0

Tweet id:  803638050916102144
Retweet count:  3997
Likes count:  10632

Tweet id:  803380650405482500
Retweet count:  1809
Likes count:  7550

Tweet id:  803321560782307329
Retweet count:  5097
Likes count:  0

Tweet id:  803276597545603072
Retweet count:  2360
Likes count:  9760

Tweet id:  802952499103731712
Retweet count:  1923
Likes count:  8784

Tweet id:  802624713319034886
Retweet count:  2796
Likes count:  0

Tweet id:  802600418706604034
Retweet count:  1405
Likes count:  6918

Tweet id:  802572683846291456
Retweet count:  2426
Likes count:  8720

Tweet id:  802323869084381190
Retweet count:  5634
Likes count:  15747

Tweet id:  802265048156610565
Retweet count:  1335
Likes count:  6758

Tweet id:  802239329049477120
Retweet count:  2521
Likes count:  8858

Tweet id:  802185808107208704
Retweet count:  263
Likes count:  0

Tweet id:  801958328846974976
Retweet count:  1649
Likes count:  7534

Tweet id:  801854953262350336
Retweet count:  228
Likes count:  1757

Tweet id:  801538201127157760
Retweet count:  2003
Likes count:  8003

Tweet id:  801285448605831168
Retweet count:  791
Likes count:  5881

Tweet id:  801167903437357056
Retweet count:  5662
Likes count:  23734

Tweet id:  801127390143516673
Retweet count:  3812
Likes count:  0

Tweet id:  801115127852503040
Retweet count:  2020
Likes count:  7843

Tweet id:  800859414831898624
Retweet count:  95
Likes count:  664

Tweet id:  800855607700029440
Retweet count:  1547
Likes count:  0

Tweet id:  800751577355128832
Retweet count:  2698
Likes count:  10312

Tweet id:  800513324630806528
Retweet count:  2890
Likes count:  12798

Tweet id:  800459316964663297
Retweet count:  2103
Likes count:  9245

Tweet id:  800443802682937345
Retweet count:  4146
Likes count:  0

Tweet id:  800388270626521089
Retweet count:  2690
Likes count:  10856

Tweet id:  800188575492947969
Retweet count:  3798
Likes count:  0

Tweet id:  800141422401830912
Retweet count:  2450
Likes count:  14854

Tweet id:  800018252395122689
Retweet count:  12634
Likes count:  27527

Tweet id:  799774291445383169
Retweet count:  4488
Likes count:  0

Tweet id:  799757965289017345
Retweet count:  2068
Likes count:  8153

Tweet id:  799422933579902976
Retweet count:  1846
Likes count:  7858

Tweet id:  799308762079035393
Retweet count:  5230
Likes count:  0

Tweet id:  799297110730567681
Retweet count:  2635
Likes count:  9599

Tweet id:  799063482566066176
Retweet count:  2394
Likes count:  7862

Tweet id:  798933969379225600
Retweet count:  4299
Likes count:  12707

Tweet id:  798925684722855936
Retweet count:  1391
Likes count:  7322

Tweet id:  798705661114773508
Retweet count:  6402
Likes count:  0

Tweet id:  798701998996647937
Retweet count:  7453
Likes count:  0

Tweet id:  798697898615730177
Retweet count:  6266
Likes count:  0

Tweet id:  798694562394996736
Retweet count:  4771
Likes count:  0

Tweet id:  798686750113755136
Retweet count:  2240
Likes count:  0

Tweet id:  798682547630837760
Retweet count:  4565
Likes count:  0

Tweet id:  798673117451325440
Retweet count:  5364
Likes count:  0

Tweet id:  798665375516884993
Retweet count:  3770
Likes count:  0

Tweet id:  798644042770751489
Retweet count:  1783
Likes count:  0

Tweet id:  798628517273620480
Retweet count:  1903
Likes count:  0

Tweet id:  798585098161549313
Retweet count:  5445
Likes count:  0

Tweet id:  798576900688019456
Retweet count:  5626
Likes count:  0

Tweet id:  798340744599797760
Retweet count:  3219
Likes count:  0

Tweet id:  798209839306514432
Retweet count:  2472
Likes count:  10150

Tweet id:  797971864723324932
Retweet count:  2989
Likes count:  11249

Tweet id:  797545162159308800
Retweet count:  4712
Likes count:  14176

Tweet id:  797236660651966464
Retweet count:  6326
Likes count:  19370

Tweet id:  797165961484890113
Retweet count:  26
Likes count:  217

Tweet id:  796904159865868288
Retweet count:  8604
Likes count:  0

Tweet id:  796865951799083009
Retweet count:  1874
Likes count:  7483

Tweet id:  796759840936919040
Retweet count:  2923
Likes count:  11474

Tweet id:  796563435802726400
Retweet count:  6945
Likes count:  0

Tweet id:  796484825502875648
Retweet count:  1688
Likes count:  7350

Tweet id:  796387464403357696
Retweet count:  4005
Likes count:  10706

Tweet id:  796177847564038144
Retweet count:  13721
Likes count:  0

Tweet id:  796149749086875649
Retweet count:  13721
Likes count:  31265

Tweet id:  796125600683540480
Retweet count:  1732
Likes count:  4843

Tweet id:  796116448414461957
Retweet count:  2315
Likes count:  8838

Tweet id:  796080075804475393
Retweet count:  2220
Likes count:  8221

Tweet id:  796031486298386433
Retweet count:  3592
Likes count:  10508

Tweet id:  795464331001561088
Retweet count:  22594
Likes count:  47966

Tweet id:  795400264262053889
Retweet count:  2758
Likes count:  9755

Tweet id:  795076730285391872
Retweet count:  5237
Likes count:  15740

Tweet id:  794983741416415232
Retweet count:  3233
Likes count:  0

Tweet id:  794926597468000259
Retweet count:  2214
Likes count:  9930

Tweet id:  794355576146903043
Retweet count:  9903
Likes count:  0

Tweet id:  794332329137291264
Retweet count:  2591
Likes count:  9351

Tweet id:  794205286408003585
Retweet count:  3201
Likes count:  8990

Tweet id:  793962221541933056
Retweet count:  4696
Likes count:  16316

Tweet id:  793845145112371200
Retweet count:  1790
Likes count:  8975

Tweet id:  793614319594401792
Retweet count:  3013
Likes count:  0

Tweet id:  793601777308463104
Retweet count:  1555
Likes count:  7769

Tweet id:  793500921481273345
Retweet count:  2290
Likes count:  10375

Tweet id:  793286476301799424
Retweet count:  8810
Likes count:  23884

Tweet id:  793271401113350145
Retweet count:  2312
Likes count:  8462

Tweet id:  793256262322548741
Retweet count:  8030
Likes count:  19397

Tweet id:  793241302385262592
Retweet count:  3169
Likes count:  10219

Tweet id:  793226087023144960
Retweet count:  2782
Likes count:  9522

Tweet id:  793210959003287553
Retweet count:  2686
Likes count:  8672

Tweet id:  793195938047070209
Retweet count:  5413
Likes count:  14797

Tweet id:  793180763617361921
Retweet count:  1924
Likes count:  6729

Tweet id:  793165685325201412
Retweet count:  2691
Likes count:  9108

Tweet id:  793150605191548928
Retweet count:  1638
Likes count:  5981

Tweet id:  793135492858580992
Retweet count:  2420
Likes count:  6234

Tweet id:  793120401413079041
Retweet count:  3772
Likes count:  12291

Tweet id:  792913359805018113
Retweet count:  3814
Likes count:  13912

Tweet id:  792883833364439040
Retweet count:  4111
Likes count:  10981

Tweet id:  792773781206999040
Retweet count:  1625
Likes count:  7163

Tweet id:  792394556390137856
Retweet count:  4130
Likes count:  13032

Tweet id:  792050063153438720
Retweet count:  1710
Likes count:  6935

Tweet id:  791821351946420224
Retweet count:  20308
Likes count:  0

Tweet id:  791784077045166082
Retweet count:  9167
Likes count:  0

Tweet id:  791780927877898241
Retweet count:  3678
Likes count:  0

Tweet id:  791774931465953280
Retweet count:  21321
Likes count:  43722

Tweet id:  791672322847637504
Retweet count:  3013
Likes count:  11435

Tweet id:  791406955684368384
Retweet count:  3958
Likes count:  12779

Tweet id:  791312159183634433
Retweet count:  2433
Likes count:  8516

Tweet id:  791026214425268224
Retweet count:  3924
Likes count:  0

Tweet id:  790987426131050500
Retweet count:  2053
Likes count:  9525

Tweet id:  790946055508652032
Retweet count:  4504
Likes count:  16234

Tweet id:  790723298204217344
Retweet count:  2217
Likes count:  0

Tweet id:  790698755171364864
Retweet count:  1851
Likes count:  7994

Tweet id:  790581949425475584
Retweet count:  6839
Likes count:  20044

Tweet id:  790337589677002753
Retweet count:  1822
Likes count:  7608

Tweet id:  790277117346975746
Retweet count:  3047
Likes count:  12200

Tweet id:  790227638568808452
Retweet count:  3414
Likes count:  0

Tweet id:  789986466051088384
Retweet count:  2217
Likes count:  9004

Tweet id:  789960241177853952
Retweet count:  3946
Likes count:  0

Tweet id:  789903600034189313
Retweet count:  3975
Likes count:  10024

Tweet id:  789628658055020548
Retweet count:  1693
Likes count:  7262

Tweet id:  789599242079838210
Retweet count:  1848
Likes count:  6542

Tweet id:  789530877013393408
Retweet count:  3233
Likes count:  11389

Tweet id:  789314372632018944
Retweet count:  2195
Likes count:  8383

Tweet id:  789280767834746880
Retweet count:  4717
Likes count:  0

Tweet id:  789268448748703744
Retweet count:  2514
Likes count:  8856

Tweet id:  789137962068021249
Retweet count:  2674
Likes count:  9442

Tweet id:  788908386943430656
Retweet count:  12000
Likes count:  26653

Tweet id:  788765914992902144
Retweet count:  9903
Likes count:  26548

Tweet id:  788552643979468800
Retweet count:  6852
Likes count:  0

Tweet id:  788412144018661376
Retweet count:  5066
Likes count:  15078

Tweet id:  788178268662984705
Retweet count:  2020
Likes count:  7047

Tweet id:  788150585577050112
Retweet count:  1231
Likes count:  5941

Tweet id:  788070120937619456
Retweet count:  3298
Likes count:  0

Tweet id:  788039637453406209
Retweet count:  1266
Likes count:  5945

Tweet id:  787810552592695296
Retweet count:  2921
Likes count:  8350

Tweet id:  787717603741622272
Retweet count:  2660
Likes count:  9947

Tweet id:  787397959788929025
Retweet count:  2744
Likes count:  10573

Tweet id:  787322443945877504
Retweet count:  1667
Likes count:  7573

Tweet id:  787111942498508800
Retweet count:  6469
Likes count:  0

Tweet id:  786963064373534720
Retweet count:  7660
Likes count:  25863

Tweet id:  786729988674449408
Retweet count:  2333
Likes count:  0

Tweet id:  786709082849828864
Retweet count:  5886
Likes count:  17731

Tweet id:  786664955043049472
Retweet count:  2435
Likes count:  10257

Tweet id:  786595970293370880
Retweet count:  3014
Likes count:  9209

Tweet id:  786363235746385920
Retweet count:  3318
Likes count:  10534

Tweet id:  786286427768250368
Retweet count:  2714
Likes count:  7724

Tweet id:  786233965241827333
Retweet count:  4515
Likes count:  14777

Tweet id:  786051337297522688
Retweet count:  152
Likes count:  1387

Tweet id:  786036967502913536
Retweet count:  6685
Likes count:  0

Tweet id:  785927819176054784
Retweet count:  3070
Likes count:  11062

Tweet id:  785872687017132033
Retweet count:  1726
Likes count:  6499

Tweet id:  785639753186217984
Retweet count:  2151
Likes count:  7631

Tweet id:  785533386513321988
Retweet count:  1897
Likes count:  8804

Tweet id:  785515384317313025
Retweet count:  1201
Likes count:  5953

Tweet id:  785264754247995392
Retweet count:  1563
Likes count:  7046

Tweet id:  785170936622350336
Retweet count:  4626
Likes count:  11636

Tweet id:  784826020293709826
Retweet count:  3097
Likes count:  9782

Tweet id:  784517518371221505
Retweet count:  2419
Likes count:  8692

Tweet id:  784431430411685888
Retweet count:  1225
Likes count:  5556

Tweet id:  784183165795655680
Retweet count:  7700
Likes count:  19407

Tweet id:  784057939640352768
Retweet count:  10626
Likes count:  28790

Tweet id:  783839966405230592
Retweet count:  10339
Likes count:  29003

Tweet id:  783821107061198850
Retweet count:  1878
Likes count:  7129

Tweet id:  783695101801398276
Retweet count:  3075
Likes count:  10119

Tweet id:  783466772167098368
Retweet count:  2143
Likes count:  8175

Tweet id:  783391753726550016
Retweet count:  5225
Likes count:  16362

Tweet id:  783347506784731136
Retweet count:  5305
Likes count:  0

Tweet id:  783334639985389568
Retweet count:  11162
Likes count:  28146

Tweet id:  783085703974514689
Retweet count:  2088
Likes count:  7897

Tweet id:  782969140009107456
Retweet count:  7060
Likes count:  23376

Tweet id:  782747134529531904
Retweet count:  1353
Likes count:  7236

Tweet id:  782722598790725632
Retweet count:  5146
Likes count:  16686

Tweet id:  782598640137187329
Retweet count:  1803
Likes count:  7558

Tweet id:  782305867769217024
Retweet count:  5293
Likes count:  16091

Tweet id:  782021823840026624
Retweet count:  5920
Likes count:  0

Tweet id:  781955203444699136
Retweet count:  3209
Likes count:  10804

Tweet id:  781661882474196992
Retweet count:  2593
Likes count:  10104

Tweet id:  781655249211752448
Retweet count:  1084
Likes count:  3865

Tweet id:  781524693396357120
Retweet count:  5297
Likes count:  20061

Tweet id:  781308096455073793
Retweet count:  2447
Likes count:  6906

Tweet id:  781251288990355457
Retweet count:  1984
Likes count:  8112

Tweet id:  781163403222056960
Retweet count:  2635
Likes count:  9490

Tweet id:  780931614150983680
Retweet count:  6945
Likes count:  20950

Tweet id:  780858289093574656
Retweet count:  1920
Likes count:  6957

Tweet id:  780800785462489090
Retweet count:  1238
Likes count:  5298

Tweet id:  780601303617732608
Retweet count:  3199
Likes count:  11699

Tweet id:  780543529827336192
Retweet count:  1672
Likes count:  6095

Tweet id:  780496263422808064
Retweet count:  3512
Likes count:  0

Tweet id:  780476555013349377
Retweet count:  108
Likes count:  0

Tweet id:  780459368902959104
Retweet count:  1026
Likes count:  5112

Tweet id:  780192070812196864
Retweet count:  2146
Likes count:  8415

Tweet id:  780092040432480260
Retweet count:  2202
Likes count:  0

Tweet id:  780074436359819264
Retweet count:  4713
Likes count:  11694

Tweet id:  779834332596887552
Retweet count:  6685
Likes count:  18194

Tweet id:  779377524342161408
Retweet count:  2968
Likes count:  8458

Tweet id:  779124354206535695
Retweet count:  17433
Likes count:  0

Tweet id:  779056095788752897
Retweet count:  4326
Likes count:  14249

Tweet id:  778990705243029504
Retweet count:  6831
Likes count:  19228

Tweet id:  778774459159379968
Retweet count:  9413
Likes count:  0

Tweet id:  778764940568104960
Retweet count:  347
Likes count:  834

Tweet id:  778748913645780993
Retweet count:  1247
Likes count:  6634

Tweet id:  778650543019483137
Retweet count:  1425
Likes count:  5548

Tweet id:  778624900596654080
Retweet count:  966
Likes count:  4446

Tweet id:  778408200802557953
Retweet count:  4110
Likes count:  13155

Tweet id:  778396591732486144
Retweet count:  11630
Likes count:  0

Tweet id:  778383385161035776
Retweet count:  1044
Likes count:  5625

Tweet id:  778286810187399168
Retweet count:  3154
Likes count:  9997

Tweet id:  778039087836069888
Retweet count:  2525
Likes count:  8184

Tweet id:  778027034220126208
Retweet count:  1532
Likes count:  6340

Tweet id:  777953400541634568
Retweet count:  3358
Likes count:  0

Tweet id:  777885040357281792
Retweet count:  1555
Likes count:  6137

Tweet id:  777684233540206592
Retweet count:  2796
Likes count:  10846

Tweet id:  777641927919427584
Retweet count:  4028
Likes count:  0

Tweet id:  777621514455814149
Retweet count:  2395
Likes count:  8439

Tweet id:  777189768882946048
Retweet count:  4109
Likes count:  13690

Tweet id:  776819012571455488
Retweet count:  13004
Likes count:  0

Tweet id:  776813020089548800
Retweet count:  1144
Likes count:  4712

Tweet id:  776477788987613185
Retweet count:  2635
Likes count:  8471

Tweet id:  776249906839351296
Retweet count:  8685
Likes count:  0

Tweet id:  776218204058357768
Retweet count:  15089
Likes count:  28737

Tweet id:  776201521193218049
Retweet count:  2399
Likes count:  9221

Tweet id:  776113305656188928
Retweet count:  4146
Likes count:  11365

Tweet id:  776088319444877312
Retweet count:  145
Likes count:  1762

Tweet id:  775898661951791106
Retweet count:  15959
Likes count:  0

Tweet id:  775842724423557120
Retweet count:  2529
Likes count:  11287

Tweet id:  775733305207554048
Retweet count:  3812
Likes count:  13386

Tweet id:  775729183532220416
Retweet count:  4394
Likes count:  12528

Tweet id:  775364825476165632
Retweet count:  2809
Likes count:  7121

Tweet id:  775350846108426240
Retweet count:  3721
Likes count:  9805

Tweet id:  775085132600442880
Retweet count:  4488
Likes count:  14977

Tweet id:  774757898236878852
Retweet count:  1697
Likes count:  8315

Tweet id:  774639387460112384
Retweet count:  1649
Likes count:  6495

Tweet id:  774314403806253056
Retweet count:  5230
Likes count:  20997

Tweet id:  773985732834758656
Retweet count:  3680
Likes count:  10372

Tweet id:  773922284943896577
Retweet count:  1664
Likes count:  6185

Tweet id:  773704687002451968
Retweet count:  1540
Likes count:  6377

Tweet id:  773670353721753600
Retweet count:  1255
Likes count:  5167

Tweet id:  773547596996571136
Retweet count:  5827
Likes count:  21283

Tweet id:  773336787167145985
Retweet count:  4816
Likes count:  0

Tweet id:  773308824254029826
Retweet count:  7121
Likes count:  22502

Tweet id:  773247561583001600
Retweet count:  3097
Likes count:  9119

Tweet id:  773191612633579521
Retweet count:  3932
Likes count:  9624

Tweet id:  772877495989305348
Retweet count:  3682
Likes count:  8251

Tweet id:  772826264096874500
Retweet count:  2257
Likes count:  7743

Tweet id:  772615324260794368
Retweet count:  3213
Likes count:  0

Tweet id:  772581559778025472
Retweet count:  1624
Likes count:  6261

Tweet id:  772193107915964416
Retweet count:  1317
Likes count:  5785

Tweet id:  772152991789019136
Retweet count:  1084
Likes count:  3675

Tweet id:  772117678702071809
Retweet count:  700
Likes count:  3622

Tweet id:  772114945936949249
Retweet count:  449
Likes count:  2631

Tweet id:  772102971039580160
Retweet count:  889
Likes count:  3843

Tweet id:  771908950375665664
Retweet count:  1797
Likes count:  6316

Tweet id:  771770456517009408
Retweet count:  3219
Likes count:  11554

Tweet id:  771500966810099713
Retweet count:  2484
Likes count:  7969

Tweet id:  771380798096281600
Retweet count:  4816
Likes count:  10129

Tweet id:  771171053431250945
Retweet count:  7069
Likes count:  0

Tweet id:  771136648247640064
Retweet count:  2778
Likes count:  8804

Tweet id:  771102124360998913
Retweet count:  1369
Likes count:  5993

Tweet id:  771014301343748096
Retweet count:  1576
Likes count:  6637

Tweet id:  770787852854652928
Retweet count:  1143
Likes count:  4747

Tweet id:  770772759874076672
Retweet count:  1354
Likes count:  4988

Tweet id:  770655142660169732
Retweet count:  1706
Likes count:  7088

Tweet id:  770414278348247044
Retweet count:  1989
Likes count:  6093

Tweet id:  770293558247038976
Retweet count:  1390
Likes count:  5970

Tweet id:  770093767776997377
Retweet count:  2894
Likes count:  0

Tweet id:  770069151037685760
Retweet count:  2173
Likes count:  7305

Tweet id:  769940425801170949
Retweet count:  9076
Likes count:  30029


Likes count:  5183

Tweet id:  768970937022709760
Retweet count:  6162
Likes count:  13713

Tweet id:  768909767477751808
Retweet count:  2530
Likes count:  0

Tweet id:  768855141948723200
Retweet count:  849
Likes count:  4027

Tweet id:  768609597686943744
Retweet count:  1131
Likes count:  3942

Tweet id:  768596291618299904
Retweet count:  1217
Likes count:  4844

Tweet id:  768554158521745409
Retweet count:  5523
Likes count:  0

Tweet id:  768473857036525572
Retweet count:  3244
Likes count:  13082

Tweet id:  768193404517830656
Retweet count:  3358
Likes count:  10456

Tweet id:  767884188863397888
Retweet count:  1295
Likes count:  4561

Tweet id:  767754930266464257
Retweet count:  5097
Likes count:  15356

Tweet id:  767500508068192258
Retweet count:  2214
Likes count:  7209

Tweet id:  767191397493538821
Retweet count:  3582
Likes count:  11821

Tweet id:  767122157629476866
Retweet count:  2720
Likes count:  9775

Tweet id:  766793450729734144
Retweet count:  1287
Likes count:  4852

Tweet id:  766714921925144576
Retweet count:  360
Likes count:  2510

Tweet id:  766693177336135680
Retweet count:  754
Likes count:  3864

Tweet id:  766423258543644672
Retweet count:  1494
Likes count:  5767

Tweet id:  766313316352462849
Retweet count:  1783
Likes count:  6507

Tweet id:  766078092750233600
Retweet count:  2489
Likes count:  0

Tweet id:  766069199026450432
Retweet count:  804
Likes count:  4044

Tweet id:  766008592277377025
Retweet count:  472
Likes count:  3612

Tweet id:  765719909049503744
Retweet count:  2048
Likes count:  6957

Tweet id:  765669560888528897
Retweet count:  1171
Likes count:  4977

Tweet id:  765395769549590528
Retweet count:  3208
Likes count:  25691

Tweet id:  765371061932261376
Retweet count:  2062
Likes count:  6810

Tweet id:  765222098633691136
Retweet count:  3213
Likes count:  11165

Tweet id:  764857477905154048
Retweet count:  1686
Likes count:  6212

Tweet id:  764259802650378240
Retweet count:  1430
Likes count:  5774

Tweet id:  763956972077010945
Retweet count:  51
Likes count:  742

Tweet id:  763837565564780549
Retweet count:  3924
Likes count:  12043

Tweet id:  763183847194451968
Retweet count:  1396
Likes count:  5160

Tweet id:  763167063695355904
Retweet count:  2841
Likes count:  0

Tweet id:  763103485927849985
Retweet count:  2187
Likes count:  7087

Tweet id:  762699858130116608
Retweet count:  3414
Likes count:  11639

Tweet id:  762471784394268675
Retweet count:  6074
Likes count:  10749

Tweet id:  762464539388485633
Retweet count:  3946
Likes count:  9889

Tweet id:  762316489655476224
Retweet count:  1056
Likes count:  4599

Tweet id:  762035686371364864
Retweet count:  14689
Likes count:  30494

Tweet id:  761976711479193600
Retweet count:  1884
Likes count:  5181

Tweet id:  761750502866649088
Retweet count:  3702
Likes count:  0

Tweet id:  761745352076779520
Retweet count:  823
Likes count:  4111

Tweet id:  761672994376806400
Retweet count:  27496
Likes count:  47359

Tweet id:  761599872357261312
Retweet count:  1121
Likes count:  3965

Tweet id:  761371037149827077
Retweet count:  17138
Likes count:  0

Tweet id:  761334018830917632
Retweet count:  1377
Likes count:  4956

Tweet id:  761292947749015552
Retweet count:  1032
Likes count:  4302

Tweet id:  761227390836215808
Retweet count:  1487
Likes count:  5117

Tweet id:  761004547850530816
Retweet count:  3298
Likes count:  10896

Tweet id:  760893934457552897
Retweet count:  917
Likes count:  3659

Tweet id:  760656994973933572
Retweet count:  1798
Likes count:  6316

Tweet id:  760641137271070720
Retweet count:  1218
Likes count:  4792

Tweet id:  760539183865880579
Retweet count:  3437
Likes count:  7246

Tweet id:  760521673607086080
Retweet count:  1319
Likes count:  4022

Tweet id:  760290219849637889
Retweet count:  10854
Likes count:  25677

Tweet id:  760252756032651264
Retweet count:  816
Likes count:  3787

Tweet id:  760190180481531904
Retweet count:  1694
Likes count:  5465

Tweet id:  760153949710192640
Retweet count:  30
Likes count:  0

Tweet id:  759943073749200896
Retweet count:  1974
Likes count:  5692

Tweet id:  759846353224826880
Retweet count:  1865
Likes count:  6446

Tweet id:  759793422261743616
Retweet count:  1805
Likes count:  5711

Tweet id:  759557299618865152
Retweet count:  1136
Likes count:  4489

Tweet id:  759447681597108224
Retweet count:  2333
Likes count:  8146

Tweet id:  759446261539934208
Retweet count:  463
Likes count:  1604

Tweet id:  759197388317847553
Retweet count:  1842
Likes count:  5819

Tweet id:  759159934323924993
Retweet count:  1102
Likes count:  0

Tweet id:  759099523532779520
Retweet count:  3924
Likes count:  13914

Tweet id:  759047813560868866
Retweet count:  1901
Likes count:  6206

Tweet id:  758854675097526272
Retweet count:  859
Likes count:  3402

Tweet id:  758828659922702336
Retweet count:  3655
Likes count:  10721

Tweet id:  758740312047005698
Retweet count:  1531
Likes count:  5491

Tweet id:  758474966123810816
Retweet count:  941
Likes count:  3635

Tweet id:  758467244762497024
Retweet count:  2085
Likes count:  4597

Tweet id:  758405701903519748
Retweet count:  1809
Likes count:  4985

Tweet id:  758355060040593408
Retweet count:  1000
Likes count:  3234

Tweet id:  758099635764359168
Retweet count:  9413
Likes count:  18166

Tweet id:  758041019896193024
Retweet count:  351
Likes count:  2592

Tweet id:  757741869644341248
Retweet count:  3099
Likes count:  6575

Tweet id:  757729163776290825
Retweet count:  7429
Likes count:  0

Tweet id:  757725642876129280
Retweet count:  1143
Likes count:  4347

Tweet id:  757611664640446465
Retweet count:  1033
Likes count:  4386

Tweet id:  757597904299253760
Retweet count:  285
Likes count:  0

Tweet id:  757596066325864448
Retweet count:  991
Likes count:  4162

Tweet id:  757400162377592832
Retweet count:  6477
Likes count:  14470

Tweet id:  757393109802180609
Retweet count:  1629
Likes count:  5565

Tweet id:  757354760399941633
Retweet count:  1332
Likes count:  4316

Tweet id:  756998049151549440
Retweet count:  1887
Likes count:  6009

Tweet id:  756939218950160384
Retweet count:  1903
Likes count:  6360

Tweet id:  756651752796094464
Retweet count:  1229
Likes count:  4821

Tweet id:  756526248105566208
Retweet count:  3397
Likes count:  9944

Tweet id:  756303284449767430
Retweet count:  1040
Likes count:  3780

Tweet id:  756288534030475264
Retweet count:  16738
Likes count:  42164

Tweet id:  756275833623502848
Retweet count:  1444
Likes count:  6098

Tweet id:  755955933503782912
Retweet count:  2703
Likes count:  6983

Tweet id:  755206590534418437
Retweet count:  5042
Likes count:  15706

Tweet id:  755110668769038337
Retweet count:  10479
Likes count:  20247

Tweet id:  754874841593970688
Retweet count:  7455
Likes count:  0

Tweet id:  754856583969079297
Retweet count:  2363
Likes count:  6605

Tweet id:  754747087846248448
Retweet count:  493
Likes count:  2473

Tweet id:  754482103782404096
Retweet count:  1839
Likes count:  5052

Tweet id:  754449512966619136
Retweet count:  692
Likes count:  3586

Tweet id:  754120377874386944
Retweet count:  2223
Likes count:  7553

Tweet id:  753655901052166144
Retweet count:  2055
Likes count:  5576

Tweet id:  753420520834629632
Retweet count:  3337
Likes count:  7518

Tweet id:  753398408988139520
Retweet count:  1787
Likes count:  5488

Tweet id:  753375668877008896
Retweet count:  2202
Likes count:  7306

Tweet id:  753298634498793472
Retweet count:  5365
Likes count:  0

Tweet id:  753294487569522689
Retweet count:  981
Likes count:  3207

Tweet id:  753039830821511168
Retweet count:  19709
Likes count:  35426

Tweet id:  753026973505581056
Retweet count:  901
Likes count:  3749

Tweet id:  752932432744185856
Retweet count:  6469
Likes count:  12044

Tweet id:  752917284578922496
Retweet count:  1477
Likes count:  6644

Tweet id:  752701944171524096
Retweet count:  2702
Likes count:  0

Tweet id:  752682090207055872
Retweet count:  1495
Likes count:  5755

Tweet id:  752660715232722944
Retweet count:  1467
Likes count:  4165

Tweet id:  752568224206688256
Retweet count:  2150
Likes count:  5251

Tweet id:  752519690950500352
Retweet count:  3242
Likes count:  7026

Tweet id:  752334515931054080
Retweet count:  1033
Likes count:  3663

Tweet id:  752309394570878976
Retweet count:  15283
Likes count:  0

Tweet id:  752173152931807232
Retweet count:  1724
Likes count:  5685

Tweet id:  751950017322246144
Retweet count:  859
Likes count:  2916

Tweet id:  751937170840121344
Retweet count:  1233
Likes count:  4944

Tweet id:  751830394383790080
Retweet count:  1840
Likes count:  5557

Tweet id:  751793661361422336
Retweet count:  2707
Likes count:  5536

Tweet id:  751598357617971201
Retweet count:  2889
Likes count:  7608

Tweet id:  751583847268179968
Retweet count:  1031
Likes count:  4205

Tweet id:  751538714308972544
Retweet count:  1181
Likes count:  4830

Tweet id:  751456908746354688
Retweet count:  944
Likes count:  3078

Tweet id:  751251247299190784
Retweet count:  5529
Likes count:  11984

Tweet id:  751205363882532864
Retweet count:  1714
Likes count:  6033

Tweet id:  751132876104687617
Retweet count:  1220
Likes count:  4830

Tweet id:  750868782890057730
Retweet count:  1286
Likes count:  4569

Tweet id:  750719632563142656
Retweet count:  4717
Likes count:  12560

Tweet id:  750506206503038976
Retweet count:  1079
Likes count:  4241

Tweet id:  750429297815552001
Retweet count:  4028
Likes count:  12591

Tweet id:  750383411068534784
Retweet count:  1074
Likes count:  4352

Tweet id:  750381685133418496
Retweet count:  28
Likes count:  681

Tweet id:  750147208377409536
Retweet count:  905
Likes count:  2980

Tweet id:  750132105863102464
Retweet count:  1212
Likes count:  3456

Tweet id:  750117059602808832
Retweet count:  1238
Likes count:  4162

Tweet id:  750101899009982464
Retweet count:  795
Likes count:  2917

Tweet id:  750086836815486976
Retweet count:  501
Likes count:  2078

Tweet id:  750071704093859840
Retweet count:  3114
Likes count:  7436

Tweet id:  750056684286914561
Retweet count:  852
Likes count:  3024

Tweet id:  750041628174217216
Retweet count:  580
Likes count:  3030

Tweet id:  750026558547456000
Retweet count:  736
Likes count:  2596

Tweet id:  750011400160841729
Retweet count:  848
Likes count:  3087

Tweet id:  749996283729883136
Retweet count:  773
Likes count:  2902

Tweet id:  749981277374128128
Retweet count:  2331
Likes count:  4882

Tweet id:  749774190421639168
Retweet count:  1255
Likes count:  4461

Tweet id:  749417653287129088
Retweet count:  1546
Likes count:  5833

Tweet id:  749403093750648834
Retweet count:  501
Likes count:  2495

Tweet id:  749395845976588288
Retweet count:  3247
Likes count:  8163

Tweet id:  749317047558017024
Retweet count:  2097
Likes count:  5220

Tweet id:  749075273010798592
Retweet count:  1944
Likes count:  5492

Tweet id:  749064354620928000
Retweet count:  1445
Likes count:  4590

Tweet id:  749036806121881602
Retweet count:  747
Likes count:  2950

Tweet id:  748977405889503236
Retweet count:  3208
Likes count:  10270

Tweet id:  748932637671223296
Retweet count:  2119
Likes count:  5529

Tweet id:  748705597323898880
Retweet count:  899
Likes count:  2651

Tweet id:  748699167502000129
Retweet count:  1493
Likes count:  4524

Tweet id:  748692773788876800
Retweet count:  1251
Likes count:  4034

Tweet id:  748575535303884801
Retweet count:  1864
Likes count:  5789

Tweet id:  748568946752774144
Retweet count:  633
Likes count:  2104

Tweet id:  748346686624440324
Retweet count:  1156
Likes count:  4978

Tweet id:  748337862848962560
Retweet count:  3851
Likes count:  7236

Tweet id:  748324050481647620
Retweet count:  713
Likes count:  3521

Tweet id:  748307329658011649
Retweet count:  672
Likes count:  3524

Tweet id:  748220828303695873
Retweet count:  7316
Likes count:  13459

Tweet id:  747963614829678593
Retweet count:  2012
Likes count:  5510

Tweet id:  747933425676525569
Retweet count:  2409
Likes count:  6314

Tweet id:  747885874273214464
Retweet count:  908
Likes count:  2782

Tweet id:  747844099428986880
Retweet count:  697
Likes count:  2696

Tweet id:  747816857231626240
Retweet count:  1094
Likes count:  4607

Tweet id:  747651430853525504
Retweet count:  146
Likes count:  1303

Tweet id:  747648653817413632
Retweet count:  5480
Likes count:  12269

Tweet id:  747600769478692864
Retweet count:  532
Likes count:  2224

Tweet id:  747594051852075008
Retweet count:  978
Likes count:  3502

Tweet id:  747512671126323200
Retweet count:  1519
Likes count:  5254

Tweet id:  747461612269887489
Retweet count:  982
Likes count:  3686

Tweet id:  747439450712596480
Retweet count:  1796
Likes count:  5148

Tweet id:  747242308580548608
Retweet count:  2721
Likes count:  0

Tweet id:  747219827526344708
Retweet count:  1477
Likes count:  5004

Tweet id:  747204161125646336
Retweet count:  855
Likes count:  3197

Tweet id:  747103485104099331
Retweet count:  3722
Likes count:  9085

Tweet id:  746906459439529985
Retweet count:  275
Likes count:  2772

Tweet id:  746872823977771008
Retweet count:  2009
Likes count:  5698

Tweet id:  746818907684614144
Retweet count:  1645
Likes count:  5058

Tweet id:  746790600704425984
Retweet count:  1509
Likes count:  4624

Tweet id:  746757706116112384
Retweet count:  3678
Likes count:  9082

Tweet id:  746726898085036033
Retweet count:  1685
Likes count:  5765

Tweet id:  746542875601690625
Retweet count:  1784
Likes count:  4796

Tweet id:  746521445350707200
Retweet count:  926
Likes count:  0

Tweet id:  746507379341139972
Retweet count:  1023
Likes count:  4439

Tweet id:  746369468511756288
Retweet count:  1533
Likes count:  5911

Tweet id:  746131877086527488
Retweet count:  2056
Likes count:  6542

Tweet id:  746056683365994496
Retweet count:  763
Likes count:  3397

Tweet id:  745789745784041472
Retweet count:  993
Likes count:  3792

Tweet id:  745712589599014916
Retweet count:  2186
Likes count:  6668

Tweet id:  745433870967832576
Retweet count:  2385
Likes count:  6716

Tweet id:  745422732645535745
Retweet count:  2263
Likes count:  8133

Tweet id:  745314880350101504
Retweet count:  2570
Likes count:  6786

Tweet id:  745074613265149952
Retweet count:  3278
Likes count:  7462

Tweet id:  745057283344719872
Retweet count:  2101
Likes count:  6899

Tweet id:  744995568523612160
Retweet count:  578
Likes count:  2817

Tweet id:  744971049620602880
Retweet count:  2512
Likes count:  7476

Tweet id:  744709971296780288
Retweet count:  1479
Likes count:  5342

Tweet id:  744334592493166593
Retweet count:  1980
Likes count:  6452

Tweet id:  744234799360020481
Retweet count:  72709
Likes count:  148097

Tweet id:  744223424764059648
Retweet count:  336
Likes count:  1566

Tweet id:  743980027717509120
Retweet count:  1035
Likes count:  3979

Tweet id:  743895849529389061
Retweet count:  903
Likes count:  3483

Tweet id:  743835915802583040
Retweet count:  1939
Likes count:  0

Tweet id:  743609206067040256
Retweet count:  1306
Likes count:  4250

Tweet id:  743595368194129920
Retweet count:  6110

Likes count:  17368

Tweet id:  743545585370791937
Retweet count:  887
Likes count:  3356

Tweet id:  743510151680958465
Retweet count:  3502
Likes count:  7563

Tweet id:  743253157753532416
Retweet count:  1147
Likes count:  4024

Tweet id:  743222593470234624
Retweet count:  1795
Likes count:  5882

Tweet id:  743210557239623680
Retweet count:  1276
Likes count:  3643

Tweet id:  742534281772302336
Retweet count:  3363
Likes count:  6702

Tweet id:  742528092657332225
Retweet count:  1841
Likes count:  4197

Tweet id:  742465774154047488
Retweet count:  3693
Likes count:  6893

Tweet id:  742423170473463808
Retweet count:  3512
Likes count:  9324

Tweet id:  742385895052087300
Retweet count:  1836
Likes count:  6449

Tweet id:  742161199639494656
Retweet count:  1274
Likes count:  4083

Tweet id:  742150209887731712
Retweet count:  1447
Likes count:  4834

Tweet id:  741793263812808706
Retweet count:  1411
Likes count:  4307

Tweet id:  741743634094141440
Retweet count:  2580
Likes count:  7733

Tweet id:  741438259667034112
Retweet count:  766
Likes count:  3500

Tweet id:  741303864243200000
Retweet count:  3012
Likes count:  8329

Tweet id:  741099773336379392
Retweet count:  5175
Likes count:  9458

Tweet id:  741067306818797568
Retweet count:  2894
Likes count:  9070

Tweet id:  740995100998766593
Retweet count:  2549
Likes count:  6001

Tweet id:  740711788199743490
Retweet count:  887
Likes count:  3219

Tweet id:  740699697422163968
Retweet count:  729
Likes count:  2704

Tweet id:  740676976021798912
Retweet count:  6402
Likes count:  17240

Tweet id:  740373189193256964
Retweet count:  12473
Likes count:  33268

Tweet id:  740365076218183684
Retweet count:  398
Likes count:  2317

Tweet id:  740359016048689152
Retweet count:  811
Likes count:  3110

Tweet id:  740214038584557568
Retweet count:  1835
Likes count:  6334

Tweet id:  739979191639244800
Retweet count:  5523
Likes count:  18921

Tweet id:  739932936087216128
Retweet count:  1011
Likes count:  3845

Tweet id:  739844404073074688
Retweet count:  806
Likes count:  3601

Tweet id:  739623569819336705
Retweet count:  1273
Likes count:  3573

Tweet id:  739606147276148736
Retweet count:  1545
Likes count:  5107

Tweet id:  739544079319588864
Retweet count:  19811
Likes count:  37309

Tweet id:  739485634323156992
Retweet count:  2715
Likes count:  6746

Tweet id:  739238157791694849
Retweet count:  54296
Likes count:  109660

Tweet id:  738891149612572673
Retweet count:  6
Likes count:  97

Tweet id:  738885046782832640
Retweet count:  1069
Likes count:  3575

Tweet id:  738883359779196928
Retweet count:  739
Likes count:  3113

Tweet id:  738537504001953792
Retweet count:  1436
Likes count:  4811

Tweet id:  738402415918125056
Retweet count:  767
Likes count:  3080

Tweet id:  738184450748633089
Retweet count:  1140
Likes count:  4075

Tweet id:  738166403467907072
Retweet count:  3114
Likes count:  8271

Tweet id:  738156290900254721
Retweet count:  596
Likes count:  2353

Tweet id:  737826014890496000
Retweet count:  1644
Likes count:  4970

Tweet id:  737800304142471168
Retweet count:  3244
Likes count:  9468

Tweet id:  737678689543020544
Retweet count:  1232
Likes count:  4754

Tweet id:  737445876994609152
Retweet count:  4169
Likes count:  9692

Tweet id:  737322739594330112
Retweet count:  753
Likes count:  3402

Tweet id:  737310737551491075
Retweet count:  6927
Likes count:  13862

Tweet id:  736736130620620800
Retweet count:  1599
Likes count:  3992

Tweet id:  736392552031657984
Retweet count:  6852
Likes count:  16749

Tweet id:  736365877722001409
Retweet count:  1153
Likes count:  3759

Tweet id:  736225175608430592
Retweet count:  2614
Likes count:  7670

Tweet id:  736010884653420544
Retweet count:  2761
Likes count:  7429

Tweet id:  735991953473572864
Retweet count:  1063
Likes count:  3379

Tweet id:  735648611367784448
Retweet count:  1037
Likes count:  3825

Tweet id:  735635087207878657
Retweet count:  2200
Likes count:  5814

Tweet id:  735274964362878976
Retweet count:  4679
Likes count:  12326

Tweet id:  735256018284875776
Retweet count:  825
Likes count:  3146

Tweet id:  735137028879360001
Retweet count:  908
Likes count:  2954

Tweet id:  734912297295085568
Retweet count:  493
Likes count:  2607

Tweet id:  734787690684657664
Retweet count:  5919
Likes count:  11854

Tweet id:  734776360183431168
Retweet count:  501
Likes count:  2377

Tweet id:  734559631394082816
Retweet count:  370
Likes count:  1407

Tweet id:  733828123016450049
Retweet count:  734
Likes count:  3378

Tweet id:  733822306246479872
Retweet count:  961
Likes count:  3482

Tweet id:  733482008106668032
Retweet count:  883
Likes count:  2947

Tweet id:  733460102733135873
Retweet count:  1176
Likes count:  3957

Tweet id:  733109485275860992
Retweet count:  15959
Likes count:  50530

Tweet id:  732732193018155009
Retweet count:  499
Likes count:  2294

Tweet id:  732726085725589504
Retweet count:  827
Likes count:  3361

Tweet id:  732585889486888962
Retweet count:  733
Likes count:  3446

Tweet id:  732375214819057664
Retweet count:  2342
Likes count:  7625

Tweet id:  732005617171337216
Retweet count:  5018
Likes count:  14045

Tweet id:  731285275100512256
Retweet count:  929
Likes count:  3311

Tweet id:  731156023742988288
Retweet count:  1179
Likes count:  3617

Tweet id:  730924654643314689
Retweet count:  1847
Likes count:  5802

Tweet id:  730573383004487680
Retweet count:  1982
Likes count:  4582

Tweet id:  730427201120833536
Retweet count:  970
Likes count:  3292

Tweet id:  730211855403241472
Retweet count:  990
Likes count:  3587

Tweet id:  730196704625098752
Retweet count:  1746
Likes count:  4543

Tweet id:  729854734790754305
Retweet count:  1042
Likes count:  3808

Tweet id:  729838605770891264
Retweet count:  352
Likes count:  1633

Tweet id:  729823566028484608
Retweet count:  1158
Likes count:  3744

Tweet id:  729463711119904772
Retweet count:  2151
Likes count:  5443

Tweet id:  729113531270991872
Retweet count:  296
Likes count:  1771

Tweet id:  728986383096946689
Retweet count:  759
Likes count:  2961

Tweet id:  728760639972315136
Retweet count:  1589
Likes count:  4391

Tweet id:  728751179681943552
Retweet count:  635
Likes count:  2612

Tweet id:  728653952833728512
Retweet count:  973
Likes count:  3121

Tweet id:  728409960103686147
Retweet count:  1874
Likes count:  4621

Tweet id:  728387165835677696
Retweet count:  897
Likes count:  3504

Tweet id:  728046963732717569
Retweet count:  1119
Likes count:  4040

Tweet id:  728035342121635841
Retweet count:  1555
Likes count:  4283

Tweet id:  728015554473250816
Retweet count:  1023
Likes count:  3895

Tweet id:  727685679342333952
Retweet count:  594
Likes count:  2805

Tweet id:  727644517743104000
Retweet count:  1636
Likes count:  5532

Tweet id:  727524757080539137
Retweet count:  1123
Likes count:  4212

Tweet id:  727314416056803329
Retweet count:  693
Likes count:  3144

Tweet id:  727286334147182592
Retweet count:  768
Likes count:  2885

Tweet id:  727175381690781696
Retweet count:  1289
Likes count:  3685

Tweet id:  727155742655025152
Retweet count:  1230
Likes count:  3411

Tweet id:  726935089318363137
Retweet count:  2278
Likes count:  6492

Tweet id:  726887082820554753
Retweet count:  1410
Likes count:  3620

Tweet id:  726828223124897792
Retweet count:  943
Likes count:  3376

Tweet id:  726224900189511680
Retweet count:  1069
Likes count:  4178

Tweet id:  725842289046749185
Retweet count:  2489
Likes count:  6694

Tweet id:  725786712245440512
Retweet count:  1283
Likes count:  3941

Tweet id:  725729321944506368
Retweet count:  1654
Likes count:  4923

Tweet id:  725458796924002305
Retweet count:  573
Likes count:  1336

Tweet id:  724983749226668032
Retweet count:  1210
Likes count:  3526

Tweet id:  724771698126512129
Retweet count:  585
Likes count:  2208

Tweet id:  724405726123311104
Retweet count:  1556
Likes count:  4998

Tweet id:  724049859469295616
Retweet count:  1661
Likes count:  4072

Tweet id:  724046343203856385
Retweet count:  521
Likes count:  2514

Tweet id:  724004602748780546
Retweet count:  1431
Likes count:  3936

Tweet id:  723912936180330496
Retweet count:  1156
Likes count:  3685

Tweet id:  723688335806480385
Retweet count:  2718
Likes count:  7223

Tweet id:  723673163800948736
Retweet count:  832
Likes count:  2859

Tweet id:  723179728551723008
Retweet count:  1740
Likes count:  4988

Tweet id:  722974582966214656
Retweet count:  1465
Likes count:  3867

Tweet id:  722613351520608256
Retweet count:  1532
Likes count:  4706

Tweet id:  721503162398597120
Retweet count:  1691
Likes count:  4349

Tweet id:  721001180231503872
Retweet count:  571
Likes count:  2390

Tweet id:  720785406564900865
Retweet count:  719
Likes count:  2918

Tweet id:  720775346191278080
Retweet count:  604
Likes count:  2319

Tweet id:  720415127506415616
Retweet count:  1400
Likes count:  3895

Tweet id:  720389942216527872
Retweet count:  2327
Likes count:  6015

Tweet id:  720340705894408192
Retweet count:  910
Likes count:  2698

Tweet id:  720059472081784833
Retweet count:  1048
Likes count:  3641

Tweet id:  720043174954147842
Retweet count:  1874
Likes count:  4675

Tweet id:  719991154352222208
Retweet count:  1623
Likes count:  4578

Tweet id:  719704490224398336
Retweet count:  1328
Likes count:  4289

Tweet id:  719551379208073216
Retweet count:  1768
Likes count:  4766

Tweet id:  719367763014393856
Retweet count:  702
Likes count:  2650

Tweet id:  719339463458033665
Retweet count:  1152
Likes count:  4209

Tweet id:  719332531645071360
Retweet count:  887
Likes count:  3248

Tweet id:  718971898235854848
Retweet count:  1009
Likes count:  3281

Tweet id:  718939241951195136
Retweet count:  1629
Likes count:  4943

Tweet id:  718631497683582976
Retweet count:  7453
Likes count:  17800

Tweet id:  718613305783398402
Retweet count:  448
Likes count:  2309

Tweet id:  718540630683709445
Retweet count:  947
Likes count:  2303

Tweet id:  718460005985447936
Retweet count:  489
Likes count:  2550

Tweet id:  718454725339934721
Retweet count:  1411
Likes count:  4592

Tweet id:  718246886998687744
Retweet count:  459
Likes count:  1795

Tweet id:  718234618122661888
Retweet count:  931
Likes count:  3653

Tweet id:  717841801130979328
Retweet count:  558
Likes count:  2322

Tweet id:  717790033953034240
Retweet count:  1021
Likes count:  2693

Tweet id:  717537687239008257
Retweet count:  1719
Likes count:  5461

Tweet id:  717428917016076293
Retweet count:  420
Likes count:  1527

Tweet id:  717421804990701568
Retweet count:  775
Likes count:  2961

Tweet id:  717047459982213120
Retweet count:  1792
Likes count:  5933

Tweet id:  717009362452090881
Retweet count:  893
Likes count:  3055

Tweet id:  716802964044845056
Retweet count:  1085
Likes count:  4058

Tweet id:  716791146589110272
Retweet count:  1481
Likes count:  7814

Tweet id:  716730379797970944
Retweet count:  407
Likes count:  1164

Tweet id:  716447146686459905
Retweet count:  5473
Likes count:  12320

Tweet id:  716439118184652801
Retweet count:  197
Likes count:  2256

Tweet id:  716285507865542656
Retweet count:  986
Likes count:  2626

Tweet id:  716080869887381504
Retweet count:  1770
Likes count:  6412

Tweet id:  715928423106027520
Retweet count:  819
Likes count:  3011

Tweet id:  715758151270801409
Retweet count:  1330
Likes count:  3509

Tweet id:  715733265223708672
Retweet count:  1576
Likes count:  4416

Tweet id:  715704790270025728
Retweet count:  527
Likes count:  2626

Tweet id:  715696743237730304
Retweet count:  1201
Likes count:  3697

Tweet id:  715680795826982913
Retweet count:  1488
Likes count:  4061

Tweet id:  715360349751484417
Retweet count:  1456
Likes count:  5171

Tweet id:  715342466308784130
Retweet count:  640
Likes count:  2873

Tweet id:  715220193576927233
Retweet count:  607
Likes count:  2280

Tweet id:  715200624753819648
Retweet count:  1746
Likes count:  4874

Tweet id:  715009755312439296
Retweet count:  1144
Likes count:  3920

Tweet id:  714982300363173890
Retweet count:  963
Likes count:  3523

Tweet id:  714962719905021952
Retweet count:  3971
Likes count:  6941

Tweet id:  714957620017307648
Retweet count:  1316
Likes count:  3920

Tweet id:  714631576617938945
Retweet count:  929
Likes count:  3093

Tweet id:  714606013974974464
Retweet count:  862
Likes count:  3437

Tweet id:  714485234495041536
Retweet count:  1048
Likes count:  2515

Tweet id:  714258258790387713
Retweet count:  684
Likes count:  2882

Tweet id:  714251586676113411
Retweet count:  778
Likes count:  3106

Tweet id:  714214115368108032
Retweet count:  818
Likes count:  2163

Tweet id:  714141408463036416
Retweet count:  1318
Likes count:  4089

Tweet id:  713919462244790272
Retweet count:  740
Likes count:  3116

Tweet id:  713909862279876608
Retweet count:  505
Likes count:  1794

Tweet id:  713900603437621249
Retweet count:  681
Likes count:  2690

Tweet id:  713761197720473600
Retweet count:  1272
Likes count:  4592

Tweet id:  713411074226274305
Retweet count:  1220
Likes count:  4191

Tweet id:  713177543487135744
Retweet count:  2674
Likes count:  6821

Tweet id:  713175907180089344
Retweet count:  1373
Likes count:  4200

Tweet id:  712809025985978368
Retweet count:  6266
Likes count:  18018

Tweet id:  712717840512598017
Retweet count:  4631
Likes count:  11639

Tweet id:  712668654853337088
Retweet count:  1130
Likes count:  3925

Tweet id:  712438159032893441
Retweet count:  1462
Likes count:  5033

Tweet id:  712309440758808576
Retweet count:  25
Likes count:  223

Tweet id:  712097430750289920
Retweet count:  965
Likes count:  3565

Tweet id:  712092745624633345
Retweet count:  836
Likes count:  2787

Tweet id:  712085617388212225
Retweet count:  458
Likes count:  3095

Tweet id:  712065007010385924
Retweet count:  583
Likes count:  2122

Tweet id:  711998809858043904
Retweet count:  121
Likes count:  0

Tweet id:  711968124745228288
Retweet count:  2150
Likes count:  7607

Tweet id:  711743778164514816
Retweet count:  930
Likes count:  2693

Tweet id:  711732680602345472
Retweet count:  3799
Likes count:  8301

Tweet id:  711694788429553666
Retweet count:  17138
Likes count:  31017

Tweet id:  711652651650457602
Retweet count:  849
Likes count:  3651

Tweet id:  711363825979756544
Retweet count:  1057
Likes count:  3413

Tweet id:  711306686208872448
Retweet count:  693
Likes count:  3126

Tweet id:  711008018775851008
Retweet count:  573
Likes count:  2831

Tweet id:  710997087345876993
Retweet count:  1295
Likes count:  4331

Tweet id:  710844581445812225
Retweet count:  641
Likes count:  2414

Tweet id:  710833117892898816
Retweet count:  496
Likes count:  2538

Tweet id:  710658690886586372
Retweet count:  529
Likes count:  2195

Tweet id:  710609963652087808
Retweet count:  2220
Likes count:  4533

Tweet id:  710588934686908417
Retweet count:  1743
Likes count:  4289

Tweet id:  710296729921429505
Retweet count:  687
Likes count:  2256

Tweet id:  710283270106132480
Retweet count:  492
Likes count:  2051

Tweet id:  710272297844797440
Retweet count:  1174
Likes count:  4263

Tweet id:  710269109699739648
Retweet count:  1042
Likes count:  2265

Tweet id:  710153181850935296
Retweet count:  836
Likes count:  2756

Tweet id:  710140971284037632
Retweet count:  830
Likes count:  2595

Tweet id:  710117014656950272
Retweet count:  1843
Likes count:  5153

Tweet id:  709918798883774466
Retweet count:  1016
Likes count:  3309

Tweet id:  709901256215666688
Retweet count:  96
Likes count:  630

Tweet id:  709852847387627521
Retweet count:  1127
Likes count:  3312

Tweet id:  709566166965075968
Retweet count:  1118
Likes count:  3344

Tweet id:  709556954897764353
Retweet count:  1005
Likes count:  3106

Tweet id:  709519240576036864
Retweet count:  224
Likes count:  1424

Tweet id:  709449600415961088
Retweet count:  533
Likes count:  2086

Tweet id:  709409458133323776
Retweet count:  640
Likes count:  2502

Tweet id:  709225125749587968
Retweet count:  536
Likes count:  2269

Tweet id:  709207347839836162
Retweet count:  5371
Likes count:  11775

Tweet id:  709198395643068416
Retweet count:  604
Likes count:  2326

Tweet id:  709179584944730112
Retweet count:  628
Likes count:  1905

Tweet id:  709158332880297985
Retweet count:  378
Likes count:  1925

Tweet id:  709042156699303936
Retweet count:  1524
Likes count:  4464

Tweet id:  708853462201716736
Retweet count:  612
Likes count:  1709

Tweet id:  708845821941387268
Retweet count:  835
Likes count:  2805

Tweet id:  708834316713893888
Retweet count:  470
Likes count:  1595

Tweet id:  708810915978854401
Retweet count:  6453
Likes count:  15597

Tweet id:  708738143638450176
Retweet count:  765
Likes count:  2609

Tweet id:  708711088997666817
Retweet count:  665
Likes count:  2397

Tweet id:  708479650088034305
Retweet count:  641
Likes count:  2404

Tweet id:  708469915515297792
Retweet count:  758
Likes count:  2936

Tweet id:  708400866336894977
Retweet count:  9387
Likes count:  15044

Tweet id:  708356463048204288
Retweet count:  1238
Likes count:  3387

Tweet id:  708349470027751425
Retweet count:  692
Likes count:  2236

Tweet id:  708149363256774660
Retweet count:  1452
Likes count:  4082

Tweet id:  708130923141795840
Retweet count:  799
Likes count:  3194

Tweet id:  708119489313951744
Retweet count:  916
Likes count:  2543

Tweet id:  708109389455101952
Retweet count:  522
Likes count:  1853

Tweet id:  708026248782585858
Retweet count:  1808
Likes count:  4168

Tweet id:  707995814724026368
Retweet count:  1052
Likes count:  2965

Tweet id:  707983188426153984
Retweet count:  2
Likes count:  48

Tweet id:  707969809498152960
Retweet count:  897
Likes count:  2548

Tweet id:  707776935007539200
Retweet count:  898
Likes count:  3102

Tweet id:  707741517457260545
Retweet count:  570
Likes count:  2353

Tweet id:  707738799544082433
Retweet count:  2278
Likes count:  3847

Tweet id:  707693576495472641
Retweet count:  936
Likes count:  3208

Tweet id:  707629649552134146
Retweet count:  814
Likes count:  2428

Tweet id:  707610948723478529
Retweet count:  5920
Likes count:  16055

Tweet id:  707420581654872064
Retweet count:  655
Likes count:  2129

Tweet id:  707411934438625280
Retweet count:  562
Likes count:  2182

Tweet id:  707387676719185920
Retweet count:  1188
Likes count:  3307

Tweet id:  707377100785885184
Retweet count:  1010
Likes count:  3088

Tweet id:  707315916783140866
Retweet count:  595
Likes count:  2341

Tweet id:  707297311098011648
Retweet count:  734
Likes count:  2644

Tweet id:  707059547140169728
Retweet count:  634
Likes count:  2465

Tweet id:  707038192327901184
Retweet count:  736
Likes count:  2068

Tweet id:  707021089608753152
Retweet count:  1272
Likes count:  3869

Tweet id:  707014260413456384
Retweet count:  558
Likes count:  2187

Tweet id:  706904523814649856
Retweet count:  7336
Likes count:  13784

Tweet id:  706901761596989440
Retweet count:  543
Likes count:  1935

Tweet id:  706681918348251136
Retweet count:  914
Likes count:  3120

Tweet id:  706644897839910912
Retweet count:  1022
Likes count:  2427

Tweet id:  706593038911545345
Retweet count:  595
Likes count:  2043

Tweet id:  706538006853918722
Retweet count:  1342
Likes count:  3287

Tweet id:  706516534877929472
Retweet count:  965
Likes count:  2960

Tweet id:  706346369204748288
Retweet count:  865
Likes count:  3265

Tweet id:  706310011488698368
Retweet count:  7365
Likes count:  20083

Tweet id:  706291001778950144
Retweet count:  449
Likes count:  1621

Tweet id:  706265994973601792
Retweet count:  868
Likes count:  2592

Tweet id:  706169069255446529
Retweet count:  2064
Likes count:  3692

Tweet id:  706166467411222528
Retweet count:  1506
Likes count:  4865

Tweet id:  706153300320784384
Retweet count:  357
Likes count:  1402

Tweet id:  705975130514706432
Retweet count:  679
Likes count:  2939

Tweet id:  705970349788291072
Retweet count:  836
Likes count:  3018


Retweet count:  1069
Likes count:  3002

Tweet id:  705475953783398401
Retweet count:  854
Likes count:  2818

Tweet id:  705442520700944385
Retweet count:  1501
Likes count:  4165

Tweet id:  705428427625635840
Retweet count:  1562
Likes count:  3606

Tweet id:  705239209544720384
Retweet count:  703
Likes count:  2841

Tweet id:  705223444686888960
Retweet count:  745
Likes count:  2444

Tweet id:  705102439679201280
Retweet count:  486
Likes count:  2030

Tweet id:  705066031337840642
Retweet count:  570
Likes count:  2069

Tweet id:  704871453724954624
Retweet count:  1050
Likes count:  4050

Tweet id:  704859558691414016
Retweet count:  497
Likes count:  2137

Tweet id:  704847917308362754
Retweet count:  1416
Likes count:  4812

Tweet id:  704819833553219584
Retweet count:  917
Likes count:  2501

Tweet id:  704761120771465216
Retweet count:  2721
Likes count:  6294

Tweet id:  704499785726889984
Retweet count:  934
Likes count:  2745

Tweet id:  704491224099647488
Retweet count:  74
Likes count:  706

Tweet id:  704480331685040129
Retweet count:  1007
Likes count:  3225

Tweet id:  704364645503647744
Retweet count:  3323
Likes count:  7541

Tweet id:  704347321748819968
Retweet count:  324
Likes count:  1491

Tweet id:  704134088924532736
Retweet count:  426
Likes count:  1426

Tweet id:  704113298707505153
Retweet count:  536
Likes count:  1762

Tweet id:  704054845121142784
Retweet count:  866
Likes count:  2777

Tweet id:  703774238772166656
Retweet count:  417
Likes count:  1758

Tweet id:  703769065844768768
Retweet count:  1061
Likes count:  3094

Tweet id:  703631701117943808
Retweet count:  623
Likes count:  2421

Tweet id:  703611486317502464
Retweet count:  1425
Likes count:  3648

Tweet id:  703425003149250560
Retweet count:  1265
Likes count:  3590

Tweet id:  703407252292673536
Retweet count:  647
Likes count:  2317

Tweet id:  703382836347330562
Retweet count:  1066
Likes count:  3314

Tweet id:  703356393781329922
Retweet count:  360
Likes count:  1819

Tweet id:  703268521220972544
Retweet count:  510
Likes count:  1879

Tweet id:  703079050210877440
Retweet count:  2890
Likes count:  6987

Tweet id:  703041949650034688
Retweet count:  11630
Likes count:  24936

Tweet id:  702932127499816960
Retweet count:  671
Likes count:  2440

Tweet id:  702899151802126337
Retweet count:  419
Likes count:  1513

Tweet id:  702684942141153280
Retweet count:  991
Likes count:  3065

Tweet id:  702671118226825216
Retweet count:  525
Likes count:  2070

Tweet id:  702598099714314240
Retweet count:  3218
Likes count:  11599

Tweet id:  702539513671897089
Retweet count:  901
Likes count:  2736

Tweet id:  702332542343577600
Retweet count:  1439
Likes count:  2994

Tweet id:  702321140488925184
Retweet count:  980
Likes count:  3117

Tweet id:  702276748847800320
Retweet count:  720
Likes count:  2334

Tweet id:  702217446468493312
Retweet count:  1258
Likes count:  4522

Tweet id:  701981390485725185
Retweet count:  921
Likes count:  3260

Tweet id:  701952816642965504
Retweet count:  959
Likes count:  3637

Tweet id:  701889187134500865
Retweet count:  1295
Likes count:  3345

Tweet id:  701805642395348998
Retweet count:  1562
Likes count:  3227

Tweet id:  701601587219795968
Retweet count:  427
Likes count:  1985

Tweet id:  701570477911896070
Retweet count:  874
Likes count:  2664

Tweet id:  701545186879471618
Retweet count:  574
Likes count:  2523

Tweet id:  701214700881756160
Retweet count:  4771
Likes count:  11564

Tweet id:  700890391244103680
Retweet count:  528
Likes count:  2104

Tweet id:  700864154249383937
Retweet count:  585
Likes count:  2464

Tweet id:  700847567345688576
Retweet count:  466
Likes count:  2340

Tweet id:  700796979434098688
Retweet count:  881
Likes count:  2310

Tweet id:  700747788515020802
Retweet count:  8685
Likes count:  21549

Tweet id:  700518061187723268
Retweet count:  744
Likes count:  2466

Tweet id:  700505138482569216
Retweet count:  541
Likes count:  2170

Tweet id:  700462010979500032
Retweet count:  1669
Likes count:  3885

Tweet id:  700167517596164096
Retweet count:  683
Likes count:  2494

Tweet id:  700151421916807169
Retweet count:  631
Likes count:  2113

Tweet id:  700143752053182464
Retweet count:  2530
Likes count:  7118

Tweet id:  700062718104104960
Retweet count:  639
Likes count:  2503

Tweet id:  700029284593901568
Retweet count:  544
Likes count:  1967

Tweet id:  700002074055016451
Retweet count:  1254
Likes count:  3128

Tweet id:  699801817392291840
Retweet count:  881
Likes count:  2857

Tweet id:  699788877217865730
Retweet count:  483
Likes count:  2118

Tweet id:  699779630832685056
Retweet count:  1156
Likes count:  2585

Tweet id:  699775878809702401
Retweet count:  562
Likes count:  1856

Tweet id:  699691744225525762
Retweet count:  4299
Likes count:  9718

Tweet id:  699446877801091073
Retweet count:  2460
Likes count:  5655

Tweet id:  699434518667751424
Retweet count:  480
Likes count:  2074

Tweet id:  699423671849451520
Retweet count:  301
Likes count:  1284

Tweet id:  699413908797464576
Retweet count:  588
Likes count:  1975

Tweet id:  699370870310113280
Retweet count:  406
Likes count:  1794

Tweet id:  699323444782047232
Retweet count:  805
Likes count:  2976

Tweet id:  699088579889332224
Retweet count:  587
Likes count:  2137

Tweet id:  699079609774645248
Retweet count:  603
Likes count:  2322

Tweet id:  699072405256409088
Retweet count:  1113
Likes count:  2800

Tweet id:  699060279947165696
Retweet count:  1680
Likes count:  3542

Tweet id:  699036661657767936
Retweet count:  1128
Likes count:  2468

Tweet id:  698989035503689728
Retweet count:  905
Likes count:  3153

Tweet id:  698953797952008193
Retweet count:  852
Likes count:  2536

Tweet id:  698907974262222848
Retweet count:  574
Likes count:  2397

Tweet id:  698710712454139905
Retweet count:  636
Likes count:  2334

Tweet id:  698703483621523456
Retweet count:  350
Likes count:  1370

Tweet id:  698635131305795584
Retweet count:  323
Likes count:  1228

Tweet id:  698549713696649216
Retweet count:  582
Likes count:  2203

Tweet id:  698355670425473025
Retweet count:  414
Likes count:  1748

Tweet id:  698342080612007937
Retweet count:  900
Likes count:  2143

Tweet id:  698262614669991936
Retweet count:  1861
Likes count:  4518

Tweet id:  698195409219559425
Retweet count:  5602
Likes count:  15906

Tweet id:  698178924120031232
Retweet count:  698
Likes count:  2663

Tweet id:  697995514407682048
Retweet count:  316
Likes count:  1445

Tweet id:  697990423684476929
Retweet count:  1206
Likes count:  3110

Tweet id:  697943111201378304
Retweet count:  632
Likes count:  2261

Tweet id:  697881462549430272
Retweet count:  1089
Likes count:  2860

Tweet id:  697630435728322560
Retweet count:  510
Likes count:  1641

Tweet id:  697616773278015490
Retweet count:  942
Likes count:  2959

Tweet id:  697596423848730625
Retweet count:  1175
Likes count:  2854

Tweet id:  697575480820686848
Retweet count:  472
Likes count:  1934

Tweet id:  697516214579523584
Retweet count:  1033
Likes count:  1930

Tweet id:  697482927769255936
Retweet count:  627
Likes count:  2302

Tweet id:  697463031882764288
Retweet count:  1309
Likes count:  3248

Tweet id:  697270446429966336
Retweet count:  1760
Likes count:  4469

Tweet id:  697259378236399616
Retweet count:  936
Likes count:  3123

Tweet id:  697255105972801536
Retweet count:  1084
Likes count:  2906

Tweet id:  697242256848379904
Retweet count:  633
Likes count:  2397

Tweet id:  696900204696625153
Retweet count:  967
Likes count:  2994

Tweet id:  696894894812565505
Retweet count:  638
Likes count:  2222

Tweet id:  696886256886657024
Retweet count:  1672
Likes count:  4581

Tweet id:  696877980375769088
Retweet count:  665
Likes count:  2318

Tweet id:  696754882863349760
Retweet count:  334
Likes count:  1403

Tweet id:  696744641916489729
Retweet count:  868
Likes count:  1948

Tweet id:  696713835009417216
Retweet count:  606
Likes count:  2241

Tweet id:  696518437233913856
Retweet count:  1620
Likes count:  3712

Tweet id:  696490539101908992
Retweet count:  134
Likes count:  1152

Tweet id:  696488710901260288
Retweet count:  955
Likes count:  2376

Tweet id:  696405997980676096
Retweet count:  1079
Likes count:  3027

Tweet id:  696100768806522880
Retweet count:  608
Likes count:  1828

Tweet id:  695816827381944320
Retweet count:  1080
Likes count:  2842

Tweet id:  695794761660297217
Retweet count:  727
Likes count:  3003

Tweet id:  695767669421768709
Retweet count:  689
Likes count:  1755

Tweet id:  695629776980148225
Retweet count:  1955
Likes count:  4314

Tweet id:  695446424020918272
Retweet count:  1705
Likes count:  4187

Tweet id:  695409464418041856
Retweet count:  3353
Likes count:  8212

Tweet id:  695314793360662529
Retweet count:  1346
Likes count:  3429

Tweet id:  695095422348574720
Retweet count:  574
Likes count:  2518

Tweet id:  695074328191332352
Retweet count:  1024
Likes count:  2676

Tweet id:  695064344191721472
Retweet count:  547
Likes count:  1515

Tweet id:  695051054296211456
Retweet count:  745
Likes count:  2509

Tweet id:  694925794720792577
Retweet count:  856
Likes count:  2563

Tweet id:  694905863685980160
Retweet count:  874
Likes count:  2611

Tweet id:  694669722378485760
Retweet count:  13435
Likes count:  33898

Tweet id:  694356675654983680
Retweet count:  266
Likes count:  1424

Tweet id:  694352839993344000
Retweet count:  566
Likes count:  1923

Tweet id:  694342028726001664
Retweet count:  454
Likes count:  1505

Tweet id:  694329668942569472
Retweet count:  471
Likes count:  1883

Tweet id:  694206574471057408
Retweet count:  1910
Likes count:  3920

Tweet id:  694183373896572928
Retweet count:  869
Likes count:  2783

Tweet id:  694001791655137281
Retweet count:  959
Likes count:  3227

Tweet id:  693993230313091072
Retweet count:  377
Likes count:  1783

Tweet id:  693942351086120961
Retweet count:  343
Likes count:  1657

Tweet id:  693647888581312512
Retweet count:  545
Likes count:  2545

Tweet id:  693644216740769793
Retweet count:  118
Likes count:  1292

Tweet id:  693642232151285760
Retweet count:  392
Likes count:  2415

Tweet id:  693629975228977152
Retweet count:  745
Likes count:  2318

Tweet id:  693622659251335168
Retweet count:  348
Likes count:  1456

Tweet id:  693590843962331137
Retweet count:  1839
Likes count:  4786

Tweet id:  693582294167244802
Retweet count:  234
Likes count:  1563

Tweet id:  693486665285931008
Retweet count:  591
Likes count:  1681

Tweet id:  693280720173801472
Retweet count:  1163
Likes count:  3168

Tweet id:  693267061318012928
Retweet count:  756
Likes count:  2253

Tweet id:  693262851218264065
Retweet count:  465
Likes count:  2085

Tweet id:  693231807727280129
Retweet count:  696
Likes count:  2733

Tweet id:  693155686491000832
Retweet count:  2998
Likes count:  7471

Tweet id:  693109034023534592
Retweet count:  568
Likes count:  1612

Tweet id:  693095443459342336
Retweet count:  426
Likes count:  1761

Tweet id:  692919143163629568
Retweet count:  714
Likes count:  2574

Tweet id:  692905862751522816
Retweet count:  816
Likes count:  2299

Tweet id:  692901601640583168
Retweet count:  559
Likes count:  1663

Tweet id:  692894228850999298
Retweet count:  738
Likes count:  2131

Tweet id:  692828166163931137
Retweet count:  830
Likes count:  2731

Tweet id:  692752401762250755
Retweet count:  3410
Likes count:  6452

Tweet id:  692568918515392513
Retweet count:  1449
Likes count:  4123

Tweet id:  692535307825213440
Retweet count:  1277
Likes count:  2982

Tweet id:  692530551048294401
Retweet count:  384
Likes count:  1750

Tweet id:  692423280028966913
Retweet count:  205
Likes count:  1396

Tweet id:  692417313023332352
Retweet count:  3231
Likes count:  8861

Tweet id:  692187005137076224
Retweet count:  767
Likes count:  2395

Tweet id:  692158366030913536
Retweet count:  747
Likes count:  2026

Tweet id:  692142790915014657
Retweet count:  365
Likes count:  1550

Tweet id:  692041934689402880
Retweet count:  1176
Likes count:  3207

Tweet id:  692017291282812928
Retweet count:  896
Likes count:  2739

Tweet id:  691820333922455552
Retweet count:  1539
Likes count:  3757

Tweet id:  691793053716221953
Retweet count:  3958
Likes count:  7692

Tweet id:  691756958957883396
Retweet count:  921
Likes count:  2675

Tweet id:  691675652215414786
Retweet count:  473
Likes count:  1845

Tweet id:  691483041324204033
Retweet count:  520
Likes count:  2259

Tweet id:  691459709405118465
Retweet count:  1059
Likes count:  3823

Tweet id:  691444869282295808
Retweet count:  788
Likes count:  2494

Tweet id:  691416866452082688
Retweet count:  7140
Likes count:  18306

Tweet id:  691321916024623104
Retweet count:  622
Likes count:  2446

Tweet id:  691096613310316544
Retweet count:  830
Likes count:  2829

Tweet id:  691090071332753408
Retweet count:  316
Likes count:  1636

Tweet id:  690989312272396288
Retweet count:  2692
Likes count:  5600

Tweet id:  690959652130045952
Retweet count:  1150
Likes count:  3395

Tweet id:  690938899477221376
Retweet count:  1808
Likes count:  3864

Tweet id:  690932576555528194
Retweet count:  942
Likes count:  3103

Tweet id:  690735892932222976
Retweet count:  1191
Likes count:  3584

Tweet id:  690728923253055490
Retweet count:  484
Likes count:  2052

Tweet id:  690690673629138944
Retweet count:  772
Likes count:  2211

Tweet id:  690649993829576704
Retweet count:  255
Likes count:  1231

Tweet id:  690607260360429569
Retweet count:  15
Likes count:  286

Tweet id:  690597161306841088
Retweet count:  568
Likes count:  1842

Tweet id:  690400367696297985
Retweet count:  422
Likes count:  1789

Tweet id:  690374419777196032
Retweet count:  794
Likes count:  3063

Tweet id:  690360449368465409
Retweet count:  823
Likes count:  2507

Tweet id:  690348396616552449
Retweet count:  481
Likes count:  1413

Tweet id:  690248561355657216
Retweet count:  387
Likes count:  1588

Tweet id:  690021994562220032
Retweet count:  963
Likes count:  2654

Tweet id:  690015576308211712
Retweet count:  681
Likes count:  2362

Tweet id:  690005060500217858
Retweet count:  1583
Likes count:  3474

Tweet id:  689999384604450816
Retweet count:  339
Likes count:  1341

Tweet id:  689993469801164801
Retweet count:  422
Likes count:  1382

Tweet id:  689977555533848577
Retweet count:  422
Likes count:  1298

Tweet id:  689905486972461056
Retweet count:  649
Likes count:  2328

Tweet id:  689877686181715968
Retweet count:  1086
Likes count:  2869

Tweet id:  689835978131935233
Retweet count:  703
Likes count:  2060

Tweet id:  689661964914655233
Retweet count:  879
Likes count:  3070

Tweet id:  689659372465688576
Retweet count:  3605
Likes count:  9796

Tweet id:  689623661272240129
Retweet count:  598
Likes count:  2102

Tweet id:  689599056876867584
Retweet count:  5173
Likes count:  11037

Tweet id:  689557536375177216
Retweet count:  424
Likes count:  1951

Tweet id:  689517482558820352
Retweet count:  1335
Likes count:  3218

Tweet id:  689289219123089408
Retweet count:  875

Likes count:  2133

Tweet id:  689283819090870273
Retweet count:  1032
Likes count:  3090

Tweet id:  689280876073582592
Retweet count:  661
Likes count:  1870

Tweet id:  689275259254616065
Retweet count:  233
Likes count:  1087

Tweet id:  689255633275777024
Retweet count:  1011
Likes count:  2417

Tweet id:  689154315265683456
Retweet count:  925
Likes count:  2925

Tweet id:  689143371370250240
Retweet count:  468
Likes count:  1914

Tweet id:  688916208532455424
Retweet count:  804
Likes count:  2563

Tweet id:  688908934925697024
Retweet count:  719
Likes count:  1990

Tweet id:  688898160958271489
Retweet count:  731
Likes count:  1983

Tweet id:  688894073864884227
Retweet count:  641
Likes count:  2126

Tweet id:  688828561667567616
Retweet count:  342
Likes count:  1306

Tweet id:  688804835492233216
Retweet count:  176
Likes count:  913

Tweet id:  688789766343622656
Retweet count:  623
Likes count:  2102

Tweet id:  688547210804498433
Retweet count:  657
Likes count:  2455

Tweet id:  688519176466644993
Retweet count:  685
Likes count:  2203

Tweet id:  688385280030670848
Retweet count:  4189
Likes count:  8773

Tweet id:  688211956440801280
Retweet count:  783
Likes count:  2126

Tweet id:  688179443353796608
Retweet count:  547
Likes count:  2023

Tweet id:  688116655151435777
Retweet count:  724
Likes count:  2676

Tweet id:  688064179421470721
Retweet count:  338
Likes count:  1644

Tweet id:  687841446767013888
Retweet count:  2330
Likes count:  5158

Tweet id:  687826841265172480
Retweet count:  1047
Likes count:  2591

Tweet id:  687818504314159109
Retweet count:  893
Likes count:  2343

Tweet id:  687807801670897665
Retweet count:  672
Likes count:  2254

Tweet id:  687732144991551489
Retweet count:  618
Likes count:  1663

Tweet id:  687704180304273409
Retweet count:  786
Likes count:  2305

Tweet id:  687664829264453632
Retweet count:  482
Likes count:  1839

Tweet id:  687494652870668288
Retweet count:  541
Likes count:  1801

Tweet id:  687480748861947905
Retweet count:  224
Likes count:  1515

Tweet id:  687476254459715584
Retweet count:  500
Likes count:  1877

Tweet id:  687460506001633280
Retweet count:  506
Likes count:  1953

Tweet id:  687399393394311168
Retweet count:  578
Likes count:  1789

Tweet id:  687317306314240000
Retweet count:  8604
Likes count:  19089

Tweet id:  687312378585812992
Retweet count:  1776
Likes count:  4124

Tweet id:  687127927494963200
Retweet count:  2112
Likes count:  5120

Tweet id:  687124485711986689
Retweet count:  475
Likes count:  2071

Tweet id:  687109925361856513
Retweet count:  2309
Likes count:  5510

Tweet id:  687102708889812993
Retweet count:  901
Likes count:  2212

Tweet id:  687096057537363968
Retweet count:  570
Likes count:  2125

Tweet id:  686947101016735744
Retweet count:  2994
Likes count:  8183

Tweet id:  686760001961103360
Retweet count:  1299
Likes count:  3324

Tweet id:  686749460672679938
Retweet count:  1356
Likes count:  3282

Tweet id:  686730991906516992
Retweet count:  1131
Likes count:  3910

Tweet id:  686683045143953408
Retweet count:  757
Likes count:  2670

Tweet id:  686618349602762752
Retweet count:  1273
Likes count:  3505

Tweet id:  686606069955735556
Retweet count:  509
Likes count:  1793

Tweet id:  686394059078897668
Retweet count:  645
Likes count:  1644

Tweet id:  686386521809772549
Retweet count:  825
Likes count:  3078

Tweet id:  686377065986265092
Retweet count:  530
Likes count:  2103

Tweet id:  686358356425093120
Retweet count:  616
Likes count:  2052

Tweet id:  686286779679375361
Retweet count:  1572
Likes count:  3816

Tweet id:  686050296934563840
Retweet count:  682
Likes count:  2107

Tweet id:  686035780142297088
Retweet count:  111
Likes count:  1087

Tweet id:  686034024800862208
Retweet count:  1070
Likes count:  2918

Tweet id:  686007916130873345
Retweet count:  379
Likes count:  2340

Tweet id:  686003207160610816
Retweet count:  578
Likes count:  1729

Tweet id:  685973236358713344
Retweet count:  487
Likes count:  1982

Tweet id:  685943807276412928
Retweet count:  552
Likes count:  1538

Tweet id:  685906723014619143
Retweet count:  2676
Likes count:  7069

Tweet id:  685681090388975616
Retweet count:  115
Likes count:  1934

Tweet id:  685667379192414208
Retweet count:  524
Likes count:  2230

Tweet id:  685663452032069632
Retweet count:  1371
Likes count:  3049

Tweet id:  685641971164143616
Retweet count:  712
Likes count:  2759

Tweet id:  685547936038666240
Retweet count:  14545
Likes count:  31142

Tweet id:  685532292383666176
Retweet count:  1082
Likes count:  2879

Tweet id:  685325112850124800
Retweet count:  3702
Likes count:  8906

Tweet id:  685321586178670592
Retweet count:  592
Likes count:  2503

Tweet id:  685315239903100929
Retweet count:  972
Likes count:  3113

Tweet id:  685307451701334016
Retweet count:  412
Likes count:  1969

Tweet id:  685268753634967552
Retweet count:  1116
Likes count:  2925

Tweet id:  685198997565345792
Retweet count:  615
Likes count:  2210

Tweet id:  685169283572338688
Retweet count:  1330
Likes count:  3889

Tweet id:  684969860808454144
Retweet count:  342
Likes count:  2262

Tweet id:  684959798585110529
Retweet count:  2916
Likes count:  6430

Tweet id:  684940049151070208
Retweet count:  972
Likes count:  3029

Tweet id:  684926975086034944
Retweet count:  434
Likes count:  3314

Tweet id:  684914660081053696
Retweet count:  1363
Likes count:  3312

Tweet id:  684902183876321280
Retweet count:  491
Likes count:  1766

Tweet id:  684880619965411328
Retweet count:  752
Likes count:  1980

Tweet id:  684830982659280897
Retweet count:  20308
Likes count:  33147

Tweet id:  684800227459624960
Retweet count:  937
Likes count:  2581

Tweet id:  684594889858887680
Retweet count:  3276
Likes count:  8417

Tweet id:  684588130326986752
Retweet count:  1322
Likes count:  3891

Tweet id:  684567543613382656
Retweet count:  1135
Likes count:  2835

Tweet id:  684538444857667585
Retweet count:  885
Likes count:  2496

Tweet id:  684481074559381504
Retweet count:  1110
Likes count:  3671

Tweet id:  684460069371654144
Retweet count:  522
Likes count:  1867

Tweet id:  684241637099323392
Retweet count:  3055
Likes count:  7674

Tweet id:  684225744407494656
Retweet count:  191
Likes count:  1176

Tweet id:  684222868335505415
Retweet count:  1270
Likes count:  3615

Tweet id:  684200372118904832
Retweet count:  978
Likes count:  2032

Tweet id:  684195085588783105
Retweet count:  474
Likes count:  1803

Tweet id:  684188786104872960
Retweet count:  1089
Likes count:  3313

Tweet id:  684177701129875456
Retweet count:  614
Likes count:  1909

Tweet id:  684147889187209216
Retweet count:  1413
Likes count:  2826

Tweet id:  684122891630342144
Retweet count:  440
Likes count:  1899

Tweet id:  684097758874210310
Retweet count:  1338
Likes count:  3894

Tweet id:  683857920510050305
Retweet count:  1052
Likes count:  3609

Tweet id:  683852578183077888
Retweet count:  324
Likes count:  1837

Tweet id:  683849932751646720
Retweet count:  878
Likes count:  2465

Tweet id:  683834909291606017
Retweet count:  1054
Likes count:  2486

Tweet id:  683828599284170753
Retweet count:  993
Likes count:  2653

Tweet id:  683773439333797890
Retweet count:  1257
Likes count:  3155

Tweet id:  683742671509258241
Retweet count:  3103
Likes count:  6107

Tweet id:  683515932363329536
Retweet count:  2702
Likes count:  6948

Tweet id:  683498322573824003
Retweet count:  908
Likes count:  3008

Tweet id:  683481228088049664
Retweet count:  936
Likes count:  2529

Tweet id:  683462770029932544
Retweet count:  636
Likes count:  2294

Tweet id:  683449695444799489
Retweet count:  1498
Likes count:  3664

Tweet id:  683391852557561860
Retweet count:  2240
Likes count:  7227

Tweet id:  683357973142474752
Retweet count:  854
Likes count:  2740

Tweet id:  683142553609318400
Retweet count:  980
Likes count:  2715

Tweet id:  683111407806746624
Retweet count:  846
Likes count:  3220

Tweet id:  683098815881154561
Retweet count:  612
Likes count:  2053

Tweet id:  683078886620553216
Retweet count:  531
Likes count:  1895

Tweet id:  683030066213818368
Retweet count:  696
Likes count:  2039

Tweet id:  682962037429899265
Retweet count:  15306
Likes count:  34656

Tweet id:  682808988178739200
Retweet count:  158
Likes count:  1678

Tweet id:  682788441537560576
Retweet count:  1047
Likes count:  2343

Tweet id:  682750546109968385
Retweet count:  409
Likes count:  1438

Tweet id:  682697186228989953
Retweet count:  341
Likes count:  1248

Tweet id:  682662431982772225
Retweet count:  1013
Likes count:  2882

Tweet id:  682638830361513985
Retweet count:  556
Likes count:  1956

Tweet id:  682429480204398592
Retweet count:  1080
Likes count:  3252

Tweet id:  682406705142087680
Retweet count:  1636
Likes count:  7153

Tweet id:  682393905736888321
Retweet count:  616
Likes count:  2114

Tweet id:  682389078323662849
Retweet count:  441
Likes count:  1582

Tweet id:  682303737705140231
Retweet count:  913
Likes count:  2894

Tweet id:  682259524040966145
Retweet count:  1110
Likes count:  3906

Tweet id:  682242692827447297
Retweet count:  1074
Likes count:  3047

Tweet id:  682088079302213632
Retweet count:  9167
Likes count:  17212

Tweet id:  682059653698686977
Retweet count:  1574
Likes count:  4654

Tweet id:  682047327939461121
Retweet count:  874
Likes count:  3024

Tweet id:  682032003584274432
Retweet count:  1863
Likes count:  6217

Tweet id:  682003177596559360
Retweet count:  1411
Likes count:  2940

Tweet id:  681981167097122816
Retweet count:  954
Likes count:  2650

Tweet id:  681891461017812993
Retweet count:  767
Likes count:  2332

Tweet id:  681694085539872773
Retweet count:  3798
Likes count:  12119

Tweet id:  681679526984871937
Retweet count:  414
Likes count:  1675

Tweet id:  681654059175129088
Retweet count:  844
Likes count:  2477

Tweet id:  681610798867845120
Retweet count:  435
Likes count:  1783

Tweet id:  681579835668455424
Retweet count:  1211
Likes count:  3342

Tweet id:  681523177663676416
Retweet count:  5365
Likes count:  13473

Tweet id:  681340665377193984
Retweet count:  253
Likes count:  1554

Tweet id:  681339448655802368
Retweet count:  3806
Likes count:  8778

Tweet id:  681320187870711809
Retweet count:  690
Likes count:  2489

Tweet id:  681302363064414209
Retweet count:  1689
Likes count:  3694

Tweet id:  681297372102656000
Retweet count:  886
Likes count:  3034

Tweet id:  681281657291280384
Retweet count:  1026
Likes count:  3053

Tweet id:  681261549936340994
Retweet count:  247
Likes count:  1368

Tweet id:  681242418453299201
Retweet count:  490
Likes count:  1402

Tweet id:  681231109724700672
Retweet count:  457
Likes count:  2279

Tweet id:  681193455364796417
Retweet count:  1381
Likes count:  3494

Tweet id:  680970795137544192
Retweet count:  608
Likes count:  2276

Tweet id:  680959110691590145
Retweet count:  1863
Likes count:  4337

Tweet id:  680940246314430465
Retweet count:  969
Likes count:  3013

Tweet id:  680934982542561280
Retweet count:  408
Likes count:  1967

Tweet id:  680913438424612864
Retweet count:  577
Likes count:  2274

Tweet id:  680889648562991104
Retweet count:  345
Likes count:  1665

Tweet id:  680836378243002368
Retweet count:  1234
Likes count:  3255

Tweet id:  680805554198020098
Retweet count:  625
Likes count:  2025

Tweet id:  680801747103793152
Retweet count:  763
Likes count:  2241

Tweet id:  680798457301471234
Retweet count:  962
Likes count:  2673

Tweet id:  680609293079592961
Retweet count:  650
Likes count:  2478

Tweet id:  680583894916304897
Retweet count:  1229
Likes count:  3406

Tweet id:  680497766108381184
Retweet count:  1791
Likes count:  3979

Tweet id:  680494726643068929
Retweet count:  452
Likes count:  1617

Tweet id:  680473011644985345
Retweet count:  702
Likes count:  2399

Tweet id:  680440374763077632
Retweet count:  465
Likes count:  1363

Tweet id:  680221482581123072
Retweet count:  274
Likes count:  1406

Tweet id:  680206703334408192
Retweet count:  1087
Likes count:  2671

Tweet id:  680191257256136705
Retweet count:  464
Likes count:  2025

Tweet id:  680176173301628928
Retweet count:  1441
Likes count:  3662

Tweet id:  680161097740095489
Retweet count:  689
Likes count:  2201

Tweet id:  680145970311643136
Retweet count:  1622
Likes count:  3417

Tweet id:  680130881361686529
Retweet count:  880
Likes count:  2163

Tweet id:  680115823365742593
Retweet count:  851
Likes count:  2564

Tweet id:  680100725817409536
Retweet count:  1293
Likes count:  3391

Tweet id:  680085611152338944
Retweet count:  8408
Likes count:  12069

Tweet id:  680070545539371008
Retweet count:  802
Likes count:  2440

Tweet id:  679877062409191424
Retweet count:  603
Likes count:  1867

Tweet id:  679872969355714560
Retweet count:  618
Likes count:  2074

Tweet id:  679862121895714818
Retweet count:  575
Likes count:  2318

Tweet id:  679854723806179328
Retweet count:  1145
Likes count:  2683

Tweet id:  679844490799091713
Retweet count:  707
Likes count:  2244

Tweet id:  679828447187857408
Retweet count:  13004
Likes count:  34058

Tweet id:  679777920601223168
Retweet count:  1023
Likes count:  2929

Tweet id:  679736210798047232
Retweet count:  736
Likes count:  1970

Tweet id:  679729593985699840
Retweet count:  778
Likes count:  2047

Tweet id:  679722016581222400
Retweet count:  439
Likes count:  1573

Tweet id:  679530280114372609
Retweet count:  1948
Likes count:  4499

Tweet id:  679527802031484928
Retweet count:  675
Likes count:  2486

Tweet id:  679511351870550016
Retweet count:  1175
Likes count:  3152

Tweet id:  679503373272485890
Retweet count:  1365
Likes count:  2986

Tweet id:  679475951516934144
Retweet count:  601
Likes count:  1972

Tweet id:  679462823135686656
Retweet count:  17433
Likes count:  29593

Tweet id:  679405845277462528
Retweet count:  1107
Likes count:  2229

Tweet id:  679158373988876288
Retweet count:  7455
Likes count:  19942

Tweet id:  679148763231985668
Retweet count:  962
Likes count:  2631

Tweet id:  679132435750195208
Retweet count:  1072
Likes count:  2789

Tweet id:  679111216690831360
Retweet count:  2397
Likes count:  5585

Tweet id:  679062614270468097
Retweet count:  7429
Likes count:  15888

Tweet id:  679047485189439488
Retweet count:  606
Likes count:  2113

Tweet id:  679001094530465792
Retweet count:  1131
Likes count:  2678

Tweet id:  678991772295516161
Retweet count:  1065
Likes count:  2133

Tweet id:  678969228704284672
Retweet count:  423
Likes count:  1541

Tweet id:  678800283649069056
Retweet count:  840
Likes count:  2413

Tweet id:  678798276842360832
Retweet count:  1071
Likes count:  3237

Tweet id:  678774928607469569
Retweet count:  843
Likes count:  2634

Tweet id:  678767140346941444
Retweet count:  1264
Likes count:  3305

Tweet id:  678764513869611008
Retweet count:  434
Likes count:  1524

Tweet id:  678755239630127104
Retweet count:  3025
Likes count:  6647

Tweet id:  678740035362037760
Retweet count:  1535
Likes count:  3498

Tweet id:  678708137298427904
Retweet count:  2258
Likes count:  5270

Tweet id:  678675843183484930
Retweet count:  1357
Likes count:  2675

Tweet id:  678643457146150913
Retweet count:  372
Likes count:  1932

Tweet id:  678446151570427904
Retweet count:  1415
Likes count:  3753

Tweet id:  678424312106393600
Retweet count:  2356
Likes count:  5122

Tweet id:  678410210315247616
Retweet count:  1663
Likes count:  3950

Tweet id:  678399652199309312
Retweet count:  29430
Likes count:  75275

Tweet id:  678396796259975168
Retweet count:  386
Likes count:  1490

Tweet id:  678389028614488064
Retweet count:  390
Likes count:  1747

Tweet id:  678380236862578688
Retweet count:  836
Likes count:  2293

Tweet id:  678341075375947776
Retweet count:  495
Likes count:  1616

Tweet id:  678334497360859136
Retweet count:  231
Likes count:  1216

Tweet id:  678278586130948096
Retweet count:  5658
Likes count:  10707

Tweet id:  678255464182861824
Retweet count:  341
Likes count:  1488

Tweet id:  678023323247357953
Retweet count:  349
Likes count:  1784

Tweet id:  678021115718029313
Retweet count:  5807
Likes count:  12697

Tweet id:  677961670166224897
Retweet count:  1571
Likes count:  3205

Tweet id:  677918531514703872
Retweet count:  378
Likes count:  1252

Tweet id:  677895101218201600
Retweet count:  1903
Likes count:  4504

Tweet id:  677716515794329600
Retweet count:  902
Likes count:  2850

Tweet id:  677700003327029250
Retweet count:  1332
Likes count:  3184

Tweet id:  677698403548192770
Retweet count:  295
Likes count:  1150

Tweet id:  677687604918272002
Retweet count:  780
Likes count:  2332

Tweet id:  677673981332312066
Retweet count:  1389
Likes count:  3124

Tweet id:  677662372920729601
Retweet count:  877
Likes count:  1825

Tweet id:  677644091929329666
Retweet count:  747
Likes count:  1745

Tweet id:  677573743309385728
Retweet count:  635
Likes count:  1986

Tweet id:  677565715327688705
Retweet count:  425
Likes count:  1222

Tweet id:  677557565589463040
Retweet count:  1055
Likes count:  2286

Tweet id:  677547928504967168
Retweet count:  3403
Likes count:  6477

Tweet id:  677530072887205888
Retweet count:  211
Likes count:  990

Tweet id:  677335745548390400
Retweet count:  1609
Likes count:  2837

Tweet id:  677334615166730240
Retweet count:  259
Likes count:  1261

Tweet id:  677331501395156992
Retweet count:  216
Likes count:  1015

Tweet id:  677328882937298944
Retweet count:  1398
Likes count:  3420

Tweet id:  677314812125323265
Retweet count:  485
Likes count:  1548

Tweet id:  677301033169788928
Retweet count:  369
Likes count:  1140

Tweet id:  677269281705472000
Retweet count:  655
Likes count:  1842

Tweet id:  677228873407442944
Retweet count:  1509
Likes count:  3309

Tweet id:  677187300187611136
Retweet count:  840
Likes count:  2545

Tweet id:  676975532580409345
Retweet count:  985
Likes count:  2584

Tweet id:  676957860086095872
Retweet count:  741
Likes count:  2085

Tweet id:  676949632774234114
Retweet count:  367
Likes count:  1222

Tweet id:  676948236477857792
Retweet count:  795
Likes count:  2007

Tweet id:  676946864479084545
Retweet count:  337
Likes count:  1612

Tweet id:  676942428000112642
Retweet count:  686
Likes count:  1928

Tweet id:  676936541936185344
Retweet count:  4565
Likes count:  11899

Tweet id:  676916996760600576
Retweet count:  1671
Likes count:  2762

Tweet id:  676897532954456065
Retweet count:  667
Likes count:  2099

Tweet id:  676864501615042560
Retweet count:  650
Likes count:  1951

Tweet id:  676821958043033607
Retweet count:  14220
Likes count:  21272

Tweet id:  676819651066732545
Retweet count:  611
Likes count:  1696

Tweet id:  676811746707918848
Retweet count:  396
Likes count:  1341

Tweet id:  676776431406465024
Retweet count:  1855
Likes count:  4651

Tweet id:  676617503762681856
Retweet count:  880
Likes count:  2685

Tweet id:  676613908052996102
Retweet count:  184
Likes count:  1012

Tweet id:  676606785097199616
Retweet count:  399
Likes count:  1772

Tweet id:  676603393314578432
Retweet count:  355
Likes count:  1083

Tweet id:  676593408224403456
Retweet count:  1969
Likes count:  4249

Tweet id:  676590572941893632
Retweet count:  115
Likes count:  860

Tweet id:  676588346097852417
Retweet count:  721
Likes count:  2140

Tweet id:  676582956622721024
Retweet count:  253
Likes count:  1106

Tweet id:  676575501977128964
Retweet count:  1029
Likes count:  2395

Tweet id:  676533798876651520
Retweet count:  512
Likes count:  1746

Tweet id:  676496375194980353
Retweet count:  485
Likes count:  1418

Tweet id:  676470639084101634
Retweet count:  4305
Likes count:  10836

Tweet id:  676440007570247681
Retweet count:  610
Likes count:  1608

Tweet id:  676430933382295552
Retweet count:  314
Likes count:  1297

Tweet id:  676263575653122048
Retweet count:  499
Likes count:  1944

Tweet id:  676237365392908289
Retweet count:  257
Likes count:  1121

Tweet id:  676219687039057920

Retweet count:  950
Likes count:  2103

Tweet id:  676146341966438401
Retweet count:  609
Likes count:  1791

Tweet id:  676121918416756736
Retweet count:  1068
Likes count:  2010

Tweet id:  676101918813499392
Retweet count:  1078
Likes count:  2641

Tweet id:  676098748976615425
Retweet count:  1293
Likes count:  2760

Tweet id:  676089483918516224
Retweet count:  404
Likes count:  1218

Tweet id:  675898130735476737
Retweet count:  521
Likes count:  1494

Tweet id:  675891555769696257
Retweet count:  782
Likes count:  1976

Tweet id:  675888385639251968
Retweet count:  867
Likes count:  2195

Tweet id:  675878199931371520
Retweet count:  1282
Likes count:  3873

Tweet id:  675870721063669760
Retweet count:  518
Likes count:  1513

Tweet id:  675853064436391936
Retweet count:  1176
Likes count:  2498

Tweet id:  675849018447167488
Retweet count:  129
Likes count:  883

Tweet id:  675845657354215424
Retweet count:  801
Likes count:  2104

Tweet id:  675822767435051008
Retweet count:  487
Likes count:  1414

Tweet id:  675820929667219457
Retweet count:  219
Likes count:  975

Tweet id:  675798442703122432
Retweet count:  3140
Likes count:  9541

Tweet id:  675781562965868544
Retweet count:  428
Likes count:  1496

Tweet id:  675740360753160193
Retweet count:  306
Likes count:  1088

Tweet id:  675710890956750848
Retweet count:  748
Likes count:  1736

Tweet id:  675707330206547968
Retweet count:  625
Likes count:  1829

Tweet id:  675706639471788032
Retweet count:  87
Likes count:  601

Tweet id:  675534494439489536
Retweet count:  375
Likes count:  1700

Tweet id:  675531475945709568
Retweet count:  346
Likes count:  1096

Tweet id:  675522403582218240
Retweet count:  256
Likes count:  957

Tweet id:  675517828909424640
Retweet count:  425
Likes count:  1194

Tweet id:  675501075957489664
Retweet count:  5364
Likes count:  15934

Tweet id:  675497103322386432
Retweet count:  1180
Likes count:  2894

Tweet id:  675489971617296384
Retweet count:  543
Likes count:  1185

Tweet id:  675483430902214656
Retweet count:  885
Likes count:  1704

Tweet id:  675432746517426176
Retweet count:  527
Likes count:  1396

Tweet id:  675372240448454658
Retweet count:  472
Likes count:  1562

Tweet id:  675362609739206656
Retweet count:  204
Likes count:  975

Tweet id:  675354435921575936
Retweet count:  15283
Likes count:  30111

Tweet id:  675349384339542016
Retweet count:  2066
Likes count:  3622

Tweet id:  675334060156301312
Retweet count:  1174
Likes count:  2550

Tweet id:  675166823650848770
Retweet count:  1422
Likes count:  3270

Tweet id:  675153376133427200
Retweet count:  2329
Likes count:  5746

Tweet id:  675149409102012420
Retweet count:  1549
Likes count:  3441

Tweet id:  675147105808306176
Retweet count:  207
Likes count:  865

Tweet id:  675146535592706048
Retweet count:  263
Likes count:  1089

Tweet id:  675145476954566656
Retweet count:  814
Likes count:  1963

Tweet id:  675135153782571009
Retweet count:  427
Likes count:  1199

Tweet id:  675113801096802304
Retweet count:  709
Likes count:  1784

Tweet id:  675111688094527488
Retweet count:  223
Likes count:  882

Tweet id:  675109292475830276
Retweet count:  1027
Likes count:  2587

Tweet id:  675047298674663426
Retweet count:  288
Likes count:  965

Tweet id:  675015141583413248
Retweet count:  1080
Likes count:  2484

Tweet id:  675006312288268288
Retweet count:  206
Likes count:  895

Tweet id:  675003128568291329
Retweet count:  424
Likes count:  1427

Tweet id:  674999807681908736
Retweet count:  995
Likes count:  2048

Tweet id:  674805413498527744
Retweet count:  326
Likes count:  785

Tweet id:  674800520222154752
Retweet count:  779
Likes count:  2762

Tweet id:  674793399141146624
Retweet count:  987
Likes count:  2286

Tweet id:  674790488185167872
Retweet count:  226
Likes count:  1015

Tweet id:  674788554665512960
Retweet count:  188
Likes count:  736

Tweet id:  674781762103414784
Retweet count:  1082
Likes count:  1841

Tweet id:  674774481756377088
Retweet count:  425
Likes count:  1007

Tweet id:  674767892831932416
Retweet count:  712
Likes count:  1667

Tweet id:  674764817387900928
Retweet count:  208
Likes count:  719

Tweet id:  674754018082705410
Retweet count:  398
Likes count:  1250

Tweet id:  674752233200820224
Retweet count:  417
Likes count:  1340

Tweet id:  674743008475090944
Retweet count:  490
Likes count:  1287

Tweet id:  674742531037511680
Retweet count:  46
Likes count:  441

Tweet id:  674739953134403584
Retweet count:  342
Likes count:  997

Tweet id:  674737130913071104
Retweet count:  81
Likes count:  594

Tweet id:  674690135443775488
Retweet count:  426
Likes count:  1051

Tweet id:  674670581682434048
Retweet count:  590
Likes count:  1489

Tweet id:  674664755118911488
Retweet count:  217
Likes count:  835

Tweet id:  674646392044941312
Retweet count:  440
Likes count:  1315

Tweet id:  674644256330530816
Retweet count:  253
Likes count:  955

Tweet id:  674638615994089473
Retweet count:  532
Likes count:  1546

Tweet id:  674632714662858753
Retweet count:  520
Likes count:  1376

Tweet id:  674606911342424069
Retweet count:  89
Likes count:  857

Tweet id:  674468880899788800
Retweet count:  1840
Likes count:  5715

Tweet id:  674447403907457024
Retweet count:  321
Likes count:  975

Tweet id:  674436901579923456
Retweet count:  355
Likes count:  1019

Tweet id:  674422304705744896
Retweet count:  487
Likes count:  1323

Tweet id:  674416750885273600
Retweet count:  123
Likes count:  631

Tweet id:  674410619106390016
Retweet count:  417
Likes count:  1100

Tweet id:  674394782723014656
Retweet count:  514
Likes count:  1374

Tweet id:  674372068062928900
Retweet count:  286
Likes count:  786

Tweet id:  674330906434379776
Retweet count:  69
Likes count:  528

Tweet id:  674318007229923329
Retweet count:  464
Likes count:  1291

Tweet id:  674307341513269249
Retweet count:  6247
Likes count:  10420

Tweet id:  674291837063053312
Retweet count:  5305
Likes count:  13509

Tweet id:  674271431610523648
Retweet count:  666
Likes count:  1430

Tweet id:  674269164442398721
Retweet count:  208
Likes count:  840

Tweet id:  674265582246694913
Retweet count:  758
Likes count:  1500

Tweet id:  674262580978937856
Retweet count:  402
Likes count:  1213

Tweet id:  674255168825880576
Retweet count:  489
Likes count:  1340

Tweet id:  674082852460433408
Retweet count:  150
Likes count:  705

Tweet id:  674075285688614912
Retweet count:  254
Likes count:  919

Tweet id:  674063288070742018
Retweet count:  1960
Likes count:  5866

Tweet id:  674053186244734976
Retweet count:  1171
Likes count:  3033

Tweet id:  674051556661161984
Retweet count:  444
Likes count:  1330

Tweet id:  674045139690631169
Retweet count:  580
Likes count:  1297

Tweet id:  674042553264685056
Retweet count:  115
Likes count:  657

Tweet id:  674038233588723717
Retweet count:  378
Likes count:  1010

Tweet id:  674036086168010753
Retweet count:  185
Likes count:  786

Tweet id:  674024893172875264
Retweet count:  1112
Likes count:  1627

Tweet id:  674019345211760640
Retweet count:  273
Likes count:  1043

Tweet id:  674014384960745472
Retweet count:  579
Likes count:  1433

Tweet id:  674008982932058114
Retweet count:  319
Likes count:  1111

Tweet id:  673956914389192708
Retweet count:  869
Likes count:  1798

Tweet id:  673919437611909120
Retweet count:  336
Likes count:  1079

Tweet id:  673906403526995968
Retweet count:  1493
Likes count:  2928

Tweet id:  673887867907739649
Retweet count:  230
Likes count:  862

Tweet id:  673716320723169284
Retweet count:  686
Likes count:  2841

Tweet id:  673715861853720576
Retweet count:  1858
Likes count:  3232

Tweet id:  673711475735838725
Retweet count:  272
Likes count:  959

Tweet id:  673709992831262724
Retweet count:  240
Likes count:  773

Tweet id:  673708611235921920
Retweet count:  260
Likes count:  986

Tweet id:  673707060090052608
Retweet count:  353
Likes count:  1014

Tweet id:  673705679337693185
Retweet count:  368
Likes count:  1156

Tweet id:  673700254269775872
Retweet count:  517
Likes count:  1315

Tweet id:  673697980713705472
Retweet count:  1746
Likes count:  3617

Tweet id:  673689733134946305
Retweet count:  591
Likes count:  1591

Tweet id:  673688752737402881
Retweet count:  447
Likes count:  1157

Tweet id:  673686845050527744
Retweet count:  391
Likes count:  1309

Tweet id:  673680198160809984
Retweet count:  424
Likes count:  1255

Tweet id:  673662677122719744
Retweet count:  337
Likes count:  1157

Tweet id:  673656262056419329
Retweet count:  211
Likes count:  666

Tweet id:  673636718965334016
Retweet count:  329
Likes count:  1021

Tweet id:  673612854080196609
Retweet count:  650
Likes count:  1463

Tweet id:  673583129559498752
Retweet count:  324
Likes count:  1100

Tweet id:  673580926094458881
Retweet count:  248
Likes count:  763

Tweet id:  673576835670777856
Retweet count:  504
Likes count:  1265

Tweet id:  673363615379013632
Retweet count:  273
Likes count:  949

Tweet id:  673359818736984064
Retweet count:  612
Likes count:  1324

Tweet id:  673355879178194945
Retweet count:  511
Likes count:  1375

Tweet id:  673352124999274496
Retweet count:  485
Likes count:  1530

Tweet id:  673350198937153538
Retweet count:  190
Likes count:  698

Tweet id:  673345638550134785
Retweet count:  1141
Likes count:  2287

Tweet id:  673343217010679808
Retweet count:  245
Likes count:  884

Tweet id:  673342308415348736
Retweet count:  512
Likes count:  1171

Tweet id:  673320132811366400
Retweet count:  7069
Likes count:  12288

Tweet id:  673317986296586240
Retweet count:  225
Likes count:  805

Tweet id:  673295268553605120
Retweet count:  2841
Likes count:  6901

Tweet id:  673270968295534593
Retweet count:  326
Likes count:  980

Tweet id:  673240798075449344
Retweet count:  636
Likes count:  1306

Tweet id:  673213039743795200
Retweet count:  754
Likes count:  2035

Tweet id:  673148804208660480
Retweet count:  566
Likes count:  1544

Tweet id:  672997845381865473
Retweet count:  640
Likes count:  1801

Tweet id:  672995267319328768
Retweet count:  263
Likes count:  867

Tweet id:  672988786805112832
Retweet count:  264
Likes count:  896

Tweet id:  672984142909456390
Retweet count:  492
Likes count:  1145

Tweet id:  672980819271634944
Retweet count:  913
Likes count:  1667

Tweet id:  672975131468300288
Retweet count:  811
Likes count:  1538

Tweet id:  672970152493887488
Retweet count:  320
Likes count:  868

Tweet id:  672968025906282496
Retweet count:  488
Likes count:  1218

Tweet id:  672964561327235073
Retweet count:  579
Likes count:  1290

Tweet id:  672902681409806336
Retweet count:  445
Likes count:  1261

Tweet id:  672898206762672129
Retweet count:  378
Likes count:  822

Tweet id:  672884426393653248
Retweet count:  759
Likes count:  1409

Tweet id:  672877615439593473
Retweet count:  321
Likes count:  936

Tweet id:  672834301050937345
Retweet count:  516
Likes count:  1194

Tweet id:  672828477930868736
Retweet count:  437
Likes count:  1132

Tweet id:  672640509974827008
Retweet count:  286
Likes count:  902

Tweet id:  672622327801233409
Retweet count:  435
Likes count:  1181

Tweet id:  672614745925664768
Retweet count:  527
Likes count:  1117

Tweet id:  672609152938721280
Retweet count:  350
Likes count:  1000

Tweet id:  672604026190569472
Retweet count:  357
Likes count:  997

Tweet id:  672594978741354496
Retweet count:  548
Likes count:  1206

Tweet id:  672591762242805761
Retweet count:  298
Likes count:  866

Tweet id:  672591271085670400
Retweet count:  170
Likes count:  658

Tweet id:  672538107540070400
Retweet count:  325
Likes count:  929

Tweet id:  672523490734551040
Retweet count:  151
Likes count:  562

Tweet id:  672488522314567680
Retweet count:  390
Likes count:  1020

Tweet id:  672482722825261057
Retweet count:  540
Likes count:  1025

Tweet id:  672481316919734272
Retweet count:  118
Likes count:  659

Tweet id:  672475084225949696
Retweet count:  633
Likes count:  1322

Tweet id:  672466075045466113
Retweet count:  473
Likes count:  1228

Tweet id:  672272411274932228
Retweet count:  3033
Likes count:  5879

Tweet id:  672267570918129665
Retweet count:  552
Likes count:  1353

Tweet id:  672264251789176834
Retweet count:  299
Likes count:  1031

Tweet id:  672256522047614977
Retweet count:  1369
Likes count:  2583

Tweet id:  672254177670729728
Retweet count:  675
Likes count:  1308

Tweet id:  672248013293752320
Retweet count:  537
Likes count:  1578

Tweet id:  672245253877968896
Retweet count:  140
Likes count:  622

Tweet id:  672239279297454080
Retweet count:  288
Likes count:  824

Tweet id:  672231046314901505
Retweet count:  914
Likes count:  1667

Tweet id:  672222792075620352
Retweet count:  184
Likes count:  717

Tweet id:  672205392827572224
Retweet count:  1036
Likes count:  2050

Tweet id:  672169685991993344
Retweet count:  331
Likes count:  934

Tweet id:  672160042234327040
Retweet count:  317
Likes count:  796

Tweet id:  672139350159835138
Retweet count:  628
Likes count:  1592

Tweet id:  672125275208069120
Retweet count:  1028
Likes count:  2169

Tweet id:  672095186491711488
Retweet count:  335
Likes count:  900

Tweet id:  672082170312290304
Retweet count:  331
Likes count:  858

Tweet id:  672068090318987265
Retweet count:  461
Likes count:  1175

Tweet id:  671896809300709376
Retweet count:  3770
Likes count:  7796

Tweet id:  671891728106971137
Retweet count:  508
Likes count:  1200

Tweet id:  671882082306625538
Retweet count:  1252
Likes count:  3198

Tweet id:  671879137494245376
Retweet count:  596
Likes count:  1288

Tweet id:  671874878652489728
Retweet count:  499
Likes count:  1140

Tweet id:  671866342182637568
Retweet count:  438
Likes count:  1027

Tweet id:  671855973984772097
Retweet count:  391
Likes count:  819

Tweet id:  671789708968640512
Retweet count:  3110
Likes count:  6481

Tweet id:  671768281401958400
Retweet count:  446
Likes count:  1085

Tweet id:  671763349865160704
Retweet count:  811
Likes count:  1529

Tweet id:  671744970634719232
Retweet count:  692
Likes count:  1242

Tweet id:  671743150407421952
Retweet count:  212
Likes count:  688

Tweet id:  671735591348891648
Retweet count:  679
Likes count:  1322

Tweet id:  671729906628341761
Retweet count:  3909
Likes count:  7738

Tweet id:  671561002136281088
Retweet count:  6511
Likes count:  11683

Tweet id:  671550332464455680
Retweet count:  189
Likes count:  832

Tweet id:  671547767500775424
Retweet count:  523
Likes count:  1235

Tweet id:  671544874165002241
Retweet count:  924
Likes count:  1784

Tweet id:  671542985629241344
Retweet count:  504
Likes count:  987

Tweet id:  671538301157904385
Retweet count:  346
Likes count:  849

Tweet id:  671536543010570240
Retweet count:  366
Likes count:  1073

Tweet id:  671533943490011136
Retweet count:  519
Likes count:  920

Tweet id:  671528761649688577
Retweet count:  230
Likes count:  766

Tweet id:  671520732782923777
Retweet count:  472
Likes count:  1259

Tweet id:  671518598289059840
Retweet count:  264
Likes count:  857

Tweet id:  671511350426865664
Retweet count:  625
Likes count:  1457

Tweet id:  671504605491109889
Retweet count:  3226
Likes count:  6391

Tweet id:  671497587707535361
Retweet count:  409
Likes count:  845

Tweet id:  671488513339211776
Retweet count:  434
Likes count:  909

Tweet id:  671486386088865792
Retweet count:  178
Likes count:  526

Tweet id:  671485057807351808
Retweet count:  210
Likes count:  697

Tweet id:  671390180817915904
Retweet count:  675
Likes count:  1311

Tweet id:  671362598324076544
Retweet count:  268
Likes count:  1010

Tweet id:  671357843010908160
Retweet count:  141
Likes count:  361

Tweet id:  671355857343524864
Retweet count:  109
Likes count:  440

Tweet id:  671347597085433856
Retweet count:  381
Likes count:  865

Tweet id:  671186162933985280
Retweet count:  187
Likes count:  659

Tweet id:  671182547775299584
Retweet count:  297
Likes count:  1006

Tweet id:  671166507850801152
Retweet count:  310
Likes count:  795

Tweet id:  671163268581498880
Retweet count:  997
Likes count:  1495

Tweet id:  671159727754231808
Retweet count:  72
Likes count:  323

Tweet id:  671154572044468225
Retweet count:  197
Likes count:  640

Tweet id:  671151324042559489
Retweet count:  137
Likes count:  598

Tweet id:  671147085991960577
Retweet count:  199
Likes count:  597

Tweet id:  671141549288370177
Retweet count:  587
Likes count:  1048

Tweet id:  671138694582165504
Retweet count:  358
Likes count:  839

Tweet id:  671134062904504320
Retweet count:  170
Likes count:  670

Tweet id:  671122204919246848
Retweet count:  2262
Likes count:  3163

Tweet id:  671115716440031232
Retweet count:  697
Likes count:  1245

Tweet id:  671109016219725825
Retweet count:  392
Likes count:  1039

Tweet id:  670995969505435648
Retweet count:  256
Likes count:  996

Tweet id:  670842764863651840
Retweet count:  7791
Likes count:  22611

Tweet id:  670840546554966016
Retweet count:  171
Likes count:  532

Tweet id:  670838202509447168
Retweet count:  614
Likes count:  1011

Tweet id:  670833812859932673
Retweet count:  113
Likes count:  389

Tweet id:  670832455012716544
Retweet count:  191
Likes count:  663

Tweet id:  670826280409919488
Retweet count:  3619
Likes count:  5015

Tweet id:  670823764196741120
Retweet count:  166
Likes count:  696

Tweet id:  670822709593571328
Retweet count:  87
Likes count:  552

Tweet id:  670815497391357952
Retweet count:  1373
Likes count:  2869

Tweet id:  670811965569282048
Retweet count:  241
Likes count:  1022

Tweet id:  670807719151067136
Retweet count:  443
Likes count:  1068

Tweet id:  670804601705242624
Retweet count:  854
Likes count:  1787

Tweet id:  670803562457407488
Retweet count:  81
Likes count:  312

Tweet id:  670797304698376195
Retweet count:  211
Likes count:  672

Tweet id:  670792680469889025
Retweet count:  244
Likes count:  753

Tweet id:  670789397210615808
Retweet count:  215
Likes count:  596

Tweet id:  670786190031921152
Retweet count:  180
Likes count:  546

Tweet id:  670783437142401025
Retweet count:  344
Likes count:  754

Tweet id:  670782429121134593
Retweet count:  690
Likes count:  1399

Tweet id:  670780561024270336
Retweet count:  260
Likes count:  722

Tweet id:  670778058496974848
Retweet count:  65
Likes count:  304

Tweet id:  670764103623966721
Retweet count:  384
Likes count:  985

Tweet id:  670755717859713024
Retweet count:  95
Likes count:  399

Tweet id:  670733412878163972
Retweet count:  463
Likes count:  876

Tweet id:  670727704916926465
Retweet count:  323
Likes count:  757

Tweet id:  670717338665226240
Retweet count:  432
Likes count:  1086

Tweet id:  670704688707301377
Retweet count:  333
Likes count:  705

Tweet id:  670691627984359425
Retweet count:  218
Likes count:  533

Tweet id:  670679630144274432
Retweet count:  252
Likes count:  679

Tweet id:  670676092097810432
Retweet count:  37
Likes count:  223

Tweet id:  670668383499735048
Retweet count:  4466
Likes count:  9710

Tweet id:  670474236058800128
Retweet count:  661
Likes count:  1378

Tweet id:  670468609693655041
Retweet count:  80
Likes count:  326

Tweet id:  670465786746662913
Retweet count:  491
Likes count:  882

Tweet id:  670452855871037440
Retweet count:  181
Likes count:  501

Tweet id:  670449342516494336
Retweet count:  581
Likes count:  1101

Tweet id:  670444955656130560
Retweet count:  1783
Likes count:  6187

Tweet id:  670442337873600512
Retweet count:  182
Likes count:  587

Tweet id:  670435821946826752
Retweet count:  458
Likes count:  966

Tweet id:  670434127938719744
Retweet count:  580
Likes count:  1289

Tweet id:  670433248821026816
Retweet count:  102
Likes count:  302

Tweet id:  670428280563085312
Retweet count:  551
Likes count:  1276

Tweet id:  670427002554466305
Retweet count:  145
Likes count:  477

Tweet id:  670421925039075328
Retweet count:  574
Likes count:  1187

Tweet id:  670420569653809152
Retweet count:  279
Likes count:  558

Tweet id:  670417414769758208
Retweet count:  292
Likes count:  516

Tweet id:  670411370698022913
Retweet count:  801
Likes count:  1840

Tweet id:  670408998013820928
Retweet count:  197
Likes count:  499

Tweet id:  670403879788544000
Retweet count:  135
Likes count:  389

Tweet id:  670385711116361728
Retweet count:  184
Likes count:  510

Tweet id:  670374371102445568
Retweet count:  247
Likes count:  685

Tweet id:  670361874861563904
Retweet count:  59
Likes count:  296

Tweet id:  670338931251150849
Retweet count:  100
Likes count:  393

Tweet id:  670319130621435904
Retweet count:  1102
Likes count:  3552

Tweet id:  670303360680108032
Retweet count:  116
Likes count:  398

Tweet id:  670290420111441920
Retweet count:  258
Likes count:  636

Tweet id:  670093938074779648
Retweet count:  297
Likes count:  937

Tweet id:  670086499208155136
Retweet count:  226
Likes count:  635

Tweet id:  670079681849372674
Retweet count:  1093
Likes count:  2013

Tweet id:  670073503555706880
Retweet count:  700
Likes count:  1417

Tweet id:  670069087419133954
Retweet count:  213
Likes count:  567

Tweet id:  670061506722140161
Retweet count:  299
Likes count:  684

Tweet id:  670055038660800512
Retweet count:  290
Likes count:  605

Tweet id:  670046952931721218
Retweet count:  158
Likes count:  588

Tweet id:  670040295598354432
Retweet count:  100
Likes count:  682

Tweet id:  670037189829525505
Retweet count:  248
Likes count:  535

Tweet id:  670003130994700288
Retweet count:  83
Likes count:  300

Tweet id:  669993076832759809
Retweet count:  74
Likes count:  295

Tweet id:  669972011175813120
Retweet count:  138
Likes count:  406

Tweet id:  669970042633789440
Retweet count:  49
Likes count:  276

Tweet id:  669942763794931712
Retweet count:  143
Likes count:  458

Tweet id:  669926384437997569
Retweet count:  87
Likes count:  346

Tweet id:  669923323644657664
Retweet count:  53
Likes count:  210

Tweet id:  669753178989142016
Retweet count:  354
Likes count:  727

Tweet id:  669749430875258880
Retweet count:  60
Likes count:  232

Tweet id:  669684865554620416
Retweet count:  78
Likes count:  458

Tweet id:  669683899023405056
Retweet count:  98
Likes count:  345

Tweet id:  669682095984410625
Retweet count:  123
Likes count:  319

Tweet id:  669680153564442624
Retweet count:  257
Likes count:  604

Tweet id:  669661792646373376
Retweet count:  381
Likes count:  732

Tweet id:  669625907762618368
Retweet count:  1621
Likes count:  3208

Tweet id:  669603084620980224
Retweet count:  327
Likes count:  869

Tweet id:  669597912108789760
Retweet count:  137
Likes count:  462

Tweet id:  669583744538451968
Retweet count:  834
Likes count:  1354

Tweet id:  669573570759163904
Retweet count:  125
Likes count:  395

Tweet id:  669571471778410496
Retweet count:  916
Likes count:  1449

Tweet id:  669567591774625800
Retweet count:  47
Likes count:  211

Tweet id:  669564461267722241
Retweet count:  108
Likes count:  352

Tweet id:  669393256313184256
Retweet count:  65
Likes count:  324

Tweet id:  669375718304980992
Retweet count:  649
Likes count:  1205

Tweet id:  669371483794317312
Retweet count:  155
Likes count:  444

Tweet id:  669367896104181761
Retweet count:  137
Likes count:  414

Tweet id:  669363888236994561
Retweet count:  207
Likes count:  566

Tweet id:  669359674819481600
Retweet count:  109
Likes count:  339

Tweet id:  669354382627049472
Retweet count:  1134
Likes count:  2453

Tweet id:  669353438988365824
Retweet count:  234
Likes count:  575

Tweet id:  669351434509529089
Retweet count:  166
Likes count:  395

Tweet id:  669328503091937280
Retweet count:  380
Likes count:  928

Tweet id:  669327207240699904
Retweet count:  111
Likes count:  518

Tweet id:  669324657376567296
Retweet count:  190
Likes count:  449

Tweet id:  669216679721873412
Retweet count:  361
Likes count:  1085

Tweet id:  669214165781868544
Retweet count:  142
Likes count:  395

Tweet id:  669203728096960512
Retweet count:  418
Likes count:  914

Tweet id:  669037058363662336
Retweet count:  278
Likes count:  593

Tweet id:  669015743032369152
Retweet count:  332
Likes count:  670

Tweet id:  669006782128353280
Retweet count:  216
Likes count:  527

Tweet id:  669000397445533696
Retweet count:  5676
Likes count:  19114

Tweet id:  668994913074286592
Retweet count:  200
Likes count:  395

Tweet id:  668992363537309700
Retweet count:  303
Likes count:  670

Tweet id:  668989615043424256
Retweet count:  299
Likes count:  609

Tweet id:  668988183816871936
Retweet count:  406
Likes count:  821

Tweet id:  668986018524233728
Retweet count:  147
Likes count:  495

Tweet id:  668981893510119424
Retweet count:  271
Likes count:  496

Tweet id:  668979806671884288
Retweet count:  306
Likes count:  725

Tweet id:  668975677807423489
Retweet count:  519
Likes count:  1179

Tweet id:  668967877119254528
Retweet count:  20
Likes count:  130

Tweet id:  668960084974809088
Retweet count:  220
Likes count:  640

Tweet id:  668955713004314625
Retweet count:  65
Likes count:  248

Tweet id:  668932921458302977
Retweet count:  53
Likes count:  231

Tweet id:  668902994700836864
Retweet count:  90
Likes count:  288

Tweet id:  668892474547511297
Retweet count:  132
Likes count:  365

Tweet id:  668872652652679168
Retweet count:  274
Likes count:  487

Tweet id:  668852170888998912
Retweet count:  145
Likes count:  416

Tweet id:  668826086256599040
Retweet count:  118
Likes count:  390

Tweet id:  668815180734689280
Retweet count:  233
Likes count:  508

Tweet id:  668779399630725120
Retweet count:  335
Likes count:  651

Tweet id:  668655139528511488
Retweet count:  195
Likes count:  482

Tweet id:  668645506898350081
Retweet count:  471
Likes count:  796

Tweet id:  668643542311546881
Retweet count:  463
Likes count:  804

Tweet id:  668641109086707712
Retweet count:  482
Likes count:  968

Tweet id:  668636665813057536
Retweet count:  446
Likes count:  943

Tweet id:  668633411083464705
Retweet count:  1424
Likes count:  2539

Tweet id:  668631377374486528
Retweet count:  287
Likes count:  641

Tweet id:  668627278264475648
Retweet count:  100
Likes count:  287

Tweet id:  668625577880875008
Retweet count:  114
Likes count:  347

Tweet id:  668623201287675904
Retweet count:  670
Likes count:  1280

Tweet id:  668620235289837568
Retweet count:  36
Likes count:  185

Tweet id:  668614819948453888
Retweet count:  283
Likes count:  561

Tweet id:  668587383441514497
Retweet count:  962
Likes count:  1525

Tweet id:  668567822092664832
Retweet count:  49
Likes count:  212

Tweet id:  668544745690562560
Retweet count:  203
Likes count:  463

Tweet id:  668542336805281792
Retweet count:  188
Likes count:  412

Tweet id:  668537837512433665
Retweet count:  63
Likes count:  230

Tweet id:  668528771708952576
Retweet count:  198
Likes count:  421

Tweet id:  668507509523615744
Retweet count:  92
Likes count:  293

Tweet id:  668496999348633600
Retweet count:  118
Likes count:  369

Tweet id:  668484198282485761
Retweet count:  213
Likes count:  381

Tweet id:  668480044826800133
Retweet count:  131
Likes count:  410

Tweet id:  668466899341221888
Retweet count:  459
Likes count:  799

Tweet id:  668297328638447616
Retweet count:  263
Likes count:  570

Tweet id:  668291999406125056
Retweet count:  29
Likes count:  220

Tweet id:  668286279830867968
Retweet count:  124
Likes count:  453

Tweet id:  668274247790391296
Retweet count:  208
Likes count:  746

Tweet id:  668268907921326080
Retweet count:  210
Likes count:  501

Tweet id:  668256321989451776
Retweet count:  535
Likes count:  1181

Tweet id:  668248472370458624
Retweet count:  417
Likes count:  867

Tweet id:  668237644992782336
Retweet count:  2523
Likes count:  5607

Tweet id:  668226093875376128
Retweet count:  90
Likes count:  260

Tweet id:  668221241640230912
Retweet count:  176
Likes count:  461

Tweet id:  668204964695683073
Retweet count:  177
Likes count:  506

Tweet id:  668190681446379520
Retweet count:  179
Likes count:  591

Tweet id:  668171859951755264
Retweet count:  164
Likes count:  442

Tweet id:  668154635664932864
Retweet count:  282
Likes count:  454

Tweet id:  668142349051129856
Retweet count:  251
Likes count:  524

Tweet id:  668113020489474048
Retweet count:  212
Likes count:  604

Tweet id:  667937095915278337
Retweet count:  715
Likes count:  1132

Tweet id:  667924896115245057
Retweet count:  97
Likes count:  268

Tweet id:  667915453470232577
Retweet count:  49
Likes count:  190

Tweet id:  667911425562669056
Retweet count:  260
Likes count:  442

Tweet id:  667902449697558528
Retweet count:  347
Likes count:  781

Tweet id:  667886921285246976
Retweet count:  951
Likes count:  1693

Tweet id:  667885044254572545
Retweet count:  416
Likes count:  749

Tweet id:  667878741721415682
Retweet count:  106
Likes count:  358

Tweet id:  667873844930215936
Retweet count:  364
Likes count:  567

Tweet id:  667866724293877760
Retweet count:  926
Likes count:  2770

Tweet id:  667861340749471744
Retweet count:  73
Likes count:  225

Tweet id:  667832474953625600
Retweet count:  56
Likes count:  263

Tweet id:  667806454573760512
Retweet count:  440
Likes count:  957

Tweet id:  667801013445750784
Retweet count:  83
Likes count:  291

Tweet id:  667793409583771648
Retweet count:  301
Likes count:  631

Tweet id:  667782464991965184
Retweet count:  220
Likes count:  372

Tweet id:  667773195014021121
Retweet count:  46
Likes count:  212

Tweet id:  667766675769573376
Retweet count:  195
Likes count:  388

Tweet id:  667728196545200128
Retweet count:  134
Likes count:  334

Tweet id:  667724302356258817
Retweet count:  283
Likes count:  436

Tweet id:  667550904950915073
Retweet count:  29
Likes count:  0

Tweet id:  667550882905632768
Retweet count:  26
Likes count:  0

Tweet id:  667549055577362432
Retweet count:  2012
Likes count:  5234

Tweet id:  667546741521195010
Retweet count:  113
Likes count:  310

Tweet id:  667544320556335104
Retweet count:  477
Likes count:  780

Tweet id:  667538891197542400
Retweet count:  59
Likes count:  183

Tweet id:  667534815156183040
Retweet count:  468
Likes count:  737

Tweet id:  667530908589760512
Retweet count:  215
Likes count:  423

Tweet id:  667524857454854144
Retweet count:  1001
Likes count:  1539

Tweet id:  667517642048163840
Retweet count:  174
Likes count:  338

Tweet id:  667509364010450944
Retweet count:  1903
Likes count:  6208

Tweet id:  667502640335572993
Retweet count:  198
Likes count:  494

Tweet id:  667495797102141441
Retweet count:  237
Likes count:  472

Tweet id:  667491009379606528
Retweet count:  199
Likes count:  469

Tweet id:  667470559035432960
Retweet count:  87
Likes count:  227

Tweet id:  667455448082227200
Retweet count:  55
Likes count:  175

Tweet id:  667453023279554560
Retweet count:  77
Likes count:  286

Tweet id:  667443425659232256
Retweet count:  513
Likes count:  698

Tweet id:  667437278097252352
Retweet count:  210
Likes count:  408

Tweet id:  667435689202614272
Retweet count:  79
Likes count:  277

Tweet id:  667405339315146752
Retweet count:  200
Likes count:  424

Tweet id:  667393430834667520
Retweet count:  51
Likes count:  173

Tweet id:  667369227918143488
Retweet count:  148
Likes count:  333

Tweet id:  667211855547486208
Retweet count:  219
Likes count:  438

Tweet id:  667200525029539841
Retweet count:  236
Likes count:  561

Tweet id:  667192066997374976
Retweet count:  87
Likes count:  341

Tweet id:  667188689915760640
Retweet count:  346
Likes count:  664

Tweet id:  667182792070062081
Retweet count:  5445
Likes count:  12876

Tweet id:  667177989038297088
Retweet count:  50
Likes count:  171

Tweet id:  667176164155375616
Retweet count:  403
Likes count:  543

Tweet id:  667174963120574464
Retweet count:  70
Likes count:  224

Tweet id:  667171260800061440
Retweet count:  73
Likes count:  193

Tweet id:  667165590075940865
Retweet count:  1009
Likes count:  2426

Tweet id:  667160273090932737
Retweet count:  54
Likes count:  227

Tweet id:  667152164079423490
Retweet count:  15012
Likes count:  43267

Tweet id:  667138269671505920
Retweet count:  1939
Likes count:  4119

Tweet id:  667119796878725120
Retweet count:  113
Likes count:  296

Tweet id:  667090893657276420
Retweet count:  110
Likes count:  298

Tweet id:  667073648344346624
Retweet count:  106
Likes count:  361

Tweet id:  667070482143944705
Retweet count:  13
Likes count:  74

Tweet id:  667065535570550784
Retweet count:  40
Likes count:  146

Tweet id:  667062181243039745
Retweet count:  46
Likes count:  197

Tweet id:  667044094246576128
Retweet count:  44
Likes count:  167

Tweet id:  667012601033924608
Retweet count:  195
Likes count:  405

Tweet id:  666996132027977728
Retweet count:  80
Likes count:  220

Tweet id:  666983947667116034
Retweet count:  867
Likes count:  2301

Tweet id:  666837028449972224
Retweet count:  485
Likes count:  724

Tweet id:  666835007768551424
Retweet count:  69
Likes count:  188

Tweet id:  666826780179869698
Retweet count:  81
Likes count:  228

Tweet id:  666817836334096384
Retweet count:  223
Likes count:  458

Tweet id:  666804364988780544
Retweet count:  79
Likes count:  210

Tweet id:  666786068205871104
Retweet count:  425
Likes count:  673

Tweet id:  666781792255496192
Retweet count:  171
Likes count:  340

Tweet id:  666776908487630848
Retweet count:  151
Likes count:  310

Tweet id:  666739327293083650
Retweet count:  60
Likes count:  212

Tweet id:  666701168228331520
Retweet count:  189
Likes count:  380

Tweet id:  666691418707132416
Retweet count:  43
Likes count:  164

Tweet id:  666649482315059201
Retweet count:  550
Likes count:  1009

Tweet id:  666644823164719104
Retweet count:  72
Likes count:  213

Tweet id:  666454714377183233
Retweet count:  187
Likes count:  455

Tweet id:  666447344410484738
Retweet count:  19
Likes count:  93

Tweet id:  666437273139982337
Retweet count:  41
Likes count:  106

Tweet id:  666435652385423360
Retweet count:  44
Likes count:  144

Tweet id:  666430724426358785
Retweet count:  168
Likes count:  283

Tweet id:  666428276349472768
Retweet count:  67
Likes count:  143

Tweet id:  666421158376562688
Retweet count:  95
Likes count:  284

Tweet id:  666418789513326592
Retweet count:  39
Likes count:  109

Tweet id:  666411507551481857
Retweet count:  278
Likes count:  383

Tweet id:  666407126856765440
Retweet count:  30
Likes count:  95

Tweet id:  666396247373291520
Retweet count:  72
Likes count:  150

Tweet id:  666373753744588802
Retweet count:  75
Likes count:  165

Tweet id:  666362758909284353
Retweet count:  483
Likes count:  672

Tweet id:  666353288456101888
Retweet count:  61
Likes count:  186

Tweet id:  666345417576210432
Retweet count:  127
Likes count:  256

Tweet id:  666337882303524864
Retweet count:  80
Likes count:  169

Tweet id:  666293911632134144
Retweet count:  301
Likes count:  440

Tweet id:  666287406224695296
Retweet count:  57
Likes count:  126

Tweet id:  666273097616637952
Retweet count:  69
Likes count:  153

Tweet id:  666268910803644416
Retweet count:  32
Likes count:  90

Tweet id:  666104133288665088
Retweet count:  5626
Likes count:  12922

Tweet id:  666102155909144576
Retweet count:  11
Likes count:  67

Tweet id:  666099513787052032
Retweet count:  55
Likes count:  137

Tweet id:  666094000022159362
Retweet count:  65
Likes count:  146

Tweet id:  666082916733198337
Retweet count:  39
Likes count:  97

Tweet id:  666073100786774016
Retweet count:  136
Likes count:  277

Tweet id:  666071193221509120
Retweet count:  51
Likes count:  130

Tweet id:  666063827256086533
Retweet count:  185
Likes count:  417

Tweet id:  666058600524156928
Retweet count:  49
Likes count:  102

Tweet id:  666057090499244032
Retweet count:  114
Likes count:  258

Tweet id:  666055525042405380
Retweet count:  204
Likes count:  386

Tweet id:  666051853826850816
Retweet count:  728
Likes count:  1054

Tweet id:  666050758794694657
Retweet count:  51
Likes count:  118

Tweet id:  666049248165822465
Retweet count:  37
Likes count:  92

Tweet id:  666044226329800704
Retweet count:  118
Likes count:  252

Tweet id:  666033412701032449
Retweet count:  37
Likes count:  102

Tweet id:  666029285002620928
Retweet count:  40
Likes count:  116

Tweet id:  666020888022790149
Retweet count:  436
Likes count:  2318

> #### Convert 'tweet_json.txt' to a pandas dataframe

In [9]:
# Read 'tweet.txt' line by line into a pandas dataframe with tweet_id, retweet_count, and likes_count
tweet_json_df = pd.json_normalize(data['tweet_info'])

In [10]:
tweet_json_df.head()

             tweet_id  retweet_count  likes_count
0  892420643555336193           7189        34531
1  892177421306343426           5396        29940
2  891815181378084864           3562        22530
3  891689557279858688           7413        37769
4  891327558926688256           7947        36071


## Assessing Data


### Assessing WeRateDogs twitter account archive table

In [11]:
df.sample(20)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1883,674805413498527744,NaN,NaN,2015-12-10 04:18:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When your entire life is crumbling before you ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674805413...,10,10,None,None,None,None,None
1631,684481074559381504,NaN,NaN,2016-01-05 21:06:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Pippa. She's an Elfin High Feta. Compact ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684481074...,10,10,Pippa,None,None,None,None
892,759447681597108224,NaN,NaN,2016-07-30 17:56:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oakley. He has no idea what happened h...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/759447681...,11,10,Oakley,None,None,None,None
461,817536400337801217,NaN,NaN,2017-01-07 01:00:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Eugene &amp; Patti Melt. No matte...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/817536400...,12,10,Eugene,None,None,None,None
1025,746369468511756288,NaN,NaN,2016-06-24 15:48:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Iraqi Speed Kangaroo. It is not a d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/746369468...,9,10,an,None,None,None,None
1191,717841801130979328,NaN,NaN,2016-04-06 22:29:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Barclay. His father was a banana. 11/1...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/717841801...,11,10,Barclay,None,None,None,None
779,775842724423557120,NaN,NaN,2016-09-13 23:44:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Blue. He was having an average day unt...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/775842724...,12,10,Blue,None,None,None,None
2127,670319130621435904,NaN,NaN,2015-11-27 19:11:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",AT DAWN...\nWE RIDE\n\n11/10 https://t.co/QnfO...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670319130...,11,10,None,None,None,None,None
1230,713411074226274305,NaN,NaN,2016-03-25 17:03:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we see an extremely rare Bearded Floofmal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/713411074...,11,10,None,None,None,None,None
600,798673117451325440,NaN,NaN,2016-11-15 23:44:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: I shall call him squishy and he...,6.755011e+17,4.196984e+09,2015-12-12 02:23:01 +0000,https://twitter.com/dog_rates/status/675501075...,13,10,None,None,None,None,None
2322,666430724426358785,NaN,NaN,2015-11-17 01:40:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh boy what a pup! Sunglasses take this one to...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666430724...,6,10,None,None,None,None,None
414,822859134160621569,NaN,NaN,2017-01-21 17:31:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Hobbes. He was told he was going to th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/822859134...,12,10,Hobbes,None,None,None,None
1497,692423280028966913,6.924173e+17,4.196984e+09,2016-01-27 19:05:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: just noticed this dog has some extra ...,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
2256,667766675769573376,NaN,NaN,2015-11-20 18:09:16 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is Calvin. He is a Luxembourgian Mayo. Ha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667766675...,9,10,Calvin,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
1093,737310737551491075,NaN,NaN,2016-05-30 15:52:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Everybody stop what you're doing and watch the...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/737310737...,13,10,None,None,None,None,None
838,767500508068192258,NaN,NaN,2016-08-21 23:15:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Louie. He's making quite a h*ckin mess...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/767500508...,12,10,Louie,None,None,None,None
2246,667878741721415682,NaN,NaN,2015-11-21 01:34:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tedrick. He lives on the edge. Needs s...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667878741...,2,10,Tedrick,None,None,None,None
1407,699079609774645248,NaN,NaN,2016-02-15 03:55:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Reagan. He's a Persnicketus Derpson. Grea...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/699079609...,8,10,Reagan,None,None,None,None
891,759557299618865152,NaN,NaN,2016-07-31 01:12:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Emma. She can't believe her last guess...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/759557299...,10,10,Emma,None,None,None,None

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [13]:
df.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [14]:
df[df['text'].str.contains('RT')].shape[0]

192

In [15]:
df[df.tweet_id ==710609963652087808][['tweet_id','expanded_urls','source']]

,tweet_id,expanded_urls,source
1255,710609963652087808,https://vine.co/v/idaTpwH5TgU,"<a href=""http://vine.co"" rel=""nofollow"">Vine -..."

In [16]:
df.name.unique()

array(['Phineas', 'Tilly', 'Archie', 'Darla', 'Franklin', 'None', 'Jax',
       'Zoey', 'Cassie', 'Koda', 'Bruno', 'Ted', 'Stuart', 'Oliver',
       'Jim', 'Zeke', 'Ralphus', 'Canela', 'Gerald', 'Jeffrey', 'such',
       'Maya', 'Mingus', 'Derek', 'Roscoe', 'Waffles', 'Jimbo', 'Maisey',
       'Lilly', 'Earl', 'Lola', 'Kevin', 'Yogi', 'Noah', 'Bella',
       'Grizzwald', 'Rusty', 'Gus', 'Stanley', 'Alfy', 'Koko', 'Rey',
       'Gary', 'a', 'Elliot', 'Louis', 'Jesse', 'Romeo', 'Bailey',
       'Duddles', 'Jack', 'Emmy', 'Steven', 'Beau', 'Snoopy', 'Shadow',
       'Terrance', 'Aja', 'Penny', 'Dante', 'Nelly', 'Ginger', 'Benedict',
       'Venti', 'Goose', 'Nugget', 'Cash', 'Coco', 'Jed', 'Sebastian',
       'Walter', 'Sierra', 'Monkey', 'Harry', 'Kody', 'Lassie', 'Rover',
       'Napolean', 'Dawn', 'Boomer', 'Cody', 'Rumble', 'Clifford',
       'quite', 'Dewey', 'Scout', 'Gizmo', 'Cooper', 'Harold', 'Shikha',
       'Jamesy', 'Lili', 'Sammy', 'Meatball', 'Paisley', 'Albus',
       'Neptune', 'Quinn', 'Belle', 'Zooey', 'Dave', 'Jersey', 'Hobbes',
       'Burt', 'Lorenzo', 'Carl', 'Jordy', 'Milky', 'Trooper', 'Winston',
       'Sophie', 'Wyatt', 'Rosie', 'Thor', 'Oscar', 'Luna', 'Callie',
       'Cermet', 'George', 'Marlee', 'Arya', 'Einstein', 'Alice',
       'Rumpole', 'Benny', 'Aspen', 'Jarod', 'Wiggles', 'General',
       'Sailor', 'Astrid', 'Iggy', 'Snoop', 'Kyle', 'Leo', 'Riley',
       'Gidget', 'Noosh', 'Odin', 'Jerry', 'Charlie', 'Georgie', 'Rontu',
       'Cannon', 'Furzey', 'Daisy', 'Tuck', 'Barney', 'Vixen', 'Jarvis',
       'Mimosa', 'Pickles', 'Bungalo', 'Brady', 'Margo', 'Sadie', 'Hank',
       'Tycho', 'Stephan', 'Indie', 'Winnie', 'Bentley', 'Ken', 'Max',
       'Maddie', 'Pipsy', 'Monty', 'Sojourner', 'Odie', 'Arlo', 'Sunny',
       'Vincent', 'Lucy', 'Clark', 'Mookie', 'Meera', 'Buddy', 'Ava',
       'Rory', 'Eli', 'Ash', 'Tucker', 'Tobi', 'Chester', 'Wilson',
       'Sunshine', 'Lipton', 'Gabby', 'Bronte', 'Poppy', 'Rhino',
       'Willow', 'not', 'Orion', 'Eevee', 'Smiley', 'Logan', 'Moreton',
       'Klein', 'Miguel', 'Emanuel', 'Kuyu', 'Dutch', 'Pete', 'Scooter',
       'Reggie', 'Kyro', 'Samson', 'Loki', 'Mia', 'Malcolm', 'Dexter',
       'Alfie', 'Fiona', 'one', 'Mutt', 'Bear', 'Doobert', 'Beebop',
       'Alexander', 'Sailer', 'Brutus', 'Kona', 'Boots', 'Ralphie',
       'Phil', 'Cupid', 'Pawnd', 'Pilot', 'Ike', 'Mo', 'Toby', 'Sweet',
       'Pablo', 'Nala', 'Balto', 'Crawford', 'Gabe', 'Mattie', 'Jimison',
       'Hercules', 'Duchess', 'Harlso', 'Sampson', 'Sundance', 'Luca',
       'Flash', 'Finn', 'Peaches', 'Howie', 'Jazzy', 'Anna', 'Bo',
       'Seamus', 'Wafer', 'Chelsea', 'Tom', 'Moose', 'Florence', 'Autumn',
       'Dido', 'Eugene', 'Herschel', 'Strudel', 'Tebow', 'Chloe', 'Betty',
       'Timber', 'Binky', 'Dudley', 'Comet', 'Larry', 'Levi', 'Akumi',
       'Titan', 'Olivia', 'Alf', 'Oshie', 'Bruce', 'Chubbs', 'Sky',
       'Atlas', 'Eleanor', 'Layla', 'Rocky', 'Baron', 'Tyr', 'Bauer',
       'Swagger', 'Brandi', 'Mary', 'Moe', 'Halo', 'Augie', 'Craig',
       'Sam', 'Hunter', 'Pavlov', 'Maximus', 'Wallace', 'Ito', 'Milo',
       'Ollie', 'Cali', 'Lennon', 'incredibly', 'Major', 'Duke',
       'Reginald', 'Sansa', 'Shooter', 'Django', 'Diogi', 'Sonny',
       'Philbert', 'Marley', 'Severus', 'Ronnie', 'Anakin', 'Bones',
       'Mauve', 'Chef', 'Doc', 'Sobe', 'Longfellow', 'Mister', 'Iroh',
       'Baloo', 'Stubert', 'Paull', 'Timison', 'Davey', 'Pancake',
       'Tyrone', 'Snicku', 'Ruby', 'Brody', 'Rizzy', 'Mack', 'Butter',
       'Nimbus', 'Laika', 'Dobby', 'Juno', 'Maude', 'Lily', 'Newt',
       'Benji', 'Nida', 'Robin', 'Monster', 'BeBe', 'Remus', 'Mabel',
       'Misty', 'Happy', 'Mosby', 'Maggie', 'Leela', 'Ralphy', 'Brownie',
       'Meyer', 'Stella', 'mad', 'Frank', 'Tonks', 'Lincoln', 'Oakley',
       'Dale', 'Rizzo', 'Arnie', 'Pinot', 'Dallas', 'Hero', 'Frankie',
       'Stormy', 'Mairi', 'Loomis', 'Godi', 'Kenny', 'Deacon', 'Timmy',
       'Harper', 'Chipson', 'Combo', 'Dash', 'Bell', 'Hurley', 'Jay',
       'Mya', 'Strider', 'an', 'Wesley', 'Solomon', 'Huck', 'very', 'O',
       'Blue', 'Finley', 'Sprinkles', 'Heinrich', 'Shakespeare', 'Fizz',
       'Chip', 'Grey', 'Roosevelt', 'Gromit', 'Willem', 'Dakota', 'Dixie',
       'Al', 'Jackson', 'just', 'Carbon', 'DonDon', 'Kirby', 'Lou',
       'Nollie', 'Chevy', 'Tito', 'Louie', 'Rupert', 'Rufus', 'Brudge',
       'Shadoe', 'Colby', 'Angel', 'Brat', 'Tove', 'my', 'Aubie', 'Kota',
       'Eve', 'Glenn', 'Shelby', 'Sephie', 'Bonaparte', 'Albert',
       'Wishes', 'Rose', 'Theo', 'Rocco', 'Fido', 'Emma', 'Spencer',
       'Lilli', 'Boston', 'Brandonald', 'Corey', 'Leonard', 'Chompsky',
       'Beckham', 'Devón', 'Gert', 'Watson', 'Rubio', 'Keith', 'Dex',
       'Carly', 'Ace', 'Tayzie', 'Grizzie', 'Fred', 'Gilbert', 'Zoe',
       'Stewie', 'Calvin', 'Lilah', 'Spanky', 'Jameson', 'Piper',
       'Atticus', 'Blu', 'Dietrich', 'Divine', 'Tripp', 'his', 'Cora',
       'Huxley', 'Keurig', 'Bookstore', 'Linus', 'Abby', 'Shaggy',
       'Shiloh', 'Gustav', 'Arlen', 'Percy', 'Lenox', 'Sugar', 'Harvey',
       'Blanket', 'actually', 'Geno', 'Stark', 'Beya', 'Kilo', 'Kayla',
       'Maxaroni', 'Doug', 'Edmund', 'Aqua', 'Theodore', 'Chase',
       'getting', 'Rorie', 'Simba', 'Charles', 'Bayley', 'Axel',
       'Storkson', 'Remy', 'Chadrick', 'Kellogg', 'Buckley', 'Livvie',
       'Terry', 'Hermione', 'Ralpher', 'Aldrick', 'this', 'unacceptable',
       'Rooney', 'Crystal', 'Ziva', 'Stefan', 'Pupcasso', 'Puff',
       'Flurpson', 'Coleman', 'Enchilada', 'Raymond', 'all', 'Rueben',
       'Cilantro', 'Karll', 'Sprout', 'Blitz', 'Bloop', 'Lillie',
       'Ashleigh', 'Kreggory', 'Sarge', 'Luther', 'Ivar', 'Jangle',
       'Schnitzel', 'Panda', 'Berkeley', 'Ralphé', 'Charleson', 'Clyde',
       'Harnold', 'Sid', 'Pippa', 'Otis', 'Carper', 'Bowie',
       'Alexanderson', 'Suki', 'Barclay', 'Skittle', 'Ebby', 'Flávio',
       'Smokey', 'Link', 'Jennifur', 'Ozzy', 'Bluebert', 'Stephanus',
       'Bubbles', 'old', 'Zeus', 'Bertson', 'Nico', 'Michelangelope',
       'Siba', 'Calbert', 'Curtis', 'Travis', 'Thumas', 'Kanu', 'Lance',
       'Opie', 'Kane', 'Olive', 'Chuckles', 'Staniel', 'Sora', 'Beemo',
       'Gunner', 'infuriating', 'Lacy', 'Tater', 'Olaf', 'Cecil', 'Vince',
       'Karma', 'Billy', 'Walker', 'Rodney', 'Klevin', 'Malikai',
       'Bobble', 'River', 'Jebberson', 'Remington', 'Farfle', 'Jiminus',
       'Clarkus', 'Finnegus', 'Cupcake', 'Kathmandu', 'Ellie', 'Katie',
       'Kara', 'Adele', 'Zara', 'Ambrose', 'Jimothy', 'Bode', 'Terrenth',
       'Reese', 'Chesterson', 'Lucia', 'Bisquick', 'Ralphson', 'Socks',
       'Rambo', 'Rudy', 'Fiji', 'Rilo', 'Bilbo', 'Coopson', 'Yoda',
       'Millie', 'Chet', 'Crouton', 'Daniel', 'Kaia', 'Murphy', 'Dotsy',
       'Eazy', 'Coops', 'Fillup', 'Miley', 'Charl', 'Reagan', 'Yukon',
       'CeCe', 'Cuddles', 'Claude', 'Jessiga', 'Carter', 'Ole', 'Pherb',
       'Blipson', 'Reptar', 'Trevith', 'Berb', 'Bob', 'Colin', 'Brian',
       'Oliviér', 'Grady', 'Kobe', 'Freddery', 'Bodie', 'Dunkin', 'Wally',
       'Tupawc', 'Amber', 'Edgar', 'Teddy', 'Kingsley', 'Brockly',
       'Richie', 'Molly', 'Vinscent', 'Cedrick', 'Hazel', 'Lolo', 'Eriq',
       'Phred', 'the', 'Oddie', 'Maxwell', 'Geoff', 'Covach', 'Durg',
       'Fynn', 'Ricky', 'Herald', 'Lucky', 'Ferg', 'Trip', 'Clarence',
       'Hamrick', 'Brad', 'Pubert', 'Frönq', 'Derby', 'Lizzie', 'Ember',
       'Blakely', 'Opal', 'Marq', 'Kramer', 'Barry', 'Gordon', 'Baxter',
       'Mona', 'Horace', 'Crimson', 'Birf', 'Hammond', 'Lorelei', 'Marty',
       'Brooks', 'Petrick', 'Hubertson', 'Gerbald', 'Oreo', 'Bruiser',
       'Perry', 'Bobby', 'Jeph', 'Obi', 'Tino', 'Kulet', 'Sweets', 'Lupe',
       'Tiger', 'Jiminy', 'Griffin', 'Banjo', 'Brandy', 'Lulu', 'Darrel',
       'Taco', 'Joey', 'Patrick', 'Kreg', 'Todo', 'Tess', 'Ulysses',
       'Toffee', 'Apollo', 'Asher', 'Glacier', 'Chuck', 'Champ', 'Ozzie',
       'Griswold', 'Cheesy', 'Moofasa', 'Hector', 'Goliath', 'Kawhi',
       'by', 'Emmie', 'Penelope', 'Willie', 'Rinna', 'Mike', 'William',
       'Dwight', 'Evy', 'officially', 'Rascal', 'Linda', 'Tug', 'Tango',
       'Grizz', 'Jerome', 'Crumpet', 'Jessifer', 'Izzy', 'Ralph', 'Sandy',
       'Humphrey', 'Tassy', 'Juckson', 'Chuq', 'Tyrus', 'Karl',
       'Godzilla', 'Vinnie', 'Kenneth', 'Herm', 'Bert', 'Striker',
       'Donny', 'Pepper', 'Bernie', 'Buddah', 'Lenny', 'Arnold', 'Zuzu',
       'Mollie', 'Laela', 'Tedders', 'Superpup', 'Rufio', 'Jeb', 'Rodman',
       'Jonah', 'Chesney', 'life', 'Henry', 'Bobbay', 'Mitch', 'Kaiya',
       'Acro', 'Aiden', 'Obie', 'Dot', 'Shnuggles', 'Kendall', 'Jeffri',
       'Steve', 'Mac', 'Fletcher', 'Kenzie', 'Pumpkin', 'Schnozz',
       'Gustaf', 'Cheryl', 'Ed', 'Leonidas', 'Norman', 'Caryl', 'Scott',
       'Taz', 'Darby', 'Jackie', 'light', 'Jazz', 'Franq', 'Pippin',
       'Rolf', 'Snickers', 'Ridley', 'Cal', 'Bradley', 'Bubba', 'Tuco',
       'Patch', 'Mojo', 'Batdog', 'Dylan', 'space', 'Mark', 'JD',
       'Alejandro', 'Scruffers', 'Pip', 'Julius', 'Tanner', 'Sparky',
       'Anthony', 'Holly', 'Jett', 'Amy', 'Sage', 'Andy', 'Mason',
       'Trigger', 'Antony', 'Creg', 'Traviss', 'Gin', 'Jeffrie', 'Danny',
       'Ester', 'Pluto', 'Bloo', 'Edd', 'Willy', 'Herb', 'Damon',
       'Peanut', 'Nigel', 'Butters', 'Sandra', 'Fabio', 'Randall', 'Liam',
       'Tommy', 'Ben', 'Raphael', 'Julio', 'Andru', 'Kloey', 'Shawwn',
       'Skye', 'Kollin', 'Ronduh', 'Billl', 'Saydee', 'Dug', 'Tessa',
       'Sully', 'Kirk', 'Ralf', 'Clarq', 'Jaspers', 'Samsom', 'Harrison',
       'Chaz', 'Jeremy', 'Jaycob', 'Lambeau', 'Ruffles', 'Amélie', 'Bobb',
       'Banditt', 'Kevon', 'Winifred', 'Hanz', 'Churlie', 'Zeek',
       'Timofy', 'Maks', 'Jomathan', 'Kallie', 'Marvin', 'Spark',
       'Gòrdón', 'Jo', 'DayZ', 'Jareld', 'Torque', 'Ron', 'Skittles',
       'Cleopatricia', 'Erik', 'Stu', 'Tedrick', 'Filup', 'Kial',
       'Naphaniel', 'Dook', 'Hall', 'Philippe', 'Biden', 'Fwed',
       'Genevieve', 'Joshwa', 'Bradlay', 'Clybe', 'Keet', 'Carll',
       'Jockson', 'Josep', 'Lugan', 'Christoper'], dtype=object)

In [17]:
print(df.duplicated(subset=['expanded_urls']).sum())

137

In [18]:
for i in range(len(df[:1])):
    print(df.text.loc[i])

This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU


#### Qaulity

- Missing values in cloumns `reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_user_id`, `retweeted_status_timestamp`, `doggo`, `floofer`, `pupper`, `puppo`, `expanded_urls`
- `text` comlumn contains retweets 
- `name` comlumn cintains Inappropriate names ["a", "the", "None",'O','all','old']
- Incorrect `expanded_urls` for `tweet_id` 812503143955202048 and 710609963652087808
- Incorrect `source`,`expanded_urls` for `tweet_id` 710609963652087808
- imporper datatypes (`in_reply_to_status_id`, `in_reply_to_user_id`, `timestamp`, `retweeted_status_id`, `retweeted_status_user_id`, `retweeted_status_timestamp`)
- Null values are represented as 'None' instead of 'NaN'
- Some tweet ids have invalid `rating_numerator` and `rating_denominator`
- There 137 duplicates

#### Tidiness

- Since we are only interested in looking at orginal tweets, we do not need the following variables(`retweeted_status_id`,`retweeted_status_user_id`,`retweeted_status_timestamp`)
- Some recordes in `source` contain has html tags
- Some tweets' texts in `text` column begain with "RT" followed by a twitter account. 
- `doggo` `floofer` `pupper` `puppo`should be in one Column
- Tweet texts contain URLs at the end

### Assessing `img_pred` table

In [19]:
img_pred.sample(20)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1074,717009362452090881,https://pbs.twimg.com/media/CfNUNetW8AAekHx.jpg,1,Siberian_husky,0.506154,True,Eskimo_dog,0.269656,True,malamute,0.060658,True
1734,821522889702862852,https://pbs.twimg.com/media/C2aitIUXAAAG-Wi.jpg,1,Doberman,0.763539,True,black-and-tan_coonhound,0.136602,True,miniature_pinscher,0.087654,True
1754,824775126675836928,https://pbs.twimg.com/media/C3Iwlr0WYAARVh4.jpg,1,Border_terrier,0.610499,True,malinois,0.090291,True,Airedale,0.068625,True
1130,728035342121635841,https://pbs.twimg.com/media/ChqARqmWsAEI6fB.jpg,1,handkerchief,0.302961,False,Pomeranian,0.248664,True,Shih-Tzu,0.111015,True
261,670786190031921152,https://pbs.twimg.com/media/CU8ceuxWUAALMEo.jpg,1,dingo,0.777124,False,Pembroke,0.127438,True,Cardigan,0.024007,True
1257,748575535303884801,https://pbs.twimg.com/media/CmN5ecNWMAE6pnf.jpg,1,muzzle,0.176172,False,seat_belt,0.160953,False,soft-coated_wheaten_terrier,0.086499,True
1223,744709971296780288,https://pbs.twimg.com/media/ClW9w7mWEAEFN1k.jpg,1,Shetland_sheepdog,0.234431,True,Samoyed,0.114876,True,collie,0.086614,True
1955,864279568663928832,https://pbs.twimg.com/media/C_6JrWZVwAAHhCD.jpg,1,bull_mastiff,0.668613,True,French_bulldog,0.180562,True,Staffordshire_bullterrier,0.052237,True
2023,881536004380872706,https://pbs.twimg.com/ext_tw_video_thumb/88153...,1,Samoyed,0.281463,True,Angora,0.272066,False,Persian_cat,0.114854,False
636,681242418453299201,https://pbs.twimg.com/media/CXRCXesVAAArSXt.jpg,1,motor_scooter,0.255934,False,rifle,0.145202,False,assault_rifle,0.097000,False
1962,866686824827068416,https://pbs.twimg.com/media/DAcXEWuXkAIBDGJ.jpg,1,flat-coated_retriever,0.514730,True,groenendael,0.306407,True,curly-coated_retriever,0.061314,True
527,676617503762681856,https://pbs.twimg.com/media/CWPUB9TWwAALPPx.jpg,1,Chihuahua,0.841084,True,Pomeranian,0.120530,True,Pekinese,0.006600,True
1664,812466873996607488,https://pbs.twimg.com/media/C0Z2T_GWgAAxbL9.jpg,1,bath_towel,0.099804,False,pillow,0.092318,False,Great_Dane,0.078205,True
340,672248013293752320,https://pbs.twimg.com/media/CVROAIfWsAECA5t.jpg,1,Irish_terrier,0.413173,True,Airedale,0.335616,True,toy_poodle,0.027952,True
108,667878741721415682,https://pbs.twimg.com/media/CUTILFiWcAE8Rle.jpg,1,seat_belt,0.200373,False,miniature_pinscher,0.106003,True,schipperke,0.104733,True
1491,782747134529531904,https://pbs.twimg.com/media/CtzgXgeXYAA1Gxw.jpg,1,golden_retriever,0.560699,True,otterhound,0.199482,True,clumber,0.040682,True
1076,717421804990701568,https://pbs.twimg.com/media/CfTLUYWXEAEkyES.jpg,2,miniature_pinscher,0.286479,True,Italian_greyhound,0.084134,True,beagle,0.064697,True
1822,834786237630337024,https://pbs.twimg.com/media/C5XBp19WYAA5a_v.jpg,1,Border_terrier,0.156276,True,Norwegian_elkhound,0.125912,True,Boston_bull,0.096624,True
1788,829861396166877184,https://pbs.twimg.com/media/C4RCiIHWYAAwgJM.jpg,1,Border_terrier,0.394486,True,Staffordshire_bullterrier,0.376574,True,American_Staffordshire_terrier,0.031292,True
972,706644897839910912,https://pbs.twimg.com/ext_tw_video_thumb/70664...,1,space_heater,0.137871,False,Chihuahua,0.132928,True,cougar,0.113866,False

In [20]:
img_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [21]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

img_pred['p1'].value_counts()

golden_retriever                  150
Labrador_retriever                100
Pembroke                           89
Chihuahua                          83
pug                                57
chow                               44
Samoyed                            43
toy_poodle                         39
Pomeranian                         38
cocker_spaniel                     30
malamute                           30
French_bulldog                     26
miniature_pinscher                 23
Chesapeake_Bay_retriever           23
seat_belt                          22
Siberian_husky                     20
Staffordshire_bullterrier          20
German_shepherd                    20
web_site                           19
Cardigan                           19
Shetland_sheepdog                  18
beagle                             18
Maltese_dog                        18
Eskimo_dog                         18
teddy                              18
Shih-Tzu                           17
Rottweiler                         17
Lakeland_terrier                   17
kuvasz                             16
Italian_greyhound                  16
West_Highland_white_terrier        14
Great_Pyrenees                     14
dalmatian                          13
American_Staffordshire_terrier     13
vizsla                             13
basset                             13
Pekinese                           13
Airedale                           12
Old_English_sheepdog               12
Border_collie                      12
kelpie                             11
soft-coated_wheaten_terrier        11
Blenheim_spaniel                   11
Bernese_mountain_dog               10
English_springer                   10
boxer                              10
schipperke                         10
collie                             10
Great_Dane                          9
tennis_ball                         9
whippet                             9
malinois                            9
Boston_bull                         9
borzoi                              9
dingo                               9
Doberman                            8
Norwegian_elkhound                  8
standard_poodle                     8
papillon                            8
English_setter                      8
flat-coated_retriever               8
doormat                             8
miniature_poodle                    8
Yorkshire_terrier                   8
Border_terrier                      7
Siamese_cat                         7
Norfolk_terrier                     7
tub                                 7
Brittany_spaniel                    7
Saint_Bernard                       7
basenji                             7
bloodhound                          7
hamster                             7
bath_towel                          7
German_short-haired_pointer         7
swing                               7
Irish_setter                        6
home_theater                        6
Irish_terrier                       6
ice_bear                            6
llama                               6
car_mirror                          6
redbone                             6
Dandie_Dinmont                      6
Tibetan_mastiff                     5
minivan                             5
hippopotamus                        5
ox                                  5
porcupine                           5
Bedlington_terrier                  5
Lhasa                               5
bull_mastiff                        5
shopping_cart                       5
Walker_hound                        5
Newfoundland                        5
Weimaraner                          4
patio                               4
bow_tie                             4
Arctic_fox                          4
Mexican_hairless                    4
guinea_pig                          4
goose                               4
Gordon_setter                       4
bathtub                             4
miniature_schnauzer                 4
hog                                 4
Norwich_terrier                     4
Saluki                              4
Tibetan_terrier                     4
Rhodesian_ridgeback                 4
brown_bear                          4
barrow                              4
keeshond                            4
Afghan_hound                        4
bluetick                            4
wombat                              4
jigsaw_puzzle                       4
dishwasher                          3
Brabancon_griffon                   3
Welsh_springer_spaniel              3
refrigerator                        3
ski_mask                            3
komondor                            3
jack-o'-lantern                     3
sea_lion                            3
briard                              3
motor_scooter                       3
Greater_Swiss_Mountain_dog          3
stone_wall                          3
curly-coated_retriever              3
Irish_water_spaniel                 3
vacuum                              3
window_shade                        3
wood_rabbit                         3
Leonberg                            3
Christmas_stocking                  3
toilet_tissue                       3
ram                                 3
comic_book                          3
prison                              3
Scottish_deerhound                  3
muzzle                              3
triceratops                         3
cowboy_hat                          3
cairn                               3
giant_schnauzer                     3
Ibizan_hound                        3
space_heater                        3
white_wolf                          3
Arabian_camel                       3
balloon                             3
washbasin                           3
mousetrap                           3
seashore                            3
common_iguana                       3
box_turtle                          2
black-and-tan_coonhound             2
snorkel                             2
Loafer                              2
ostrich                             2
frilled_lizard                      2
laptop                              2
hermit_crab                         2
weasel                              2
leatherback_turtle                  2
dogsled                             2
bustard                             2
sorrel                              2
paddle                              2
paper_towel                         2
Angora                              2
cash_machine                        2
bubble                              2
dough                               2
birdhouse                           2
street_sign                         2
acorn_squash                        2
badger                              2
koala                               2
geyser                              2
meerkat                             2
upright                             2
jellyfish                           2
axolotl                             2
gas_pump                            2
toy_terrier                         2
wool                                2
feather_boa                         2
wallaby                             2
wire-haired_fox_terrier             2
chimpanzee                          2
snail                               2
hyena                               2
tabby                               2
Australian_terrier                  2
Sussex_spaniel                      2
gondola                             2
shower_curtain                      2
lakeside                            2
toyshop                             2
tusker                              2
hen                                 2
Appenzeller                         2
quilt                               1
bald_eagle                          1
American_black_bear                 1
pot                                 1
platypus                            1
guenon                              1
earthstar                           1
lynx                                1
restaurant                          1
four-poster                         1
grille                              1
trombone                            1
leopard                             1
maillot                             1
clog                                1
revolver                            1
remote_control                      1
silky_terrier                       1
hay                                 1
carton                              1
school_bus                          1
slug                                1
lawn_mower                          1
coho                                1
syringe                             1
loupe                               1
sliding_door                        1
microphone                          1
starfish                            1
giant_panda                         1
bannister                           1
candle                              1
nail                                1
pool_table                          1
barbell                             1
peacock                             1
mortarboard                         1
hummingbird                         1
pitcher                             1
killer_whale                        1
prayer_rug                          1
cheeseburger                        1
pole                                1
book_jacket                         1
bee_eater                           1
harp                                1
radio_telescope                     1
envelope                            1
robin                               1
African_hunting_dog                 1
sundial                             1
hand_blower                         1
otter                               1
dhole                               1
pedestal                            1
traffic_light                       1
military_uniform                    1
piggy_bank                          1
studio_couch                        1
Japanese_spaniel                    1
bearskin                            1
conch                               1
coil                                1
padlock                             1
jersey                              1
pencil_box                          1
canoe                               1
clumber                             1
stove                               1
ping-pong_ball                      1
sunglasses                          1
bighorn                             1
ocarina                             1
standard_schnauzer                  1
teapot                              1
fiddler_crab                        1
rapeseed                            1
bib                                 1
limousine                           1
cuirass                             1
fire_engine                         1
carousel                            1
china_cabinet                       1
crash_helmet                        1
three-toed_sloth                    1
park_bench                          1
bison                               1
toilet_seat                         1
alp                                 1
ice_lolly                           1
leaf_beetle                         1
coffee_mug                          1
zebra                               1
espresso                            1
rain_barrel                         1
coral_reef                          1
cowboy_boot                         1
Egyptian_cat                        1
beach_wagon                         1
cup                                 1
handkerchief                        1
bookcase                            1
soccer_ball                         1
fountain                            1
basketball                          1
king_penguin                        1
water_bottle                        1
African_crocodile                   1
minibus                             1
crane                               1
lorikeet                            1
washer                              1
black-footed_ferret                 1
hare                                1
microwave                           1
bakery                              1
tick                                1
tricycle                            1
pillow                              1
wild_boar                           1
agama                               1
desktop_computer                    1
damselfly                           1
Madagascar_cat                      1
lion                                1
maze                                1
timber_wolf                         1
cougar                              1
dining_table                        1
swab                                1
Scotch_terrier                      1
boathouse                           1
marmot                              1
bow                                 1
scorpion                            1
EntleBucher                         1
snowmobile                          1
sulphur-crested_cockatoo            1
walking_stick                       1
bookshop                            1
sandbar                             1
groenendael                         1
flamingo                            1
skunk                               1
polecat                             1
mailbox                             1
orange                              1
cheetah                             1
suit                                1
tailed_frog                         1
rotisserie                          1
bonnet                              1
beaver                              1
convertible                         1
sea_urchin                          1
electric_fan                        1
ibex                                1
terrapin                            1
shield                              1
panpipe                             1
hammer                              1
wooden_spoon                        1
hotdog                              1
long-horned_beetle                  1
banana                              1
lacewing                            1
African_grey                        1
tiger_shark                         1
mud_turtle                          1
picket_fence                        1
cliff                               1
binoculars                          1
grey_fox                            1
shopping_basket                     1
water_buffalo                       1
Name: p1, dtype: int64

In [22]:
img_pred.query('tweet_id ==671547767500775424').jpg_url

312    https://pbs.twimg.com/media/CVHRIiqWEAAj98K.jpg
Name: jpg_url, dtype: object

In [23]:
img_pred.isnull().sum()

tweet_id    0
jpg_url     0
img_num     0
p1          0
p1_conf     0
p1_dog      0
p2          0
p2_conf     0
p2_dog      0
p3          0
p3_conf     0
p3_dog      0
dtype: int64

In [24]:
img_pred.jpg_url.duplicated( keep='first').sum()

66

#### Qaulity 
- Underscore sign spearates words in (`p1`, `p2`,`p3`) columns.
- Captalization of Breads of dogs' types in (`p1`, `p2`,`p3`) columns are not consistant. 
- The predictions of dog breed for `tweet_id`s (717790033953034240,675135153782571009,671547767500775424)  are not correct in the three algorithms 
- The dog in image from `tweet_id` 669015743032369152 is not real dog 
- 66 duplicates in `jpg_url` column

### Assessing `tweet_json_df`  table

In [25]:
tweet_json_df.head()

             tweet_id  retweet_count  likes_count
0  892420643555336193           7189        34531
1  892177421306343426           5396        29940
2  891815181378084864           3562        22530
3  891689557279858688           7413        37769
4  891327558926688256           7947        36071

# Cleaning
### Define
- Merge the `df` &`img_pred` & `tweet_json_df` into one master dataframe named `master_df`
- Create a copy of the master dataset

### Code

In [26]:
#  merging the three datasets in one master dataset

master_df = pd.merge(df, img_pred, how = 'left', on = ['tweet_id'] )
master_df = pd.merge(master_df,tweet_json_df, how = 'left', on =['tweet_id'] )
master_df.to_csv('dataset'+'/'+'master_df.csv', encoding='utf-8', index =False)
master_df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,likes_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1.0,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False,7189.0,34531.0
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1.0,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True,5396.0,29940.0
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1.0,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True,3562.0,22530.0
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1.0,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False,7413.0,37769.0
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2.0,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True,7947.0,36071.0

In [27]:
# Test the dataset file
print(pd.read_csv('dataset/master_df.csv').shape)
pd.read_csv('dataset/master_df.csv').head(1)

(2356, 30)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,likes_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1.0,orange,0.097049,False,bagel,0.085851,False,banana,0.07611,False,7189.0,34531.0

In [28]:
# Create a copy dataset from master_df to preserve the original dataset unchanged

master_copy = master_df.copy()
master_copy.shape

(2356, 30)

## Tidiness


##### Define
- Remove variables(`retweeted_status_id`,`retweeted_status_user_id`,`retweeted_status_timestamp`,`in_reply_to_status_id`,`in_reply_to_user_id`)

#### Code

In [29]:
master_copy.drop(columns=['retweeted_status_id', 'retweeted_status_user_id','retweeted_status_timestamp','in_reply_to_status_id','in_reply_to_user_id'], inplace = True)

#### Test

In [30]:
master_copy.columns

Index(['tweet_id', 'timestamp', 'source', 'text', 'expanded_urls',
       'rating_numerator', 'rating_denominator', 'name', 'doggo', 'floofer',
       'pupper', 'puppo', 'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog',
       'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog', 'retweet_count',
       'likes_count'],
      dtype='object')

#### Define 
- Remove the HTML tags from `source` column and extract the tweet's source

#### Code

In [31]:
master_copy.source[4]

'<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>'

In [32]:
sources = []
for source in master_copy.source:
    sources.append(re.findall(r'>(.*)<',source)[0])
master_copy.source = sources

In [33]:
master_copy.sample(5)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,likes_count
2284,667192066997374976,2015-11-19 04:05:59 +0000,Twitter for iPhone,*takes several long deep breaths* omg omg oMG ...,https://twitter.com/dog_rates/status/667192066...,12,10,None,None,None,None,None,https://pbs.twimg.com/media/CUJXpRBXIAAN0yz.jpg,1.0,Rottweiler,0.283640,True,miniature_pinscher,0.148112,True,black-and-tan_coonhound,0.095585,True,87.0,341.0
25,887101392804085760,2017-07-18 00:07:08 +0000,Twitter for iPhone,This... is a Jubilant Antarctic House Bear. We...,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,1.0,Samoyed,0.733942,True,Eskimo_dog,0.035029,True,Staffordshire_bullterrier,0.029705,True,5106.0,27540.0
785,775085132600442880,2016-09-11 21:34:30 +0000,Twitter for iPhone,This is Tucker. He would like a hug. 13/10 som...,https://twitter.com/dog_rates/status/775085132...,13,10,Tucker,None,None,None,None,https://pbs.twimg.com/media/CsGnz64WYAEIDHJ.jpg,1.0,chow,0.316565,True,golden_retriever,0.241929,True,Pomeranian,0.157524,True,4488.0,14977.0
1034,745057283344719872,2016-06-21 00:54:33 +0000,Twitter for iPhone,This is Oliver. He's downright gorgeous as hel...,https://twitter.com/dog_rates/status/745057283...,12,10,Oliver,None,None,None,None,https://pbs.twimg.com/media/Clb5pLJWMAE-QS1.jpg,2.0,Shetland_sheepdog,0.963985,True,collie,0.026206,True,Border_collie,0.004544,True,2101.0,6899.0
1267,709566166965075968,2016-03-15 02:25:31 +0000,Twitter for iPhone,This is Olaf. He's gotta be rare. Seems sturdy...,https://twitter.com/dog_rates/status/709566166...,12,10,Olaf,None,None,None,None,https://pbs.twimg.com/media/Cdjiqi6XIAIUOg-.jpg,1.0,chow,0.999837,True,Tibetan_mastiff,0.000117,True,Australian_terrier,0.000011,True,1118.0,3344.0

##### Test

In [34]:
len(master_copy.source) == len(master_copy)

True

In [35]:
master_copy.source.head()

0    Twitter for iPhone
1    Twitter for iPhone
2    Twitter for iPhone
3    Twitter for iPhone
4    Twitter for iPhone
Name: source, dtype: object

In [36]:
master_copy.source.sample(5)

336     Twitter for iPhone
879     Twitter for iPhone
23      Twitter for iPhone
2221    Twitter for iPhone
636     Twitter for iPhone
Name: source, dtype: object

#### Define 
- Remove Retweets from the dataset

#### Code

In [37]:
# Count the number of retweet in the dataset

master_copy.text.str.startswith('RT @').sum()

181

In [38]:
# Removie retweets from the dataset

mask = master_copy[master_copy.text.str.startswith('RT @')].index
master_copy.drop(mask ,inplace = True)

#### Test

In [39]:
# Check if there is any retweet in the dataset
master_copy.text.str.startswith('RT @').sum()

0

In [40]:
(len(master_copy)+ 181) == 2356

True


#### Define 

-  Reshape the dataframe by putting those identifier variables into one column `doggo` `floofer` `pupper` `puppo`should be in one Column

#### Code

In [41]:
# putting the columns we want to keep in a list
columns = ['tweet_id',
 'timestamp',
 'source',
 'text',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name','jpg_url',
 'img_num',
 'p1',
 'p1_conf',
 'p1_dog',
 'p2',
 'p2_conf',
 'p2_dog',
 'p3',
 'p3_conf',
 'p3_dog',
 'retweet_count',
 'likes_count']

In [42]:
# melt the dog stages columns into one columns 

master_copy = pd.melt(master_copy, id_vars= columns,value_vars= ['doggo', 'floofer', 'pupper', 'puppo'],
            var_name="type", value_name="dog_stage" )

#### Test

In [43]:
master_copy.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,likes_count,type,dog_stage
0,892420643555336193,2017-08-01 16:23:56 +0000,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1.0,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False,7189.0,34531.0,doggo,None
1,892177421306343426,2017-08-01 00:17:27 +0000,Twitter for iPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1.0,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True,5396.0,29940.0,doggo,None
2,891815181378084864,2017-07-31 00:18:03 +0000,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1.0,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True,3562.0,22530.0,doggo,None
3,891689557279858688,2017-07-30 15:58:51 +0000,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1.0,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False,7413.0,37769.0,doggo,None
4,891327558926688256,2017-07-29 16:00:24 +0000,Twitter for iPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2.0,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True,7947.0,36071.0,doggo,None

In [44]:
master_copy.dog_stage.value_counts()

None       8344
pupper      234
doggo        87
puppo        25
floofer      10
Name: dog_stage, dtype: int64

In [45]:
master_copy.drop(columns = ['type'], inplace = True)

In [46]:
master_copy = master_copy.sort_values('dog_stage').drop_duplicates('tweet_id', keep = 'last')
master_copy.dog_stage.value_counts()

None       1831
pupper      234
doggo        75
puppo        25
floofer      10
Name: dog_stage, dtype: int64

In [47]:
master_copy.tail()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,likes_count,dog_stage
7430,738537504001953792,2016-06-03 01:07:16 +0000,Twitter for iPhone,This is Bayley. She fell asleep trying to esca...,https://twitter.com/dog_rates/status/738537504...,11,10,Bayley,https://pbs.twimg.com/media/Cj_P7rSUgAAYQbz.jpg,1.0,chow,0.808737,True,gibbon,0.028942,False,Pembroke,0.026498,True,1436.0,4811.0,puppo
7059,790946055508652032,2016-10-25 16:00:09 +0000,Twitter for iPhone,This is Betty. She's assisting with the dishes...,https://twitter.com/dog_rates/status/790946055...,12,10,Betty,https://pbs.twimg.com/media/CvoBPWRWgAA4het.jpg,1.0,dishwasher,0.700466,False,golden_retriever,0.245773,True,chow,0.039012,True,4504.0,16234.0,puppo
7395,743253157753532416,2016-06-16 01:25:36 +0000,Twitter for iPhone,This is Kilo. He cannot reach the snackum. Nif...,https://twitter.com/dog_rates/status/743253157...,10,10,Kilo,https://pbs.twimg.com/media/ClCQzFUUYAA5vAu.jpg,1.0,malamute,0.442612,True,Siberian_husky,0.368137,True,Eskimo_dog,0.177822,True,1147.0,4024.0,puppo
7276,756275833623502848,2016-07-21 23:53:04 +0000,Twitter for iPhone,When ur older siblings get to play in the deep...,https://twitter.com/dog_rates/status/756275833...,10,10,None,https://pbs.twimg.com/media/Cn7U2xlW8AI9Pqp.jpg,1.0,Airedale,0.602957,True,Irish_terrier,0.086981,True,bloodhound,0.086276,True,1444.0,6098.0,puppo
7298,752519690950500352,2016-07-11 15:07:30 +0000,Twitter for iPhone,Hopefully this puppo on a swing will help get ...,https://twitter.com/dog_rates/status/752519690...,11,10,None,https://pbs.twimg.com/media/CnF8qVDWYAAh0g1.jpg,3.0,swing,0.999984,False,Labrador_retriever,0.000010,True,Eskimo_dog,0.000001,True,3242.0,7026.0,puppo

In [48]:
master_copy.shape

(2175, 22)

#### Define

- Remove URLs from tweet texts

#### Code

In [49]:
string = master_copy.text.iloc[4]

In [50]:

for i in range(len(master_copy.text)):
    h = master_copy.text.iloc[i]
    try:
        indx = h.find(re.search("(?P<url>https?://[^\s]+)", h).group("url"))
        master_copy.text.iloc[i] = h[:indx].strip()
    except:
        master_copy.text.iloc[i] = h.strip()

/Users/mozaini/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

#### Test

In [51]:
master_copy.text.sample(5)

5993    This pupper is very passionate about Christmas...
49      This is Koko. Her owner, inspired by Barney, r...
5421    This is Chuckles. He had a balloon but he acci...
3403    Meet Reagan. He's a Persnicketus Derpson. Grea...
3517    This is Cedrick. He's a spookster. Did me a di...
Name: text, dtype: object

<br>

## Qaulity

- Missing values in cloumns `reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_user_id`, `retweeted_status_timestamp`, `doggo`, `floofer`, `pupper`, `puppo`, `expanded_urls`
- `text` comlumn contains retweets 
- `name` comlumn cintains Inappropriate names ["a", "the", "None",'O','all','old']
- Incorrect `expanded_urls` for `tweet_id` 812503143955202048 and 710609963652087808
- Incorrect `source`,`expanded_urls` for `tweet_id` 710609963652087808
- imporper datatypes (`in_reply_to_status_id`, `in_reply_to_user_id`, `timestamp`, `retweeted_status_id`, `retweeted_status_user_id`, `retweeted_status_timestamp`)
- Null values are represented as 'None' instead of 'NaN'
- Some tweet ids have invalid `rating_numerator` and `rating_denominator`
- There 137 duplicates

- The first issue listed under <b>Quality</b> has been delt with when fixing <b>Tidiness</b> issues

- Replace all string None in the dataset with np.nan 
#### Code

In [52]:
# Check nulls before run the code
master_copy.isnull().sum()

tweet_id                0
timestamp               0
source                  0
text                    0
expanded_urls          58
rating_numerator        0
rating_denominator      0
name                    0
jpg_url               181
img_num               181
p1                    181
p1_conf               181
p1_dog                181
p2                    181
p2_conf               181
p2_dog                181
p3                    181
p3_conf               181
p3_dog                181
retweet_count           8
likes_count             8
dog_stage               0
dtype: int64

In [53]:
# Replace all string None in the dataset with np.nan 
master_copy.replace(to_replace="None", value=np.nan, inplace =True)

#### Test

In [54]:
# Check nulls after running the code
master_copy.isnull().sum()

tweet_id                 0
timestamp                0
source                   0
text                     0
expanded_urls           58
rating_numerator         0
rating_denominator       0
name                   680
jpg_url                181
img_num                181
p1                     181
p1_conf                181
p1_dog                 181
p2                     181
p2_conf                181
p2_dog                 181
p3                     181
p3_conf                181
p3_dog                 181
retweet_count            8
likes_count              8
dog_stage             1831
dtype: int64

In [55]:
master_copy.name.isnull().sum()

680